<div class="cell medium-10 xlarge-4">
					
<div class="blog__item blog__item--small">
		<figure class="blog__image">
			<a href="/en/mediatheque/tag/musikfest2022" class="blog__link" aria-hidden="true" tabindex="-1">
				<div class="blog__image-wrapper">
					<picture class="blog__image-view" aria-hidden="true">
						<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/06/fc/06fc20d0-ed65-4b1f-88ae-e988f5afd11b/musikfest_2022_key_visual_1920_1080.jpg__452x409_q85_crop_subject_location-567%2C274_subsampling-2_upscale.jpg">
						<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/06/fc/06fc20d0-ed65-4b1f-88ae-e988f5afd11b/musikfest_2022_key_visual_1920_1080.jpg__110x99_q85_crop_subject_location-567%2C274_subsampling-2_upscale.jpg" alt="" data-image-loading>
					</picture>
					<picture class="blog__image-blurry">
						<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/06/fc/06fc20d0-ed65-4b1f-88ae-e988f5afd11b/musikfest_2022_key_visual_1920_1080.jpg__452x409_q85_crop_subject_location-567%2C274_subsampling-2_upscale.jpg">
						<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/06/fc/06fc20d0-ed65-4b1f-88ae-e988f5afd11b/musikfest_2022_key_visual_1920_1080.jpg__110x99_q85_crop_subject_location-567%2C274_subsampling-2_upscale.jpg" alt="Stories with the hashtag #MusicFestival2022"
							 title="" data-image-loading>
					</picture>
				</div>
				<div class="blog__image-line" data-line></div>
			</a>
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				<a href="/en/mediatheque/tag/musikfest2022" class="detail-link" data-name="Stories with the hashtag #MusicFestival2022">
					<span class="inner-title">Stories with the hashtag #MusicFestival2022</span>
				</a>
			</h3>
			<p class="blog__description">
				In this edition of the four-week festival the great Hamburg orchestras and star guests explore the theme of »nature«.
				<a href="/en/mediatheque/tag/musikfest2022" class="tag article-tag" data-name="#MusicFestival2022">
					#MusicFestival2022
				</a>
			</p>
                        
			<div class="blog__button">
				<a href="/en/mediatheque/tag/musikfest2022" class="link link-default detail-link" data-name="Stories with the hashtag #MusicFestival2022"
				   aria-hidden="true" tabindex="-1">
                                    <%if mediatheque.concerts.length > 0%>
					Discover more
                                        <%else%>
                                        
				</a>
			</div>
		</div>
	</div>




	<!-- /.teaser-box -->


				</div>
