<a href="/en/mediatheque/from-the-new-world-with-manfred-honeck/543" class="link-box search__link">
		<div class="text-box white-box search__item search__item--other">
      <aside class="search__item-content">
        <p class="overline">Mediatheque</p>
        <h3>»From the New World« with Manfred Honeck</h3>
        <p class="subline">The NDR Elbphilharmonie Orchestra plays Dvořák’s much-loved Ninth Symphony and celebrates the debut of the young star <%=params[:q]%>ist María Dueñas.</p>
      </aside>
      <figure class="search__item-figure">
        <img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/5a/6a/5a6a620d-c92b-4594-a604-5b28c477304c/manfred_honeck_portrait_2_1.jpg__200x200_q85_crop_subject_location-969%2C859_subsampling-2_upscale.jpg">
      </figure>
		</div>
	</a>

