
		<main class="content-container">
			
<div id="search_content_start_1"></div>
	<div style="display:none">blog</div>

<section class="blog grid-container">

    <header class="blog__header grid-x align-center">
      <div class="small-11 medium-10">
        <h1 class="blog__title">Mediatheque</h1>
        <a href="https://www.juliusbaer.com/en/about-us/our-company/sponsoring/#c11715" title="Presented by Julius Bär" target="_blank" class="blog__sponsor">Presented by
          <img src="https://d3c80vss50ue25.cloudfront.net/static/images/sponsor/julius-baer-black.1dcc3d4efd65.png" alt="Julius Bär Logo" class="blog__sponsor-img">
        </a>
      </div>
    </header>

	<aside data-anchor-sticky>
		<nav class="anchor-nav event-tabs media-library">
			<ul class="anchor-nav__list">
				<li class="anchor-nav__item">
					<a href="/en/mediatheque"
					   class="anchor-nav__link active"
             data-name="All"
             aria-current="page"
             >
						All
					</a>
				</li>
				
					<li class="anchor-nav__item">
						<a href="/en/mediatheque/category/streams"
						   class="anchor-nav__link "
               
						   data-name="Streams">
							Streams
						</a>
					</li>
				
					<li class="anchor-nav__item">
						<a href="/en/mediatheque/category/videos"
						   class="anchor-nav__link "
               
						   data-name="Videos">
							Videos
						</a>
					</li>
				
					<li class="anchor-nav__item">
						<a href="/en/mediatheque/category/articles"
						   class="anchor-nav__link "
               
						   data-name="Articles">
							Articles
						</a>
					</li>
				
					<li class="anchor-nav__item">
						<a href="/en/mediatheque/category/podcasts"
						   class="anchor-nav__link "
               
						   data-name="Podcasts">
							Podcasts
						</a>
					</li>
				
				<li class="anchor-nav__indicator"></li>
			</ul>
			<a href="/en/mediatheque/topics" class="show-all-tags show-for-large link link-default">
				Show all #topics
			</a>
		</nav>
	</aside>

	<a href="/en/mediatheque/topics" class="show-all-tags hide-for-large link link-default">
		Show all #topics
	</a>

   	<h2 class="show-for-sr">
   		
			All
		
	</h2>

	<div class="tag-filter text-left row mb-2">
		
	</div>
	
			<section class="blog__banner">
			
				
				<div class="blog__article">
					


<div class="blog__item blog__item--worldwide-large blog__item--on-demand tag-live-stream ">
	
		
	

	
		<div class="has-background">
			<figure class="has-dark-gradient">
				<picture>
					<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/22/b7/22b7c2e1-c378-4377-a6ae-a37d60aa651f/alpenlandschaft2_c_gemeinfrei.jpg__640x960_q85_crop_subsampling-2_upscale.jpg">
					<source media="(max-width: 840px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/22/b7/22b7c2e1-c378-4377-a6ae-a37d60aa651f/alpenlandschaft2_c_gemeinfrei.jpg__840x546_q85_crop_subsampling-2_upscale.jpg">
					<source media="(max-width: 1280px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/22/b7/22b7c2e1-c378-4377-a6ae-a37d60aa651f/alpenlandschaft2_c_gemeinfrei.jpg__1200x640_q85_crop_subsampling-2_upscale.jpg">
					<source media="(max-width: 1400px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/22/b7/22b7c2e1-c378-4377-a6ae-a37d60aa651f/alpenlandschaft2_c_gemeinfrei.jpg__840x740_q85_crop_subsampling-2_upscale.jpg">
					<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/22/b7/22b7c2e1-c378-4377-a6ae-a37d60aa651f/alpenlandschaft2_c_gemeinfrei.jpg__1300x1080_q85_crop_subsampling-2_upscale.jpg" title="" alt="">
				</picture>
			</figure>
		<!-- <img src="" class="img-cover" alt="" /> -->
	

		
			<a href="https://www.ndr.de/orchester_chor/elbphilharmonieorchester/audio_video/gilbert656-ardplayer.html" title="" class="blog__image-overlay blog__iframe play-btn fancybox-various fancybox-blog-stream "  data-lightbox >
				<span class="show-for-sr">Play Video</span>
				<span class="blog__play" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 124">
						<circle fill="#FF7800" fill-opacity=".25" stroke="#FF7800" stroke-width="4" cx="62" cy="62" r="60"/>
						<path fill="#FF7800" d="M53 45.6l24 15-24 15v-30z"/>
					</svg>
				</span>
			</a>
		

	
		<div class="blog__text-container">
			<div class="blog__text">
				<h3 class="no-line">
					
						<span class="preline">
							
							Video on demand from  25 Jun 2022 
							
							<span class="show-for-sr">:</span>
						</span>
						
					
					<a href="/en/mediatheque/ndr-elbphilharmonie-orchestra-alan-gilbert/744" class="blog__link detail-link" data-name="Watch the concert - NDR Elbphilharmonie Orchestra / Alan Gilbert">
						<span class="inner-title">NDR Elbphilharmonie Orchestra / Alan Gilbert</span>
					</a>
				</h3>
				<p class="blog__description">
					A musical excursion to the Alps: the Elbphilharmonie&#39;s orchestra in residence plays Richard Strauss&#39;s colossal »Alpensinfonie« in the Grand Hall.
					
						<a href="/en/mediatheque/tag/live-stream" class="tag article-tag" data-name="#LiveStream">#LiveStream</a>
					
				</p>
			</div>
			
				<!-- </a> -->
			
			
					<a href="/en/mediatheque/ndr-elbphilharmonie-orchestra-alan-gilbert/744" class="link link-default white blog__link detail-link" data-name="Watch the concert - NDR Elbphilharmonie Orchestra / Alan Gilbert" aria-hidden="true" tabindex="-1">Watch the concert</a>
			
		</div><!-- /.image-container -->

	</div>
		
		
		<!-- / .tag-list -->
	
</div><!-- /.teaser-box -->

				</div>
				
			
			
				
				<div class="blog__article-2">
					


<div class="blog__item blog__item--worldwide-small blog__item--other tag-Podcast tag-jazz tag-talk ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/elbphilharmonie-talk-with-pablo-held/753" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/b8/81/b881b19d-0f63-46d6-8c24-039a394c5647/ephh_talk_web_pablo_held.jpg__452x409_q85_crop_subject_location-1051%2C503_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/b8/81/b881b19d-0f63-46d6-8c24-039a394c5647/ephh_talk_web_pablo_held.jpg__110x99_q85_crop_subject_location-1051%2C503_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/b8/81/b881b19d-0f63-46d6-8c24-039a394c5647/ephh_talk_web_pablo_held.jpg__452x409_q85_crop_subject_location-1051%2C503_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/b8/81/b881b19d-0f63-46d6-8c24-039a394c5647/ephh_talk_web_pablo_held.jpg__110x99_q85_crop_subject_location-1051%2C503_subsampling-2_upscale.jpg" alt="Elbphilharmonie Talk with Pablo Held" title="Elbphilharmonie Talk mit Pablo Held © Elbphilharmonie / breeder typo" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/elbphilharmonie-talk-with-pablo-held/753" class="detail-link" data-name="Listen now (in German) - Elbphilharmonie Talk with Pablo Held">
					<span class="inner-title">Elbphilharmonie Talk with Pablo Held</span>
				</a>
			</h3>
			<p class="blog__description">
				Der Pianist übers Loslassen, Jugend-Idole und warum man Musik nicht verstehen muss, um sie zu genießen.
				
					<a href="/en/mediatheque/tag/Podcast" class="tag article-tag" data-name="#Podcast">#Podcast</a>
				
					<a href="/en/mediatheque/tag/jazz" class="tag article-tag" data-name="#Jazz">#Jazz</a>
				
					<a href="/en/mediatheque/tag/talk" class="tag article-tag" data-name="#Talk">#Talk</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/elbphilharmonie-talk-with-pablo-held/753" class="link link-default detail-link" data-name="Listen now (in German) - Elbphilharmonie Talk with Pablo Held" aria-hidden="true" tabindex="-1">Listen now (in German)</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
				
			
			</section>
			<div class="blog__list blog__list--masonry grid-x grid-margin-x lazy-loaded-blog align-center" id="blog-list">
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--video tag-world tag-explained ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/elbphilharmonie-explains-afrofuturism/752" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/92/43/9243ded7-df7b-463c-ba73-37eb6b610838/adyamtesfamariam_erklaert-afrofuturism.jpg__452x409_q85_crop_subject_location-1243%2C494_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/92/43/9243ded7-df7b-463c-ba73-37eb6b610838/adyamtesfamariam_erklaert-afrofuturism.jpg__110x99_q85_crop_subject_location-1243%2C494_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/92/43/9243ded7-df7b-463c-ba73-37eb6b610838/adyamtesfamariam_erklaert-afrofuturism.jpg__452x409_q85_crop_subject_location-1243%2C494_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/92/43/9243ded7-df7b-463c-ba73-37eb6b610838/adyamtesfamariam_erklaert-afrofuturism.jpg__110x99_q85_crop_subject_location-1243%2C494_subsampling-2_upscale.jpg" alt="Elbphilharmonie Explains: Afrofuturism" title="Adyam Tesfamariam © Elbphilharmonie Hamburg" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		
			<a href="https://www.youtube-nocookie.com/embed/LLfyg_SdboI?autoplay=true" title="Adyam Tesfamariam © Elbphilharmonie Hamburg" class="blog__image-overlay blog__iframe play-btn fancybox-various fancybox-blog-stream " data-lightbox>
				<span class="show-for-sr">Play Video</span>
				<span class="blog__play" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 124">
						<circle fill="#FF7800" fill-opacity=".25" stroke="#FF7800" stroke-width="4" cx="62" cy="62" r="60"/>
						<path fill="#FF7800" d="M53 45.6l24 15-24 15v-30z"/>
					</svg>
				</span>
			</a>
		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
					<span class="preline">
						
						<span class="show-for-sr">:</span>
					</span>
					
				
				<a href="/en/mediatheque/elbphilharmonie-explains-afrofuturism/752" class="detail-link" data-name="Watch now - Elbphilharmonie Explains: Afrofuturism">
					<span class="inner-title">Elbphilharmonie Explains: Afrofuturism</span>
				</a>
			</h3>
			<p class="blog__description">
				Afrofuturism expert Adyam Tesfamariam about the background and potential of this special artistic style and school of thought.
				
					<a href="/en/mediatheque/tag/world" class="tag article-tag" data-name="#World">#World</a>
				
					<a href="/en/mediatheque/tag/explained" class="tag article-tag" data-name="#Explained">#Explained</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/elbphilharmonie-explains-afrofuturism/752" class="link link-default detail-link" data-name="Watch now - Elbphilharmonie Explains: Afrofuturism" aria-hidden="true" tabindex="-1">Watch now</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--video tag-portrait tag-backstage tag-team ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/introducing-the-reception-desk-in-the-elbphilharmonie/754" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/1a/73/1a73f093-816a-4040-b389-60b47d0ec153/berufsvorstellungen_empfang.jpg__452x409_q85_crop_subject_location-399%2C487_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/1a/73/1a73f093-816a-4040-b389-60b47d0ec153/berufsvorstellungen_empfang.jpg__110x99_q85_crop_subject_location-399%2C487_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/1a/73/1a73f093-816a-4040-b389-60b47d0ec153/berufsvorstellungen_empfang.jpg__452x409_q85_crop_subject_location-399%2C487_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/1a/73/1a73f093-816a-4040-b389-60b47d0ec153/berufsvorstellungen_empfang.jpg__110x99_q85_crop_subject_location-399%2C487_subsampling-2_upscale.jpg" alt="Introducing: the reception desk in the Elbphilharmonie" title="Elbphilharmonie Empfang" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		
			<a href="https://www.youtube-nocookie.com/embed/CPP-WHxn7XQ?autoplay=true" title="Elbphilharmonie Empfang" class="blog__image-overlay blog__iframe play-btn fancybox-various fancybox-blog-stream " data-lightbox>
				<span class="show-for-sr">Play Video</span>
				<span class="blog__play" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 124">
						<circle fill="#FF7800" fill-opacity=".25" stroke="#FF7800" stroke-width="4" cx="62" cy="62" r="60"/>
						<path fill="#FF7800" d="M53 45.6l24 15-24 15v-30z"/>
					</svg>
				</span>
			</a>
		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
					<span class="preline">
						
						<span class="show-for-sr">:</span>
					</span>
					
				
				<a href="/en/mediatheque/introducing-the-reception-desk-in-the-elbphilharmonie/754" class="detail-link" data-name="Watch the video - Introducing: the reception desk in the Elbphilharmonie">
					<span class="inner-title">Introducing: the reception desk in the Elbphilharmonie</span>
				</a>
			</h3>
			<p class="blog__description">
				You often see bewildered faces in the backstage area: Where’s my dressing room? Which access card do I need for the cafeteria? Thankfully, the reception desk staff are always at hand!
				
					<a href="/en/mediatheque/tag/portrait" class="tag article-tag" data-name="#Portrait">#Portrait</a>
				
					<a href="/en/mediatheque/tag/backstage" class="tag article-tag" data-name="#Backstage">#Backstage</a>
				
					<a href="/en/mediatheque/tag/team" class="tag article-tag" data-name="#Team">#Team</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/introducing-the-reception-desk-in-the-elbphilharmonie/754" class="link link-default detail-link" data-name="Watch the video - Introducing: the reception desk in the Elbphilharmonie" aria-hidden="true" tabindex="-1">Watch the video</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--other tag-Podcast tag-talk ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/elbphilharmonie-talk-with-the-danish-string-quartet/751" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/87/87/8787a5ec-3e3d-4d54-a6c7-a2b3b73ac9ea/ephh_talk_web_danish_string_quartet.jpg__452x409_q85_crop_subject_location-960%2C539_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/87/87/8787a5ec-3e3d-4d54-a6c7-a2b3b73ac9ea/ephh_talk_web_danish_string_quartet.jpg__110x99_q85_crop_subject_location-960%2C539_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/87/87/8787a5ec-3e3d-4d54-a6c7-a2b3b73ac9ea/ephh_talk_web_danish_string_quartet.jpg__452x409_q85_crop_subject_location-960%2C539_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/87/87/8787a5ec-3e3d-4d54-a6c7-a2b3b73ac9ea/ephh_talk_web_danish_string_quartet.jpg__110x99_q85_crop_subject_location-960%2C539_subsampling-2_upscale.jpg" alt="Elbphilharmonie Talk with the Danish String Quartet" title="Danish String Quartet (Elbphilharmonie Talk) © Unbezeichnet" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/elbphilharmonie-talk-with-the-danish-string-quartet/751" class="detail-link" data-name="Listen now - Elbphilharmonie Talk with the Danish String Quartet">
					<span class="inner-title">Elbphilharmonie Talk with the Danish String Quartet</span>
				</a>
			</h3>
			<p class="blog__description">
				In the podcast, violinist Rune Tonsgaard Sørensen discusses the symbiosis between music and dance, and why, as a classical musician, it sometimes feels as if you were running a company.
				
					<a href="/en/mediatheque/tag/Podcast" class="tag article-tag" data-name="#Podcast">#Podcast</a>
				
					<a href="/en/mediatheque/tag/talk" class="tag article-tag" data-name="#Talk">#Talk</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/elbphilharmonie-talk-with-the-danish-string-quartet/751" class="link link-default detail-link" data-name="Listen now - Elbphilharmonie Talk with the Danish String Quartet" aria-hidden="true" tabindex="-1">Listen now</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--video tag-sessions tag-early-music tag-laeiszhalle ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/elbphilharmonie-sessions-voces-suaves/738" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/f9/33/f9338aed-bcc6-4781-87af-caee15f8ae2c/dasaltewerk_ep_sessions_voces_suaves_c_sophie_wolter_14.jpg__452x409_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/f9/33/f9338aed-bcc6-4781-87af-caee15f8ae2c/dasaltewerk_ep_sessions_voces_suaves_c_sophie_wolter_14.jpg__110x99_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/f9/33/f9338aed-bcc6-4781-87af-caee15f8ae2c/dasaltewerk_ep_sessions_voces_suaves_c_sophie_wolter_14.jpg__452x409_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/f9/33/f9338aed-bcc6-4781-87af-caee15f8ae2c/dasaltewerk_ep_sessions_voces_suaves_c_sophie_wolter_14.jpg__110x99_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg" alt="Elbphilharmonie Sessions: Voces Suaves" title="Voces Suaves auf dem Dachboden der Laeiszhalle © Sophie Wolter" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		
			<a href="https://www.youtube-nocookie.com/embed/62_bhUridvY?autoplay=true" title="Voces Suaves auf dem Dachboden der Laeiszhalle © Sophie Wolter" class="blog__image-overlay blog__iframe play-btn fancybox-various fancybox-blog-stream " data-lightbox>
				<span class="show-for-sr">Play Video</span>
				<span class="blog__play" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 124">
						<circle fill="#FF7800" fill-opacity=".25" stroke="#FF7800" stroke-width="4" cx="62" cy="62" r="60"/>
						<path fill="#FF7800" d="M53 45.6l24 15-24 15v-30z"/>
					</svg>
				</span>
			</a>
		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
					<span class="preline">
						
						<span class="show-for-sr">:</span>
					</span>
					
				
				<a href="/en/mediatheque/elbphilharmonie-sessions-voces-suaves/738" class="detail-link" data-name="Watch the video - Elbphilharmonie Sessions: Voces Suaves">
					<span class="inner-title">Elbphilharmonie Sessions: Voces Suaves</span>
				</a>
			</h3>
			<p class="blog__description">
				The Swiss vocal ensemble sings Claudio Monteverdi’s madrigal »O come è gran martire« on the attic of the Hamburg Laeiszhalle.
				
					<a href="/en/mediatheque/tag/sessions" class="tag article-tag" data-name="#Sessions">#Sessions</a>
				
					<a href="/en/mediatheque/tag/early-music" class="tag article-tag" data-name="#EarlyMusic">#EarlyMusic</a>
				
					<a href="/en/mediatheque/tag/laeiszhalle" class="tag article-tag" data-name="#Laeiszhalle">#Laeiszhalle</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/elbphilharmonie-sessions-voces-suaves/738" class="link link-default detail-link" data-name="Watch the video - Elbphilharmonie Sessions: Voces Suaves" aria-hidden="true" tabindex="-1">Watch the video</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--other tag-portrait tag-summer ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/das-chineke-orchestra-im-portrait/750" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/33/fa/33fa828b-d346-453f-83e0-2986c30a32a0/chineke-orchestra-bbc-proms-credit-mark-allan.jpg__452x409_q85_crop_subject_location-1029%2C743_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/33/fa/33fa828b-d346-453f-83e0-2986c30a32a0/chineke-orchestra-bbc-proms-credit-mark-allan.jpg__110x99_q85_crop_subject_location-1029%2C743_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/33/fa/33fa828b-d346-453f-83e0-2986c30a32a0/chineke-orchestra-bbc-proms-credit-mark-allan.jpg__452x409_q85_crop_subject_location-1029%2C743_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/33/fa/33fa828b-d346-453f-83e0-2986c30a32a0/chineke-orchestra-bbc-proms-credit-mark-allan.jpg__110x99_q85_crop_subject_location-1029%2C743_subsampling-2_upscale.jpg" alt="Das Chineke! Orchestra im Portrait" title="Das Chineke! Orchestra bei den BBC Proms © Mark Allan" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/das-chineke-orchestra-im-portrait/750" class="detail-link" data-name="Artikel lesen - Das Chineke! Orchestra im Portrait">
					<span class="inner-title">Das Chineke! Orchestra im Portrait</span>
				</a>
			</h3>
			<p class="blog__description">
				»Den Wandel vorantreiben und die Vielfalt in der klassischen Musik feiern« – ein ganz besonderes Ensemble erobert die Musikwelt.
				
					<a href="/en/mediatheque/tag/portrait" class="tag article-tag" data-name="#Portrait">#Portrait</a>
				
					<a href="/en/mediatheque/tag/summer" class="tag article-tag" data-name="#summer">#summer</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/das-chineke-orchestra-im-portrait/750" class="link link-default detail-link" data-name="Artikel lesen - Das Chineke! Orchestra im Portrait" aria-hidden="true" tabindex="-1">Artikel lesen</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--other tag-Podcast tag-contemporary-music tag-pop tag-talk ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/elbphilharmonie-talk-with-caroline-shaw/747" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/1f/e5/1fe58ee0-b7a5-455b-9cbd-2d25c09b5002/ephh_talk_web_caroline_shaw.jpg__452x409_q85_crop_subject_location-1271%2C677_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/1f/e5/1fe58ee0-b7a5-455b-9cbd-2d25c09b5002/ephh_talk_web_caroline_shaw.jpg__110x99_q85_crop_subject_location-1271%2C677_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/1f/e5/1fe58ee0-b7a5-455b-9cbd-2d25c09b5002/ephh_talk_web_caroline_shaw.jpg__452x409_q85_crop_subject_location-1271%2C677_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/1f/e5/1fe58ee0-b7a5-455b-9cbd-2d25c09b5002/ephh_talk_web_caroline_shaw.jpg__110x99_q85_crop_subject_location-1271%2C677_subsampling-2_upscale.jpg" alt="Elbphilharmonie Talk with Caroline Shaw" title="Caroline Shaw © Daniel Dittus" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/elbphilharmonie-talk-with-caroline-shaw/747" class="detail-link" data-name="Listen now - Elbphilharmonie Talk with Caroline Shaw">
					<span class="inner-title">Elbphilharmonie Talk with Caroline Shaw</span>
				</a>
			</h3>
			<p class="blog__description">
				The American musician talks about the magic of nature, about her own roots and the message contained in her album »Let the Soil Play Its Simple Part«.
				
					<a href="/en/mediatheque/tag/Podcast" class="tag article-tag" data-name="#Podcast">#Podcast</a>
				
					<a href="/en/mediatheque/tag/contemporary-music" class="tag article-tag" data-name="#ContemporaryMusic">#ContemporaryMusic</a>
				
					<a href="/en/mediatheque/tag/pop" class="tag article-tag" data-name="#Pop">#Pop</a>
				
					<a href="/en/mediatheque/tag/talk" class="tag article-tag" data-name="#Talk">#Talk</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/elbphilharmonie-talk-with-caroline-shaw/747" class="link link-default detail-link" data-name="Listen now - Elbphilharmonie Talk with Caroline Shaw" aria-hidden="true" tabindex="-1">Listen now</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--video tag-5-jahre-elbphilharmonie tag-sessions tag-jazz ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/elbphilharmonie-sessions-jason-moran/668" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/84/db/84db49c0-da60-41db-8772-76c3a4334425/211011_session_jason_moran_foyer_epgs_c_daniel_dittus_10.jpg__452x409_q85_crop_subject_location-948%2C632_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/84/db/84db49c0-da60-41db-8772-76c3a4334425/211011_session_jason_moran_foyer_epgs_c_daniel_dittus_10.jpg__110x99_q85_crop_subject_location-948%2C632_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/84/db/84db49c0-da60-41db-8772-76c3a4334425/211011_session_jason_moran_foyer_epgs_c_daniel_dittus_10.jpg__452x409_q85_crop_subject_location-948%2C632_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/84/db/84db49c0-da60-41db-8772-76c3a4334425/211011_session_jason_moran_foyer_epgs_c_daniel_dittus_10.jpg__110x99_q85_crop_subject_location-948%2C632_subsampling-2_upscale.jpg" alt="Elbphilharmonie Sessions: Jason Moran" title="Jason Moran © Daniel Dittus" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		
			<a href="https://www.youtube-nocookie.com/embed/uMM9mYDlJIM?autoplay=true" title="Jason Moran © Daniel Dittus" class="blog__image-overlay blog__iframe play-btn fancybox-various fancybox-blog-stream " data-lightbox>
				<span class="show-for-sr">Play Video</span>
				<span class="blog__play" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 124">
						<circle fill="#FF7800" fill-opacity=".25" stroke="#FF7800" stroke-width="4" cx="62" cy="62" r="60"/>
						<path fill="#FF7800" d="M53 45.6l24 15-24 15v-30z"/>
					</svg>
				</span>
			</a>
		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
					<span class="preline">
						
						<span class="show-for-sr">:</span>
					</span>
					
				
				<a href="/en/mediatheque/elbphilharmonie-sessions-jason-moran/668" class="detail-link" data-name="Watch the video - Elbphilharmonie Sessions: Jason Moran">
					<span class="inner-title">Elbphilharmonie Sessions: Jason Moran</span>
				</a>
			</h3>
			<p class="blog__description">
				The jazz pianist performs three of his own compositions in the foyer of the Grand Hall.
				
					<a href="/en/mediatheque/tag/5-jahre-elbphilharmonie" class="tag article-tag" data-name="#5YearsofElbphilharmonie">#5YearsofElbphilharmonie</a>
				
					<a href="/en/mediatheque/tag/sessions" class="tag article-tag" data-name="#Sessions">#Sessions</a>
				
					<a href="/en/mediatheque/tag/jazz" class="tag article-tag" data-name="#Jazz">#Jazz</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/elbphilharmonie-sessions-jason-moran/668" class="link link-default detail-link" data-name="Watch the video - Elbphilharmonie Sessions: Jason Moran" aria-hidden="true" tabindex="-1">Watch the video</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--other tag-tips ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/this-way/499" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/de/bb/debb0509-097d-4462-a1a6-86aabfcb79e2/idea_wegweiser_3000x2000_b3_breeder_typo.jpg__452x409_q85_crop_subject_location-1900%2C971_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/de/bb/debb0509-097d-4462-a1a6-86aabfcb79e2/idea_wegweiser_3000x2000_b3_breeder_typo.jpg__110x99_q85_crop_subject_location-1900%2C971_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/de/bb/debb0509-097d-4462-a1a6-86aabfcb79e2/idea_wegweiser_3000x2000_b3_breeder_typo.jpg__452x409_q85_crop_subject_location-1900%2C971_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/de/bb/debb0509-097d-4462-a1a6-86aabfcb79e2/idea_wegweiser_3000x2000_b3_breeder_typo.jpg__110x99_q85_crop_subject_location-1900%2C971_subsampling-2_upscale.jpg" alt="This way!" title="Wegweiser © breeder typo / Elbphilharmonie" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/this-way/499" class="detail-link" data-name="Read more - This way!">
					<span class="inner-title">This way!</span>
				</a>
			</h3>
			<p class="blog__description">
				A guide to the broad musical spectrum of the Elbphilharmonie and Laeiszhalle.
				
					<a href="/en/mediatheque/tag/tips" class="tag article-tag" data-name="#Tips">#Tips</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/this-way/499" class="link link-default detail-link" data-name="Read more - This way!" aria-hidden="true" tabindex="-1">Read more</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--video tag-5-jahre-elbphilharmonie tag-join-in tag-backstage ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/open-day-at-the-elbphilharmonie/745" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/dd/d7/ddd7ce0d-ed55-4953-815a-5742cb12cee4/220618_tag_der_offenen_tur_c_claudia_hohne_100.jpg__452x409_q85_crop_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/dd/d7/ddd7ce0d-ed55-4953-815a-5742cb12cee4/220618_tag_der_offenen_tur_c_claudia_hohne_100.jpg__110x99_q85_crop_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/dd/d7/ddd7ce0d-ed55-4953-815a-5742cb12cee4/220618_tag_der_offenen_tur_c_claudia_hohne_100.jpg__452x409_q85_crop_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/dd/d7/ddd7ce0d-ed55-4953-815a-5742cb12cee4/220618_tag_der_offenen_tur_c_claudia_hohne_100.jpg__110x99_q85_crop_subsampling-2_upscale.jpg" alt="Open Day at the Elbphilharmonie" title="" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		
			<a href="https://www.youtube.com/embed/4uxblXVbEWI" title="" class="blog__image-overlay blog__iframe play-btn fancybox-various fancybox-blog-stream " data-lightbox>
				<span class="show-for-sr">Play Video</span>
				<span class="blog__play" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 124">
						<circle fill="#FF7800" fill-opacity=".25" stroke="#FF7800" stroke-width="4" cx="62" cy="62" r="60"/>
						<path fill="#FF7800" d="M53 45.6l24 15-24 15v-30z"/>
					</svg>
				</span>
			</a>
		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
					<span class="preline">
						
						<span class="show-for-sr">:</span>
					</span>
					
				
				<a href="/en/mediatheque/open-day-at-the-elbphilharmonie/745" class="detail-link" data-name="Discover more - Open Day at the Elbphilharmonie">
					<span class="inner-title">Open Day at the Elbphilharmonie</span>
				</a>
			</h3>
			<p class="blog__description">
				On 18/19 June 2022, the Elbphilharmonie opened its doors to the public. Some 17,000 people came to explore the foyers, the concert halls and the backstage areas. A look back at the event.
				
					<a href="/en/mediatheque/tag/5-jahre-elbphilharmonie" class="tag article-tag" data-name="#5YearsofElbphilharmonie">#5YearsofElbphilharmonie</a>
				
					<a href="/en/mediatheque/tag/join-in" class="tag article-tag" data-name="#JoinIn">#JoinIn</a>
				
					<a href="/en/mediatheque/tag/backstage" class="tag article-tag" data-name="#Backstage">#Backstage</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/open-day-at-the-elbphilharmonie/745" class="link link-default detail-link" data-name="Discover more - Open Day at the Elbphilharmonie" aria-hidden="true" tabindex="-1">Discover more</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--other tag-interview ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/europe-in-the-genes-america-in-the-heart/749" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/90/d8/90d8e44f-a123-4f9a-a5d5-480e1cc0c8ce/manfred_honeck_c_george_lange_2.jpg__452x409_q85_crop_subject_location-1207%2C311_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/90/d8/90d8e44f-a123-4f9a-a5d5-480e1cc0c8ce/manfred_honeck_c_george_lange_2.jpg__110x99_q85_crop_subject_location-1207%2C311_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/90/d8/90d8e44f-a123-4f9a-a5d5-480e1cc0c8ce/manfred_honeck_c_george_lange_2.jpg__452x409_q85_crop_subject_location-1207%2C311_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/90/d8/90d8e44f-a123-4f9a-a5d5-480e1cc0c8ce/manfred_honeck_c_george_lange_2.jpg__110x99_q85_crop_subject_location-1207%2C311_subsampling-2_upscale.jpg" alt="Europe in the genes, America in the heart" title="Manfred Honeck © George Lange" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/europe-in-the-genes-america-in-the-heart/749" class="detail-link" data-name="Read the interview - Europe in the genes, America in the heart">
					<span class="inner-title">Europe in the genes, America in the heart</span>
				</a>
			</h3>
			<p class="blog__description">
				Manfred Honeck, chief conductor of the Pittsburgh Symphony Orchestra, on the traditions and peculiarities of American orchestras.
				
					<a href="/en/mediatheque/tag/interview" class="tag article-tag" data-name="#Interview">#Interview</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/europe-in-the-genes-america-in-the-heart/749" class="link link-default detail-link" data-name="Read the interview - Europe in the genes, America in the heart" aria-hidden="true" tabindex="-1">Read the interview</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--other tag-Podcast tag-contemporary-music tag-talk tag-musikfest2022 ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/elbphilharmonie-talk-mit-so-percussion/746" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/62/3e/623e5735-f48e-4f2a-b04b-75de7b84da8e/ephh_talk_web_so_percussion_2.jpg__452x409_q85_crop_subject_location-896%2C878_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/62/3e/623e5735-f48e-4f2a-b04b-75de7b84da8e/ephh_talk_web_so_percussion_2.jpg__110x99_q85_crop_subject_location-896%2C878_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/62/3e/623e5735-f48e-4f2a-b04b-75de7b84da8e/ephh_talk_web_so_percussion_2.jpg__452x409_q85_crop_subject_location-896%2C878_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/62/3e/623e5735-f48e-4f2a-b04b-75de7b84da8e/ephh_talk_web_so_percussion_2.jpg__110x99_q85_crop_subject_location-896%2C878_subsampling-2_upscale.jpg" alt="Elbphilharmonie Talk mit Sō Percussion" title="" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/elbphilharmonie-talk-mit-so-percussion/746" class="detail-link" data-name="Listen now (in German) - Elbphilharmonie Talk mit Sō Percussion">
					<span class="inner-title">Elbphilharmonie Talk mit Sō Percussion</span>
				</a>
			</h3>
			<p class="blog__description">
				Neugier und Offenheit gehören zu ihrem Selbstverständnis: Die Musiker von Sō Percussion erzählen, warum es nichts Schöneres gibt, als sich mit Komponist:innen aus aller Welt kreativ auszutauschen.
				
					<a href="/en/mediatheque/tag/Podcast" class="tag article-tag" data-name="#Podcast">#Podcast</a>
				
					<a href="/en/mediatheque/tag/contemporary-music" class="tag article-tag" data-name="#ContemporaryMusic">#ContemporaryMusic</a>
				
					<a href="/en/mediatheque/tag/talk" class="tag article-tag" data-name="#Talk">#Talk</a>
				
					<a href="/en/mediatheque/tag/musikfest2022" class="tag article-tag" data-name="#MusicFestival2022">#MusicFestival2022</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/elbphilharmonie-talk-mit-so-percussion/746" class="link link-default detail-link" data-name="Listen now (in German) - Elbphilharmonie Talk mit Sō Percussion" aria-hidden="true" tabindex="-1">Listen now (in German)</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--on-demand tag-laeiszhalle tag-musikfest2022 ">
	
		
	

	
		<figure class="blog__image">
			
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/63/66/6366b263-f64e-40a9-a574-dec8ca5e41fc/220516_lesadieux_patricia_kopatchinskaja_mahler_chamber_lhgs_c_daniel_dittus_16.jpg__452x409_q85_crop_subject_location-914%2C777_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/63/66/6366b263-f64e-40a9-a574-dec8ca5e41fc/220516_lesadieux_patricia_kopatchinskaja_mahler_chamber_lhgs_c_daniel_dittus_16.jpg__110x99_q85_crop_subject_location-914%2C777_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/63/66/6366b263-f64e-40a9-a574-dec8ca5e41fc/220516_lesadieux_patricia_kopatchinskaja_mahler_chamber_lhgs_c_daniel_dittus_16.jpg__452x409_q85_crop_subject_location-914%2C777_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/63/66/6366b263-f64e-40a9-a574-dec8ca5e41fc/220516_lesadieux_patricia_kopatchinskaja_mahler_chamber_lhgs_c_daniel_dittus_16.jpg__110x99_q85_crop_subject_location-914%2C777_subsampling-2_upscale.jpg" alt="Patricia Kopatchinskaja / Mahler Chamber Orchestra" title="»Les Adieux« © Daniel Dittus" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
			
	

		
			<a href="https://www.youtube-nocookie.com/embed/wx7fFwOKtQM?autoplay=true" title="»Les Adieux« © Daniel Dittus" class="blog__image-overlay blog__iframe play-btn fancybox-various fancybox-blog-stream "  data-lightbox >
				<span class="show-for-sr">Play Video</span>
				<span class="blog__play" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 124">
						<circle fill="#FF7800" fill-opacity=".25" stroke="#FF7800" stroke-width="4" cx="62" cy="62" r="60"/>
						<path fill="#FF7800" d="M53 45.6l24 15-24 15v-30z"/>
					</svg>
				</span>
			</a>
		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
					<span class="preline">
						
							Video on demand from  16 May 2022 
							
						<span class="show-for-sr">:</span>
					</span>
					
				
				<a href="/en/mediatheque/patricia-kopatchinskaja-mahler-chamber-orchestra/730" class="detail-link" data-name="Watch the concert - Patricia Kopatchinskaja / Mahler Chamber Orchestra">
					<span class="inner-title">Patricia Kopatchinskaja / Mahler Chamber Orchestra</span>
				</a>
			</h3>
			<p class="blog__description">
				With her project »Les Adieux« the exceptional artist makes a statement on climate change and conservation – a concert film from the Laeiszhalle.
				
					<a href="/en/mediatheque/tag/laeiszhalle" class="tag article-tag" data-name="#Laeiszhalle">#Laeiszhalle</a>
				
					<a href="/en/mediatheque/tag/musikfest2022" class="tag article-tag" data-name="#MusicFestival2022">#MusicFestival2022</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/patricia-kopatchinskaja-mahler-chamber-orchestra/730" class="link link-default detail-link" data-name="Watch the concert - Patricia Kopatchinskaja / Mahler Chamber Orchestra" aria-hidden="true" tabindex="-1">Watch the concert</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--other tag-innerview tag-interview tag-jazz tag-portrait ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/elbphilharmonie-innerview-laura-jurd/741" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/7c/01/7c011364-1192-4372-9509-7c5e0e1f5256/220512_innerviews_laura_jurd_dinosaur_c_daniel_dittus_49.jpg__452x409_q85_crop_subject_location-1106%2C485_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/7c/01/7c011364-1192-4372-9509-7c5e0e1f5256/220512_innerviews_laura_jurd_dinosaur_c_daniel_dittus_49.jpg__110x99_q85_crop_subject_location-1106%2C485_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/7c/01/7c011364-1192-4372-9509-7c5e0e1f5256/220512_innerviews_laura_jurd_dinosaur_c_daniel_dittus_49.jpg__452x409_q85_crop_subject_location-1106%2C485_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/7c/01/7c011364-1192-4372-9509-7c5e0e1f5256/220512_innerviews_laura_jurd_dinosaur_c_daniel_dittus_49.jpg__110x99_q85_crop_subject_location-1106%2C485_subsampling-2_upscale.jpg" alt="Elbphilharmonie Innerview: Laura Jurd" title="Laura Jurd © Daniel Dittus" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/elbphilharmonie-innerview-laura-jurd/741" class="detail-link" data-name="Video ansehen - Elbphilharmonie Innerview: Laura Jurd">
					<span class="inner-title">Elbphilharmonie Innerview: Laura Jurd</span>
				</a>
			</h3>
			<p class="blog__description">
				»Da beginnt der wahre Spaß« – die junge Trompeterin Laura Jurd über gemeinsame Improvisation, über die Kraft des Waldes und ihre Liebe zum Jazz.
				
					<a href="/en/mediatheque/tag/innerview" class="tag article-tag" data-name="#Innerview">#Innerview</a>
				
					<a href="/en/mediatheque/tag/interview" class="tag article-tag" data-name="#Interview">#Interview</a>
				
					<a href="/en/mediatheque/tag/jazz" class="tag article-tag" data-name="#Jazz">#Jazz</a>
				
					<a href="/en/mediatheque/tag/portrait" class="tag article-tag" data-name="#Portrait">#Portrait</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/elbphilharmonie-innerview-laura-jurd/741" class="link link-default detail-link" data-name="Video ansehen - Elbphilharmonie Innerview: Laura Jurd" aria-hidden="true" tabindex="-1">Video ansehen</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--other tag-Podcast tag-Kids tag-kopfhoerer ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/elbphilharmonie-kopfhorer-19-beastly-musical/742" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/4b/20/4b206ccc-0498-4c45-9631-6bffb2fbe820/podcast_ephh_kopfhorer_web_folge_19.jpg__452x409_q85_crop_subject_location-2492%2C990_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/4b/20/4b206ccc-0498-4c45-9631-6bffb2fbe820/podcast_ephh_kopfhorer_web_folge_19.jpg__110x99_q85_crop_subject_location-2492%2C990_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/4b/20/4b206ccc-0498-4c45-9631-6bffb2fbe820/podcast_ephh_kopfhorer_web_folge_19.jpg__452x409_q85_crop_subject_location-2492%2C990_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/4b/20/4b206ccc-0498-4c45-9631-6bffb2fbe820/podcast_ephh_kopfhorer_web_folge_19.jpg__110x99_q85_crop_subject_location-2492%2C990_subsampling-2_upscale.jpg" alt="Elbphilharmonie Kopfhörer #19 – Beastly musical" title="Podcast »Elbphilharmonie Kopfhörer«, Folge 19: Tierisch musikalisch © Elbphilharmonie / breeder typo" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/elbphilharmonie-kopfhorer-19-beastly-musical/742" class="detail-link" data-name="Listen now (in German) - Elbphilharmonie Kopfhörer #19 – Beastly musical">
					<span class="inner-title">Elbphilharmonie Kopfhörer #19 – Beastly musical</span>
				</a>
			</h3>
			<p class="blog__description">
				The podcast for young people – this time with sounds from the animal world.
				
					<a href="/en/mediatheque/tag/Podcast" class="tag article-tag" data-name="#Podcast">#Podcast</a>
				
					<a href="/en/mediatheque/tag/Kids" class="tag article-tag" data-name="#Kids">#Kids</a>
				
					<a href="/en/mediatheque/tag/kopfhoerer" class="tag article-tag" data-name="#Kopfhörer">#Kopfhörer</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/elbphilharmonie-kopfhorer-19-beastly-musical/742" class="link link-default detail-link" data-name="Listen now (in German) - Elbphilharmonie Kopfhörer #19 – Beastly musical" aria-hidden="true" tabindex="-1">Listen now (in German)</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--other tag-Podcast tag-talk ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/elbphilharmonie-talk-with-roman-bunka/743" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/55/fa/55fafee6-90cf-4c22-a2b3-22713fa642b1/ephh_talk_bunka_web.jpg__452x409_q85_crop_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/55/fa/55fafee6-90cf-4c22-a2b3-22713fa642b1/ephh_talk_bunka_web.jpg__110x99_q85_crop_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/55/fa/55fafee6-90cf-4c22-a2b3-22713fa642b1/ephh_talk_bunka_web.jpg__452x409_q85_crop_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/55/fa/55fafee6-90cf-4c22-a2b3-22713fa642b1/ephh_talk_bunka_web.jpg__110x99_q85_crop_subsampling-2_upscale.jpg" alt="Elbphilharmonie Talk with Roman Bunka" title="" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/elbphilharmonie-talk-with-roman-bunka/743" class="detail-link" data-name="Listen now (in German) - Elbphilharmonie Talk with Roman Bunka">
					<span class="inner-title">Elbphilharmonie Talk with Roman Bunka</span>
				</a>
			</h3>
			<p class="blog__description">
				Epitaph for Roman Bunka, one of the greats of World Music.
				
					<a href="/en/mediatheque/tag/Podcast" class="tag article-tag" data-name="#Podcast">#Podcast</a>
				
					<a href="/en/mediatheque/tag/talk" class="tag article-tag" data-name="#Talk">#Talk</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/elbphilharmonie-talk-with-roman-bunka/743" class="link link-default detail-link" data-name="Listen now (in German) - Elbphilharmonie Talk with Roman Bunka" aria-hidden="true" tabindex="-1">Listen now (in German)</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--on-demand tag-live-stream tag-musikfest2022 ">
	
		
	

	
		<figure class="blog__image">
			
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/b1/c4/b1c4545b-ba00-46a6-9471-d76575ef116b/yannick_nezet-seguin_c_jan_regan.jpg__452x409_q85_crop_subject_location-1097%2C677_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/b1/c4/b1c4545b-ba00-46a6-9471-d76575ef116b/yannick_nezet-seguin_c_jan_regan.jpg__110x99_q85_crop_subject_location-1097%2C677_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/b1/c4/b1c4545b-ba00-46a6-9471-d76575ef116b/yannick_nezet-seguin_c_jan_regan.jpg__452x409_q85_crop_subject_location-1097%2C677_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/b1/c4/b1c4545b-ba00-46a6-9471-d76575ef116b/yannick_nezet-seguin_c_jan_regan.jpg__110x99_q85_crop_subject_location-1097%2C677_subsampling-2_upscale.jpg" alt="Bavarian Radio Symphony Orchestra / Yannick Nézet-Séguin" title="Yannick Nézet-Séguin © Jan Regan" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
			
	

		
			<a href="https://www.youtube-nocookie.com/embed/Ng21yCJZksk?autoplay=true" title="Yannick Nézet-Séguin © Jan Regan" class="blog__image-overlay blog__iframe play-btn fancybox-various fancybox-blog-stream "  data-lightbox >
				<span class="show-for-sr">Play Video</span>
				<span class="blog__play" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 124">
						<circle fill="#FF7800" fill-opacity=".25" stroke="#FF7800" stroke-width="4" cx="62" cy="62" r="60"/>
						<path fill="#FF7800" d="M53 45.6l24 15-24 15v-30z"/>
					</svg>
				</span>
			</a>
		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
					<span class="preline">
						
							Video on demand from  11 May 2022 
							
						<span class="show-for-sr">:</span>
					</span>
					
				
				<a href="/en/mediatheque/bavarian-radio-symphony-orchestra-yannick-nezet-seguin/715" class="detail-link" data-name="Discover more - Bavarian Radio Symphony Orchestra / Yannick Nézet-Séguin">
					<span class="inner-title">Bavarian Radio Symphony Orchestra / Yannick Nézet-Séguin</span>
				</a>
			</h3>
			<p class="blog__description">
				A truly beautiful programme of music from the Romantic era to the present day, featuring a special highlight: Clara Schumann&#39;s Piano Concerto with keyboard virtuoso Beatrice Rana.
				
					<a href="/en/mediatheque/tag/live-stream" class="tag article-tag" data-name="#LiveStream">#LiveStream</a>
				
					<a href="/en/mediatheque/tag/musikfest2022" class="tag article-tag" data-name="#MusicFestival2022">#MusicFestival2022</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/bavarian-radio-symphony-orchestra-yannick-nezet-seguin/715" class="link link-default detail-link" data-name="Discover more - Bavarian Radio Symphony Orchestra / Yannick Nézet-Séguin" aria-hidden="true" tabindex="-1">Discover more</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--other tag-Podcast tag-talk ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/elbphilharmonie-talk-with-klaus-makela/737" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/f9/92/f9922d46-c2fa-4898-89be-7448bc234c76/ephh_talk_web_makela.jpg__452x409_q85_crop_subject_location-1170%2C411_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/f9/92/f9922d46-c2fa-4898-89be-7448bc234c76/ephh_talk_web_makela.jpg__110x99_q85_crop_subject_location-1170%2C411_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/f9/92/f9922d46-c2fa-4898-89be-7448bc234c76/ephh_talk_web_makela.jpg__452x409_q85_crop_subject_location-1170%2C411_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/f9/92/f9922d46-c2fa-4898-89be-7448bc234c76/ephh_talk_web_makela.jpg__110x99_q85_crop_subject_location-1170%2C411_subsampling-2_upscale.jpg" alt="Elbphilharmonie Talk with Klaus Mäkelä" title="" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/elbphilharmonie-talk-with-klaus-makela/737" class="detail-link" data-name="Listen now - Elbphilharmonie Talk with Klaus Mäkelä">
					<span class="inner-title">Elbphilharmonie Talk with Klaus Mäkelä</span>
				</a>
			</h3>
			<p class="blog__description">
				The Finnish conductor talks about the composer Sibelius, the differences between the Orchestre de Paris and the Oslo Philharmonic, and why he would describe himself as a hotel person.
				
					<a href="/en/mediatheque/tag/Podcast" class="tag article-tag" data-name="#Podcast">#Podcast</a>
				
					<a href="/en/mediatheque/tag/talk" class="tag article-tag" data-name="#Talk">#Talk</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/elbphilharmonie-talk-with-klaus-makela/737" class="link link-default detail-link" data-name="Listen now - Elbphilharmonie Talk with Klaus Mäkelä" aria-hidden="true" tabindex="-1">Listen now</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4" data-grid>
				


<div class="blog__item blog__item--small blog__item--other tag-interview tag-musikfest2022 ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/patricia-kopatchinskaja-les-adieux/703" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/f3/d1/f3d1bf8a-26b9-4ee9-a9a2-286739eb84ab/collage_les_adieux_kopie1.jpg__452x409_q85_crop_subject_location-960%2C997_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/f3/d1/f3d1bf8a-26b9-4ee9-a9a2-286739eb84ab/collage_les_adieux_kopie1.jpg__110x99_q85_crop_subject_location-960%2C997_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/f3/d1/f3d1bf8a-26b9-4ee9-a9a2-286739eb84ab/collage_les_adieux_kopie1.jpg__452x409_q85_crop_subject_location-960%2C997_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/f3/d1/f3d1bf8a-26b9-4ee9-a9a2-286739eb84ab/collage_les_adieux_kopie1.jpg__110x99_q85_crop_subject_location-960%2C997_subsampling-2_upscale.jpg" alt="Patricia Kopatchinskaja: Les Adieux" title="Collage »Les Adieux« © Lani Tran-Duc" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/patricia-kopatchinskaja-les-adieux/703" class="detail-link" data-name="Read the article - Patricia Kopatchinskaja: Les Adieux">
					<span class="inner-title">Patricia Kopatchinskaja: Les Adieux</span>
				</a>
			</h3>
			<p class="blog__description">
				How much time have we got left on Earth? The vivacious violinist talks about her latest project.
				
					<a href="/en/mediatheque/tag/interview" class="tag article-tag" data-name="#Interview">#Interview</a>
				
					<a href="/en/mediatheque/tag/musikfest2022" class="tag article-tag" data-name="#MusicFestival2022">#MusicFestival2022</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/patricia-kopatchinskaja-les-adieux/703" class="link link-default detail-link" data-name="Read the article - Patricia Kopatchinskaja: Les Adieux" aria-hidden="true" tabindex="-1">Read the article</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
		</div>
	

	
		<footer class="blog__footer grid-container">
			<div class="grid-x grid-margin-x">
				<div class="cell text-center">
            <a href="/en/mediatheque/2" class="link link-default button secondary blog__loadmore">
        				More stories
        			</a>
              <div class="blog__loading loading-animation"></div>
        		</div>
        	</div>
        </footer>
		<div class="spacer"></div>
	

</section>



<div id="search_content_end_1"></div>



      

<aside class="merklist-modal">
	<div class="merklist-modal__wrapper">
		<button class="merklist-modal__close js-merklist-modal__close" type="button" title="Close"></button>
    <!-- MODAL: login -->
    <div class="merklist-modal__content" data-modal="login">
      <p class="merklist-modal__title line-center h3">Saved events</p>
      <p class="merklist-modal__text">Login required. If you do not have an Elbphilharmonie customer account, registering is quick and easy.</p>
      <div class="merklist-modal__button">
        <a href="#" class="button link link-default merklist-modal__account">Log in or register</a>
      </div>
    </div>
    <!-- MODAL: alert check -->
    <div class="merklist-modal__content" data-modal="alert" style="display: none;">
      <p class="merklist-modal__title line-center h3">Your selection</p>
      <label  class="merklist-modal__label">
      <input type="radio" name="alert" class="merklist-modal__radio" value="1">
        <span>Add to saved events</span>
      </label>
      <label class="merklist-modal__label">
      <input type="radio" name="alert" class="merklist-modal__radio" value="2" checked>
        <span>Activate ticket alert</span>
        <span class="merklist-modal__text">You will receive an email alert one day before tickets go on sale.</span>
      </label>
      <div class="merklist-modal__button">
        <button type="button" class="button link link-default merklist-modal__save">Confirm</button>
      </div>
    </div>
    <!-- MODAL: alert uncheck -->
    <div class="merklist-modal__content" data-modal="uncheck" style="display: none;">
      <p class="merklist-modal__title line-center h3">Edit events saved</p>
      <label class="merklist-modal__label">
        <input type="radio" name="uncheck" class="merklist-modal__radio" value="1" checked>
        <span>Deactivate ticket alert</span>
      </label>
      <label  class="merklist-modal__label">
        <input type="radio" name="uncheck" class="merklist-modal__radio" value="DELETE">
        <span>Remove event from my saved events</span>
      </label>
      <div class="merklist-modal__button">
        <button type="button" class="button link link-default merklist-modal__save">Confirm</button>
      </div>
    </div>
	</div>
</aside>

      <aside class="blog__lightbox">
  <div class="blog__lightbox-container">
    <button class="blog__lightbox-close" title="Close modal"></button>
    <div class="blog__lightbox-wrapper">
      <iframe src="" frameborder="0" id="blog-iframe" class="blog__lightbox-iframe" allow="fullscreen"></iframe>
    </div>
  </div>
</aside>

		</main>

		
			

