<main>
			<div id="content-container" class="content-container--facelift">
				
    
                                  
        <section>
            <div class="spacer"></div>

            <div class="content-row row-big">
	            <div class="large-offset-3 large-9 small-offset-0 small-12 columns">
            
                    <div class="spacer"></div>
                    <h2>Log out</h2>
                    <div class="system-errormessage shop-text">
                        You have successfully logged out.
                    </div>
                    <div class="spacer"></div>
			        <a href="/en/whats-on/?basket_link" class="read-more">Go to what’s on</a>
	            </div>
            </div>

            <div class="spacer xl"></div>
		</section>
    

			</div> <!-- content-container -->
		</main>