<aside class="blog-home__article blog__article small-12 xlarge-5">
		


<div class="blog__item blog__item--worldwide-large blog__item--on-demand tag-live-stream tag-musikfest2022 ">
	
		
	

	
		<div class="has-background">
			<figure class="has-dark-gradient">
				<picture>
					<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/cd/cf/cdcf37d0-7f6d-4ab5-8f58-8cf0837c3a46/gilbert_alan_c_peter_hundert.jpg__640x960_q85_crop_subject_location-1343%2C667_subsampling-2_upscale.jpg">
					<source media="(max-width: 840px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/cd/cf/cdcf37d0-7f6d-4ab5-8f58-8cf0837c3a46/gilbert_alan_c_peter_hundert.jpg__840x546_q85_crop_subject_location-1343%2C667_subsampling-2_upscale.jpg">
					<source media="(max-width: 1280px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/cd/cf/cdcf37d0-7f6d-4ab5-8f58-8cf0837c3a46/gilbert_alan_c_peter_hundert.jpg__1200x640_q85_crop_subject_location-1343%2C667_subsampling-2_upscale.jpg">
					<source media="(max-width: 1400px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/cd/cf/cdcf37d0-7f6d-4ab5-8f58-8cf0837c3a46/gilbert_alan_c_peter_hundert.jpg__840x740_q85_crop_subject_location-1343%2C667_subsampling-2_upscale.jpg">
					<img src="/index_files/gilbert_alan_c_peter_hundert.jpg__1300x1080_q85_crop_subject_location-1343,667_subsampling-2_upscale.jpg" title="Alan Gilbert © Peter Hundert" alt="">
				</picture>
			</figure>
		<!-- <img src="" class="img-cover" alt="" /> -->
	

		
			<a href="https://www.ndr.de/orchester_chor/elbphilharmonieorchester/audio_video/schoepfung142-ardplayer.html" title="Alan Gilbert © Peter Hundert" class="blog__image-overlay blog__iframe play-btn fancybox-various fancybox-blog-stream " data-lightbox="">
				<span class="show-for-sr">Play Video</span>
				<span class="blog__play" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 124">
						<circle fill="#FF7800" fill-opacity=".25" stroke="#FF7800" stroke-width="4" cx="62" cy="62" r="60"></circle>
						<path fill="#FF7800" d="M53 45.6l24 15-24 15v-30z"></path>
					</svg>
				</span>
			</a>
		

	
		<div class="blog__text-container">
			<div class="blog__text">
				<h3 class="no-line">
					
						<span class="preline">
							
							Video on demand from  29 Apr 2022 
							
							<span class="show-for-sr">:</span>
						</span>
						
					
					<a href="/en/mediatheque/haydn-the-creation/717" class="blog__link detail-link" data-name="Discover more - Haydn: The Creation">
						<span class="inner-title">Haydn: The Creation</span>
					</a>
				</h3>
				<p class="blog__description">
					The opening concert of the Hamburg International Music Festival with the NDR Elbphilharmonie Orchestra under Alan Gilbert as a live stream from the Elbphilharmonie.
					
						<a href="/en/mediatheque/tag/live-stream" class="tag article-tag" data-name="#LiveStream">#LiveStream</a>
					
						<a href="/en/mediatheque/tag/musikfest2022" class="tag article-tag" data-name="#MusicFestival2022">#MusicFestival2022</a>
					
				</p>
			</div>
			
				<!-- </a> -->
			
			
					<a href="/en/mediatheque/haydn-the-creation/717" class="link link-default white blog__link detail-link" data-name="Discover more - Haydn: The Creation" aria-hidden="true" tabindex="-1">Discover more</a>
			
		</div><!-- /.image-container -->

	</div>
		
		
		<!-- / .tag-list -->
	
</div><!-- /.teaser-box -->

	</aside>
