<%=form_with scope: "", model: user, url: updatemyuserpw_path,html: {name: "form", class: "shop-form shop-form--facelift ng-pristine ng-scope ng-invalid ng-invalid-required", "ng-if"=>"!success", novalidate: ""} do |form|%>

        <div class="content-row row-big">
            <div class="large-offset-3 large-6 small-offset-0 small-12 columns">
                <div class="shop-text ng-binding">Please enter your new password.</div>
            </div>
        </div>
        <div class="spacer"></div>

        <div class="content-row row-big">
            <div class="large-offset-1 large-8 small-offset-0 small-12 columns">

                <div class="shop-form-row">
                    <div class="label-wrapper">
                        <label for="password1" class="ng-binding">
                            Password
                        </label>
                    </div>
                    <div class="shop-form-item">
                        <%=form.password_field :password1, id: "password1", autocomplete: "new-password", "ng-model"=>"password1", required: "", class: "ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"%>
                        <%if !user.errors[:password1].blank?%>
                        <label class="validation-error ng-binding ng-hide" for="password1" ng-show="submitted &amp;&amp; form['password1'].$invalid">
                            Please enter your new password.
                        </label>
                          <%end%>
                    </div>
                </div>

                <div class="shop-form-row">
                    <div class="label-wrapper">
                        <label for="password2" class="ng-binding">
                            Confirm password
                        </label>
                    </div>
                    <div class="shop-form-item">
                        <%=form.password_field :password2, id: "password2", autocomplete: "new-password", "ng-model"=>"password2", required: "", class: "ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"%>
                        <%if !user.errors[:password2].blank?%>
                          <label class="validation-error ng-binding ng-hide" for="password2" ng-show="submitted &amp;&amp; form['password2'].$invalid">
                            Please enter your new password a second time.
                        </label>
                          <%end%>
                        <%if user.errors.details[:password].any?{|h|h[:error] == :invalid} || user.errors.details[:password].any?{|h|h[:error] == :too_short} || user.errors.details[:password].any?{|h|h[:error] == :too_long}%>

                        <label class="validation-hint ng-binding">
                            Password must contain a minimum of eight symbols, capital letters, lower case letters and numbers.
                        </label>
                        <%end%>
                    </div>
                </div>
                <div class="spacer"></div>
            </div>
        </div>

        <div class="content-row row-big">
            <div class="large-offset-3 large-6 small-offset-0 small-12 columns">
                <%if user.errors.details[:password].any?{|h|h[:error] == :invalid} || user.errors.details[:password].any?{|h|h[:error] == :too_short} || user.errors.details[:password].any?{|h|h[:error] == :too_long}%>
                <div class="validation-error ng-binding ng-hide" ng-show="submitted &amp;&amp; serverError == 'PASSWORD_TOO_WEAK'">
                    Please enter a secure password.
                </div>
                <%end%>
                  <%if user.errors.details[:password].any?{|h|h[:error] == :badpasswords}%>
                <div class="validation-error ng-binding ng-hide" ng-show="submitted &amp;&amp; localError() == 'PASSWORDS_DO_NOT_MATCH'">
                    The passwords do not match.
                </div>
                  <%end%>
                
                <div class="<%=!(user.errors[:password2].blank? && user.errors[:password1].blank?) ? "validation-error ng-binding" : "nghide"%>" ng-show="submitted &amp;&amp; serverError == 'UNKNOWN_ERROR'">
                    An error occurred.
                </div>

            </div>
        </div>
    
        <div class="content-row row-big">
            <div class="large-offset-3 large-6 small-offset-0 small-12 columns">
                <div class="shop-form-row">
                    <button class="shop-button submit read-more ng-binding" onclick="submit()">
                        Save
                    </button>
                    <div class="inline-link-button"><a href="#" onclick="cancel(); event.preventDefault();" class="read-more ng-binding">Back to my account</a></div>
                </div>
            </div>
        </div>

    <%end%>
