<main>
			<div id="content-container" class="content-container--facelift">
				
            

        <section class="self-care-section self-care-section--facelift ng-scope" ng-app="elbphilharmonie">
            <self-care external-guided-tour-headline="Select Plaza Ticket for Guided Tour" external-guided-tour-description="Guided tours through the Elbphilharmonie are not fully accessible. Accessible tours for persons with limited mobility may also be booked here." dsgvo="When you register to create an account, the data you provide is recorded and stored electronically. You can deactivate your customer account at any time. If you do not agree to the data processing, you cannot purchase tickets online. You’ll find further information in our <a href='https://www.elbphilharmonie.de/en/privacy-policy' target='_blank'>Privacy Policy</a>." phone-number-mandatory="false" logout-url="http://shop.elbphilharmonie.de/en/logout/" redirect-on-successful-login-url="" class="ng-isolate-scope"><div class="selfcare--facelift">
    <!-- ngIf: $ctrl.isLoading() -->

    <!-- ngIf: $ctrl.initialized --><div ng-if="$ctrl.initialized" class="ng-scope">
        <!-- ngIf: $ctrl.customer == null -->

        <!-- ngIf: $ctrl.customer != null --><div ng-if="$ctrl.customer != null" class="ng-scope">

            <!-- ngIf: $ctrl.isOverview() -->

            <!-- ngIf: $ctrl.isPage('my-data') -->

            <!-- ngIf: $ctrl.isPage('change-password') -->

            <!-- ngIf: $ctrl.isPage('change-email') --><self-care-change-email ng-if="$ctrl.isPage('change-email')" page-id="change-email" on-cancel="$ctrl.switchToOverview();" on-success="$ctrl.switchToOverview();" class="ng-scope ng-isolate-scope"><div>
    <div class="content-row row-big">
        <div class="large-offset-3 large-6 small-offset-0 small-12 columns">
            <h1 class="headline--standard ng-binding">Change email address</h1>
        </div>
    </div>

    <!-- ngIf: !$ctrl.success -->

    <!-- ngIf: $ctrl.success --><div ng-if="$ctrl.success" class="ng-scope">
        <div class="content-row row-big">
            <div class="large-offset-3 large-6 small-offset-0 small-12 columns">
                <div class="shop-text ng-binding">Thank you.<br><br>
                You will shortly receive an email with a link to confirm your new email address. Your previous email address remains valid until your new email address is confirmed.
                </div>
                <div class="spacer"></div>
                <div class="shop-form-row">
                    <a class="shop-button submit read-more ng-binding" href="/en/my-data" ng-click="$ctrl.onSuccess(); $event.preventDefault();" href="#">
                        Back to my account
                    </a>
                </div>
            </div>
        </div>
    </div><!-- end ngIf: $ctrl.success -->

</div></self-care-change-email><!-- end ngIf: $ctrl.isPage('change-email') -->

            <!-- ngIf: $ctrl.isPage('my-orders') -->

            <!-- ngIf: $ctrl.isPage('my-raffles') -->

            <!-- ngIf: $ctrl.isPage('my-subscriptions') && $ctrl.customer.hasSubscriptions -->

            <!-- ngIf: $ctrl.isPage('my-external-guided-tour') && $ctrl.customer.isExternalGuidedTourUser -->

            <!-- ngIf: $ctrl.isPage('my-newsletters') -->

            <!-- ngIf: $ctrl.isPage('my-shipping') -->

        </div><!-- end ngIf: $ctrl.customer != null -->
    </div><!-- end ngIf: $ctrl.initialized -->

</div></self-care>
        </section>

    

			</div> <!-- content-container -->
		</main>