<div class="content-row row-big">
        <div class="large-offset-3 large-6 small-offset-0 small-12 columns">
            <h2 class="headline--large ng-binding">Deactivate customer account</h2>

            <!-- ngIf: !$ctrl.isDisableAccountHintEnabled && !$ctrl.isOptInSent --><div ng-if="!$ctrl.isDisableAccountHintEnabled &amp;&amp; !$ctrl.isOptInSent" class="ng-scope">
                <div class="shop-text ng-binding">If you no longer wish to use your Elbphilharmonie und Laeiszhalle Hamburg customer account, you can deactivate it here.</div>

                <div class="spacer"></div>

                <button class="shop-button submit read-more ng-binding" onclick="showDisableAccountHint2();return false;">
                    Deactivate customer account
                </button>
            </div><!-- end ngIf: !$ctrl.isDisableAccountHintEnabled && !$ctrl.isOptInSent -->

            <!-- ngIf: $ctrl.isDisableAccountHintEnabled && !$ctrl.isOptInSent -->

            <!-- ngIf: $ctrl.isOptInSent -->
        </div>
    </div>
