<main>
			<div id="content-container" class="content-container--facelift">
				
    

        <div class="spacer xl"></div>

        <div class="content-row row-big">
	        <div class="large-offset-3 large-6 small-offset-0 small-12 columns">    
                <h2>Activation successful</h2>
                <div class="shop-text">
                    Your email address is now activated.
                </div>
   
	        </div>
        </div>

        <div class="spacer xl"></div>

    

			</div> <!-- content-container -->
		</main>
