<div class="external-info-status status-box">
	
		
			<span class="status"></span>
		
		
				
					
						<span class="status status-sub">
							<%=status.status_sub.html_safe%>
						</span>
						
							



						
					
				
			
		
	
	
</div>
