<div class="past-status status-box">
	
		
			
				
					<span class="status">This concert has already taken place!</span>
				
			

		
		
				
					<strike>
						

<span class="prices"><span>€</span><span>9</span>
				
			
				
					|
				
				
					<span>17</span>
				
			
				
					|
				
				
					<span>26</span>
				
			
				
					|
				
				
					<span>42</span></span>

					</strike>
				
			
		
	
	
</div>