<div class="residue-status status-box"><a class="link link-ticket" href="<%=buyticket_path(id: status.event_id, title: status.event.title.parameterize)%>" data-name="<%=status.event.title%> - Limited tickets available!" target="_blank">
					Limited tickets available!
				</a></div>
