<div class="soldout-status status-box">
	
		
			
				<span class="ticket-and-prices">
					<span class="status link-sold-out button secondary large">
						Sold out
					</span>
					
						

<span class="prices"><span>&euro;</span><strike>0</strike></span>

					
				</span>
			
		
		
				
					<span class="status status-sub">
						
							Remaining tickets occasionally available at box office
						
					</span>
				
			
		
	
	
</div>
