<section class="grid-container">
				<div class="grid-x grid-margin-x align-center">
					<div class="cell medium-3 xlarge-4">
						<h2>The benefits of an Elbphilharmonie subscription</h2>
					</div>
					<div class="cell medium-5 medium-offset-2 large-offset-2 xlarge-offset-1 xxlarge-offset-1">
						<picture>
							<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/static/images/content/abo-card-small.a032f0492b64.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/static/images/content/abo-card.894b2105ea86.jpg" alt="Elbphilharmonie Abo Card">
						</picture>
					</div>
				</div>
				<div class="grid-x align-center">
					<div class="cell medium-10 large-12 xlarge-11 grid-x abo-advantages-row">
						<div class="cell grid-y align-center">
							<p>
								At least <span class="abo-text-big">20%</span> off the price of individual tickets
							</p>
						</div>
						<div class="cell grid-y align-center">
							<p>
								<span class="abo-text-small">10% discount</span> on many other concerts
							</p>
						</div>
						<div class="cell grid-y align-center">
							<p>
								<span class="abo-text-small">Youth subscription</span> for everyone under 30<br>(only €10 per concert)
							</p>
						</div>
						<div class="cell grid-y align-center">
							<p>
								<span class="abo-text-small">Elbphilharmonie Magazine</span> three times a year, delivered free to your home
							</p>
						</div>
					</div>
				</div>
			</section>
<div class="spacer"></div>