<div class="link-wrap">
									<a href="<%=booklet.url%>" class="link link-download booklet-download" download="" target="_blank">
										<%=booklet.title%> <span class="nobreak"><%=booklet.size%></span>
									</a>
								</div>
							
							<div class="spacer"></div>
