<div class="cell medium-6">
						<h3>SCHWERPUNKT</h3>
						
							<p><%=spotlight.title%></p>
							
								<div class="anchor-module">
									<a href="<%=showfestival_path(titre:spotlight.title.parameterize, id:spotlight.id)%>" class="link link-default">
										Find out more
									</a>
								</div>
							
						
						<div class="spacer"></div>
					</div>
