<li class="filter-current__item">
										<a href="<%=filter.myotherurl(request.path)%>" title="<%=filter.name%>" class="filter-current__link" data-current-link="">
											<%=filter.name%>
										</a>
</li>