<div class="grid-container section-container with-spacer">
		<div class="grid-x grid-margin-x align-center cms-row " id="container-101295">
		
			<div class="cell medium-6 large-5 cms-col">
				
				
					
					





<figure id="image-101296" class="image-module has-dark-gradient">
	
		

		
			<picture>
				
					<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/6b/62/6b626c91-c367-43b6-aa4d-095849b77b0a/jakub_jozef_orlinski_c_jiyang_chen_3.jpg__686x387_q85_crop_subject_location-1000%2C581_subsampling-2_upscale.jpg">
					<source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/6b/62/6b626c91-c367-43b6-aa4d-095849b77b0a/jakub_jozef_orlinski_c_jiyang_chen_3.jpg__464x262_q85_crop_subject_location-1000%2C581_subsampling-2_upscale.jpg">
					<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/6b/62/6b626c91-c367-43b6-aa4d-095849b77b0a/jakub_jozef_orlinski_c_jiyang_chen_3.jpg__686x387_q85_crop_subject_location-1000%2C581_subsampling-2_upscale.jpg" title="Jakub Józef Orliński © Jiyang Chen" alt="Jakub Józef Orliński">
				

			</picture>
		

		
			<figcaption class="image-caption">Jakub Józef Orliński © Jiyang Chen</figcaption>
		

		

	
</figure>





					
				
					
					







	<h3 id="headline-101298" class="headline-module">
		Opera in Concert
		
	</h3>







					
				
					
					





<div id="text-101300" class="text-module">
	
		<p>No, the Elbphilharmonie is not an opera house. But the venue does have plenty to offer opera enthusiasts, and that in the genre’s purest form. The advantage of concert performances – purely musical productions – is that you can concentrate entirely on the music. The programme ranges from Händels »Alcina« and »Tolomeo« to Philip Glass' »Einstein on the Beach«.</p>
	
</div>





					
				
					
					








					
				
				
			</div>
		
			
		
		</div>
	</div>
<div class="spacer"></div>