<div class="cell medium-6 large-5 cms-col">
				
				
					
					





<figure id="image-101297" class="image-module has-dark-gradient">
	
		

		
			<picture>
				
					<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/68/b9/68b98873-2683-420b-87b3-ec5820e4b917/quatuor_diotima_c_lyodoh_kaneko_1.jpg__686x387_q85_crop_subject_location-960%2C375_subsampling-2_upscale.jpg">
					<source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/68/b9/68b98873-2683-420b-87b3-ec5820e4b917/quatuor_diotima_c_lyodoh_kaneko_1.jpg__464x262_q85_crop_subject_location-960%2C375_subsampling-2_upscale.jpg">
					<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/68/b9/68b98873-2683-420b-87b3-ec5820e4b917/quatuor_diotima_c_lyodoh_kaneko_1.jpg__686x387_q85_crop_subject_location-960%2C375_subsampling-2_upscale.jpg" title="<%=highlight.imagecaption%>" alt="<%=highlight.imagecaption%>">
				

			</picture>
		

		
			<figcaption class="image-caption"><%=highlight.imagecaption%></figcaption>
		

		

	
</figure>





					
				
					
					







	<h3 id="headline-101299" class="headline-module">
		Contemporary Music
		
	</h3>







					
				
					
					





<div id="text-101301" class="text-module">
	
		<p>The lively and diverse contemporary music scene has figured prominently in the Elbphilharmonie’s event calendar from the very beginning. And the full spectrum of contemporary music can be experienced again this season – from trios to large orchestral concerts.</p>
	
</div>





					
				
					
					


<%if genre.links.length == 1%>
    
<div id="anchor-101302" class="anchor-module">
	<a href="/en/festivals/opera-in-concert/926" class=" link link-default" data-name="»Opera in Concert«">»Opera in Concert«</a>
</div>


<%elsif genre.links.length > 1%>

<div id="anchor-list-101303" class="list-module">
	<ul class="link-list">
		
			
				<li class="list-item" id="anchor-item-101304">
					
						
							<a href="/en/whats-on/01-08-2022/NM/" class="link link-default">
								ALL CONCERTS FEATURING CONTEMPORARY MUSIC 
							</a>
						
					
				</li>
			
		
			
				<li class="list-item" id="anchor-item-101305">
					
						
							<a href="/en/series/state-of-the-art/832" class="link link-default">
								»State of the Art« subscription 
							</a>
						
					
				</li>
			
		
			
				<li class="list-item" id="anchor-item-101306">
					
						
							<a href="/en/series/ndr-das-neue-werk/853" class="link link-default">
								NDR’s »das neue werk« series 
							</a>
						
					
				</li>
			
		
			
				<li class="list-item" id="anchor-item-101436">
					
						
							<a href="/en/festivals/elbphilharmonie-visions/857" class="link link-default">
								Festival »Elbphilharmonie Visions« 
							</a>
						
					
				</li>
			
		
			
				<li class="list-item" id="anchor-item-101557">
					
						
							<a href="/en/festivals/portrait-thomas-larcher/920" class="link link-default">
								Portrait Thomas Larcher 
							</a>
						
					
				</li>
			
		
			
				<li class="list-item" id="anchor-item-102719">
					
						
							<a href="/en/festivals/wolfgang-rihm/929" class="link link-default">
								Focus Wolfgang Rihm 
							</a>
						
					
				</li>
			
		
	</ul>
</div>
    <%end%>





					
				
				
			</div>
