<aside class="grid-container event-media">
	<div class="grid-x grid-margin-x align-center">
		<div class="cell has-background">
			<figure class="video-module has-dark-gradient">
				
						<picture>
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/8a/1d/8a1d3614-91ca-4903-8496-606c95987f39/schumann_quartett_c_kaupo_kikkas.jpg__1420x695_q85_crop_subject_location-905%2C658_subsampling-2_upscale.jpg" title="Schumann Quartett © Kaupo Kikkas" alt="Schumann Quartett">
						</picture>
				

				<div class="grid-container section-container text-container">
					<div class="grid-x grid-margin-x align-center align-middle">
						<div class="cell medium-5 ">
							
								<iframe class="iframe-spotify" src="https://open.spotify.com/embed?uri=spotify:album:1IVW8AA7fJFl6eK0jDjkVe&amp;theme=white" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
							
						</div>
						<div class="cell medium-5"></div>
					</div>
				</div>

				
					<span class="image-caption">Schumann Quartett © Kaupo Kikkas</span>
				
			</figure>
		</div>
	</div>
</aside>
