
						<div class="cell medium-6 large-4 teaser-item">
							
								<figure class="image-container image-module">
									
										<a href="/en/festivals/the-americans/927" class="teaser-image-link" tabindex="-1">
									
											<picture>
												<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/bf/35/bf350a4e-96dc-4ded-8744-89db355304b2/yannick-nezet-seguin_c_wwwyannicknezetseguincom_fuer-teaser.jpg__686x638_q85_crop_subsampling-2_upscale.jpg">
												<source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/bf/35/bf350a4e-96dc-4ded-8744-89db355304b2/yannick-nezet-seguin_c_wwwyannicknezetseguincom_fuer-teaser.jpg__392x364_q85_crop_subsampling-2_upscale.jpg">
												<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/bf/35/bf350a4e-96dc-4ded-8744-89db355304b2/yannick-nezet-seguin_c_wwwyannicknezetseguincom_fuer-teaser.jpg__452x412_q85_crop_subsampling-2_upscale.jpg" alt="">
											</picture>
									
										</a>
									
								</figure>
							
							
								<h3>
									
										<span class="preline">Die besten Orchester aus Übersee</span>
										<span class="show-for-sr">:</span>
									
									
										<a href="/en/festivals/the-americans/927">
											The Americans
										</a>
									
								</h3>
							
							
								<p>In the space of one week this summer, no less than three renowned US orchestras perform at the Elbphilharmonie: from Pittsburgh, Philadelphia and Cleveland, with San Francisco to follow. They will be accompanied by equally acclaimed soloists including Hélène Grimaud and Yuja Wang.</p>
							
							
								<a href="/en/festivals/the-americans/927" class="link link-default">The Americans</a>
							
						</div>
					
				
