	<main class="content-container">
			
	<section class="results-all grid-container">
		<div class="spacer big hide-on-mobile"></div>
		<div class="spacer big hide-on-mobile"></div>
		
			
			
				<section class="grid-x event-list-module">
					<div class="large-12 columns">
            <div class="blog__links">
              <a href="/en/search/violin" class="link">
                <i class="icon-arrow-left"></i>
                Back to search results
              </a>
            </div>
						<div class="spacer small"></div>
            <div class="grid-x align-center">
              <div class="small-12 medium-8">
                <h2 class="no-line">Aktuelle Veranstaltungen mit dem <br />
                Suchbegriff <b>violin</b> (256):</h2>
              </div>
            </div>
						<div class="spacer small"></div>
					</div>

					<ul class="event-list" id="list">
						


	<li id="event_id_000000e9000b446a" data-event-id="22923" class="event-item" data-categories="[]"><div class="grid-x grid-margin-x"><div class="cell xlarge-2"><div class="grid-x grid-margin-x date-and-place"><div class="cell small-6 medium-4 xlarge-12 date-cell"><div><span class="indicator-line" data-line></span></div><span class="caption"><time datetime="2022-06-09T20:00:00+02:00"><strong class="date nobreak">Thu, 9 Jun 2022</strong><span class="time">20:00</span></time></span></div><div class="cell small-6 medium-8 xlarge-12 place-cell"><span class="caption uppercase"><strong>Elbphilharmonie</strong> Großer Saal
							</span></div></div></div><div class="cell medium-4 hide-for-small-only image-cell"><a href="/en/whats-on/ndr-elbphilharmonie-orchestra-vilde-frang-semyon-bychkov/16190" tabindex="-1" class="event-image-link"><picture aria-hidden="true"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/8f/c4/8fc49702-905e-44c0-8100-2a61a45f3c30/vilde_frang_0437_c_marco_borggreve.jpg__219x164_q85_crop_subject_location-823%2C1051_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/8f/c4/8fc49702-905e-44c0-8100-2a61a45f3c30/vilde_frang_0437_c_marco_borggreve.jpg__392x294_q85_crop_subject_location-823%2C1051_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/8f/c4/8fc49702-905e-44c0-8100-2a61a45f3c30/vilde_frang_0437_c_marco_borggreve.jpg__442x328_q85_crop_subject_location-823%2C1051_subsampling-2_upscale.jpg" alt=""></picture><picture class="blurry show-for-medium"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/8f/c4/8fc49702-905e-44c0-8100-2a61a45f3c30/vilde_frang_0437_c_marco_borggreve.jpg__219x164_q85_crop_subject_location-823%2C1051_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/8f/c4/8fc49702-905e-44c0-8100-2a61a45f3c30/vilde_frang_0437_c_marco_borggreve.jpg__392x294_q85_crop_subject_location-823%2C1051_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/8f/c4/8fc49702-905e-44c0-8100-2a61a45f3c30/vilde_frang_0437_c_marco_borggreve.jpg__442x328_q85_crop_subject_location-823%2C1051_subsampling-2_upscale.jpg" alt="Vilde Frang" title="Vilde Frang © Marco Borggreve"></picture></a></div><div class="cell medium-8 xlarge-6 grid-y align-justify event-main"><div class="cell"><p class="event-title h2 no-line"><a href="/en/whats-on/ndr-elbphilharmonie-orchestra-vilde-frang-semyon-bychkov/16190">
								NDR Elbphilharmonie Orchestra / Vilde Frang / Semyon Bychkov
							</a></p><p class="event-subtitle">Schostakowitsch / Brahms – Please note the change of artist and programme</p></div><div class="cell status-info grid-x align-justify align-bottom"><div class="cell small-12 large-shrink "><button class="event__bookmark" 
                       type="button" 
                       data-alert="false"
                       data-id="000000e9:000b446a" 
                       data-name="Thu, 9 Jun 2022 - NDR Elbphilharmonie Orchestra / Vilde Frang / Semyon Bychkov"><i class="event__bookmark-icon icon icon-merken-star" data-bookmark-icon-off="icon-merken-star" data-bookmark-icon-on="icon-merken-star-blue"></i><span class="event__bookmark-text " 
                        data-bookmark-text-off='Save for later' 
                        data-bookmark-text-on='<strong>Event saved</strong>' 
                        data-bookmark-alert-off='Save for later / Ticket alert'
                        data-bookmark-alert-one-on='<strong>Event saved /</strong> Ticket alert'
                        data-bookmark-alert-two-on='<strong>Event saved / Ticket alert activated</strong>'
                   >Save for later</span>&nbsp;
                </button></div><!-- <span></span> --><div class="cell small-1 large-auto"></div><div class="cell shrink text-right"><div class="sale-status status-box"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/ndr-elbphilharmonie-orchestra-vilde-frang-semyon-bychkov/16190"
	   data-name="NDR Elbphilharmonie Orchestra / Vilde Frang / Semyon Bychkov - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>71</span></span></a></span></div><div class="presale sale-status status-box" style="display: none;"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/ndr-elbphilharmonie-orchestra-vilde-frang-semyon-bychkov/16190"
	   data-name="NDR Elbphilharmonie Orchestra / Vilde Frang / Semyon Bychkov - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>71</span></span></a></span></div></div></div></div></div></li>


	<li id="event_id_000000e9000b446c" data-event-id="22924" class="event-item" data-categories="[]"><div class="grid-x grid-margin-x"><div class="cell xlarge-2"><div class="grid-x grid-margin-x date-and-place"><div class="cell small-6 medium-4 xlarge-12 date-cell"><div><span class="indicator-line" data-line></span></div><span class="caption"><time datetime="2022-06-10T20:00:00+02:00"><strong class="date nobreak">Fri, 10 Jun 2022</strong><span class="time">20:00</span></time></span></div><div class="cell small-6 medium-8 xlarge-12 place-cell"><span class="caption uppercase"><strong>Elbphilharmonie</strong> Großer Saal
							</span></div></div></div><div class="cell medium-4 hide-for-small-only image-cell"><a href="/en/whats-on/ndr-elbphilharmonie-orchestra-vilde-frang-semyon-bychkov/16191" tabindex="-1" class="event-image-link"><picture aria-hidden="true"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/a0/d6/a0d66266-01a0-4c29-bb13-d683e0905be6/vilde_frang_0436_c_marco_borggreve.jpg__219x164_q85_crop_subject_location-960%2C1115_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/a0/d6/a0d66266-01a0-4c29-bb13-d683e0905be6/vilde_frang_0436_c_marco_borggreve.jpg__392x294_q85_crop_subject_location-960%2C1115_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/a0/d6/a0d66266-01a0-4c29-bb13-d683e0905be6/vilde_frang_0436_c_marco_borggreve.jpg__442x328_q85_crop_subject_location-960%2C1115_subsampling-2_upscale.jpg" alt=""></picture><picture class="blurry show-for-medium"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/a0/d6/a0d66266-01a0-4c29-bb13-d683e0905be6/vilde_frang_0436_c_marco_borggreve.jpg__219x164_q85_crop_subject_location-960%2C1115_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/a0/d6/a0d66266-01a0-4c29-bb13-d683e0905be6/vilde_frang_0436_c_marco_borggreve.jpg__392x294_q85_crop_subject_location-960%2C1115_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/a0/d6/a0d66266-01a0-4c29-bb13-d683e0905be6/vilde_frang_0436_c_marco_borggreve.jpg__442x328_q85_crop_subject_location-960%2C1115_subsampling-2_upscale.jpg" alt="Vilde Frang" title="Vilde Frang © Marco Borggreve"></picture></a></div><div class="cell medium-8 xlarge-6 grid-y align-justify event-main"><div class="cell"><p class="event-title h2 no-line"><a href="/en/whats-on/ndr-elbphilharmonie-orchestra-vilde-frang-semyon-bychkov/16191">
								NDR Elbphilharmonie Orchestra / Vilde Frang / Semyon Bychkov
							</a></p><p class="event-subtitle">Schostakowitsch / Brahms – Please note the change of artist and programme</p></div><div class="cell status-info grid-x align-justify align-bottom"><div class="cell small-12 large-shrink "><button class="event__bookmark" 
                       type="button" 
                       data-alert="false"
                       data-id="000000e9:000b446c" 
                       data-name="Fri, 10 Jun 2022 - NDR Elbphilharmonie Orchestra / Vilde Frang / Semyon Bychkov"><i class="event__bookmark-icon icon icon-merken-star" data-bookmark-icon-off="icon-merken-star" data-bookmark-icon-on="icon-merken-star-blue"></i><span class="event__bookmark-text " 
                        data-bookmark-text-off='Save for later' 
                        data-bookmark-text-on='<strong>Event saved</strong>' 
                        data-bookmark-alert-off='Save for later / Ticket alert'
                        data-bookmark-alert-one-on='<strong>Event saved /</strong> Ticket alert'
                        data-bookmark-alert-two-on='<strong>Event saved / Ticket alert activated</strong>'
                   >Save for later</span>&nbsp;
                </button></div><!-- <span></span> --><div class="cell small-1 large-auto"></div><div class="cell shrink text-right"><div class="residue-status status-box"><a class="link link-ticket" href="/en/whats-on/ticket/ndr-elbphilharmonie-orchestra-vilde-frang-semyon-bychkov/16191" data-name="NDR Elbphilharmonie Orchestra / Vilde Frang / Semyon Bychkov - Limited tickets available!" >
					Limited tickets available!
				</a></div><div class="presale sale-status status-box" style="display: none;"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/ndr-elbphilharmonie-orchestra-vilde-frang-semyon-bychkov/16191"
	   data-name="NDR Elbphilharmonie Orchestra / Vilde Frang / Semyon Bychkov - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>71</span></span></a></span></div></div></div></div></div></li>


	<li id="event_id_000000e900088919" data-event-id="6820" class="event-item" data-categories="[]"><div class="grid-x grid-margin-x"><div class="cell xlarge-2"><div class="grid-x grid-margin-x date-and-place"><div class="cell small-6 medium-4 xlarge-12 date-cell"><div><span class="indicator-line" data-line></span></div><span class="caption"><time datetime="2022-06-12T11:00:00+02:00"><strong class="date nobreak">Sun, 12 Jun 2022</strong><span class="time">11:00</span></time></span></div><div class="cell small-6 medium-8 xlarge-12 place-cell"><span class="caption uppercase"><strong>Elbphilharmonie</strong> Großer Saal
							</span></div></div></div><div class="cell medium-4 hide-for-small-only image-cell"><a href="/en/whats-on/hamburg-philharmonic-state-orchestra-steinbacher-beermann/16444" tabindex="-1" class="event-image-link"><picture aria-hidden="true"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/c7/ae/c7ae97ef-bc1a-4352-b291-5b9ce61823bd/arabella_steinbacher_c_sammy_hart_9.jpg__219x164_q85_crop_subject_location-1476%2C410_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/c7/ae/c7ae97ef-bc1a-4352-b291-5b9ce61823bd/arabella_steinbacher_c_sammy_hart_9.jpg__392x294_q85_crop_subject_location-1476%2C410_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/c7/ae/c7ae97ef-bc1a-4352-b291-5b9ce61823bd/arabella_steinbacher_c_sammy_hart_9.jpg__442x328_q85_crop_subject_location-1476%2C410_subsampling-2_upscale.jpg" alt=""></picture><picture class="blurry show-for-medium"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/c7/ae/c7ae97ef-bc1a-4352-b291-5b9ce61823bd/arabella_steinbacher_c_sammy_hart_9.jpg__219x164_q85_crop_subject_location-1476%2C410_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/c7/ae/c7ae97ef-bc1a-4352-b291-5b9ce61823bd/arabella_steinbacher_c_sammy_hart_9.jpg__392x294_q85_crop_subject_location-1476%2C410_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/c7/ae/c7ae97ef-bc1a-4352-b291-5b9ce61823bd/arabella_steinbacher_c_sammy_hart_9.jpg__442x328_q85_crop_subject_location-1476%2C410_subsampling-2_upscale.jpg" alt="" title=""></picture></a></div><div class="cell medium-8 xlarge-6 grid-y align-justify event-main"><div class="cell"><p class="event-title h2 no-line"><a href="/en/whats-on/hamburg-philharmonic-state-orchestra-steinbacher-beermann/16444">
								Hamburg Philharmonic State Orchestra / Steinbacher / Beermann 
							</a></p><p class="event-subtitle">Schönberg / Saint-Saëns / Ravel</p></div><div class="cell status-info grid-x align-justify align-bottom"><div class="cell small-12 large-shrink "><button class="event__bookmark" 
                       type="button" 
                       data-alert="false"
                       data-id="000000e9:00088919" 
                       data-name="Sun, 12 Jun 2022 - Hamburg Philharmonic State Orchestra / Steinbacher / Beermann "><i class="event__bookmark-icon icon icon-merken-star" data-bookmark-icon-off="icon-merken-star" data-bookmark-icon-on="icon-merken-star-blue"></i><span class="event__bookmark-text " 
                        data-bookmark-text-off='Save for later' 
                        data-bookmark-text-on='<strong>Event saved</strong>' 
                        data-bookmark-alert-off='Save for later / Ticket alert'
                        data-bookmark-alert-one-on='<strong>Event saved /</strong> Ticket alert'
                        data-bookmark-alert-two-on='<strong>Event saved / Ticket alert activated</strong>'
                   >Save for later</span>&nbsp;
                </button></div><!-- <span></span> --><div class="cell small-1 large-auto"></div><div class="cell shrink text-right"><div class="sale-status status-box"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/hamburg-philharmonic-state-orchestra-steinbacher-beermann/16444"
	   data-name="Hamburg Philharmonic State Orchestra / Steinbacher / Beermann  - Order tickets regardless"

	
		
			target="_blank"
		
	

	
		
			target="_blank"
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>13.20</span></span></a></span></div><div class="presale sale-status status-box" style="display: none;"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/hamburg-philharmonic-state-orchestra-steinbacher-beermann/16444"
	   data-name="Hamburg Philharmonic State Orchestra / Steinbacher / Beermann  - Order tickets regardless"

	
		
			target="_blank"
		
	

	
		
			target="_blank"
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>13.20</span></span></a></span></div></div></div></div></div></li>


	<li id="event_id_000000e9000f8e98" data-event-id="25990" class="event-item" data-categories="[]"><div class="grid-x grid-margin-x"><div class="cell xlarge-2"><div class="grid-x grid-margin-x date-and-place"><div class="cell small-6 medium-4 xlarge-12 date-cell"><div><span class="indicator-line" data-line></span></div><span class="caption"><time datetime="2022-06-12T19:30:00+02:00"><strong class="date nobreak">Sun, 12 Jun 2022</strong><span class="time">19:30</span></time></span></div><div class="cell small-6 medium-8 xlarge-12 place-cell"><span class="caption uppercase"><strong>Elbphilharmonie</strong> Kleiner Saal
							</span></div></div></div><div class="cell medium-4 hide-for-small-only image-cell"><a href="/en/whats-on/musicl-and-reading-magic-of-crime/17864" tabindex="-1" class="event-image-link"><picture aria-hidden="true"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/a5/1b/a51b2c00-e663-4c37-b1a2-bbeb11cd4c1e/metamorphosen_berlin_c_lily_maisky.jpg__219x164_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/a5/1b/a51b2c00-e663-4c37-b1a2-bbeb11cd4c1e/metamorphosen_berlin_c_lily_maisky.jpg__392x294_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/a5/1b/a51b2c00-e663-4c37-b1a2-bbeb11cd4c1e/metamorphosen_berlin_c_lily_maisky.jpg__442x328_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg" alt=""></picture><picture class="blurry show-for-medium"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/a5/1b/a51b2c00-e663-4c37-b1a2-bbeb11cd4c1e/metamorphosen_berlin_c_lily_maisky.jpg__219x164_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/a5/1b/a51b2c00-e663-4c37-b1a2-bbeb11cd4c1e/metamorphosen_berlin_c_lily_maisky.jpg__392x294_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/a5/1b/a51b2c00-e663-4c37-b1a2-bbeb11cd4c1e/metamorphosen_berlin_c_lily_maisky.jpg__442x328_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg" alt="Kammerphilharmonie Metamorphosen Berlin" title="Kammerphilharmonie Metamorphosen Berlin © Lily Maisky"></picture></a></div><div class="cell medium-8 xlarge-6 grid-y align-justify event-main"><div class="cell"><p class="event-title h2 no-line"><a href="/en/whats-on/musicl-and-reading-magic-of-crime/17864">
								Musicl and Reading: »Magic of Crime«
							</a></p><p class="event-subtitle">with Metamorphosen Berlin and Dietmar Wunder, the German voice of James Bond</p></div><div class="cell status-info grid-x align-justify align-bottom"><div class="cell small-12 large-shrink "><button class="event__bookmark" 
                       type="button" 
                       data-alert="false"
                       data-id="000000e9:000f8e98" 
                       data-name="Sun, 12 Jun 2022 - Musicl and Reading: »Magic of Crime«"><i class="event__bookmark-icon icon icon-merken-star" data-bookmark-icon-off="icon-merken-star" data-bookmark-icon-on="icon-merken-star-blue"></i><span class="event__bookmark-text " 
                        data-bookmark-text-off='Save for later' 
                        data-bookmark-text-on='<strong>Event saved</strong>' 
                        data-bookmark-alert-off='Save for later / Ticket alert'
                        data-bookmark-alert-one-on='<strong>Event saved /</strong> Ticket alert'
                        data-bookmark-alert-two-on='<strong>Event saved / Ticket alert activated</strong>'
                   >Save for later</span>&nbsp;
                </button></div><!-- <span></span> --><div class="cell small-1 large-auto"></div><div class="cell shrink text-right"><div class="sale-status status-box"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/musicl-and-reading-magic-of-crime/17864"
	   data-name="Musicl and Reading: »Magic of Crime« - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>19</span></span></a></span></div><div class="presale sale-status status-box" style="display: none;"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/musicl-and-reading-magic-of-crime/17864"
	   data-name="Musicl and Reading: »Magic of Crime« - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>19</span></span></a></span></div></div></div></div></div></li>




	
<li class="loading-event loading-animation">Loading...</li>



						



	<li data-url="/en/search/event/2/violin" class="search__next-page">
		<a href="/en/search/event/2/violin" class=""><noscript>Next</noscript></a>
	</li>
  



					</ul>
				</section>
			
		
		<div class="spacer big"></div>
		<div class="spacer big"></div>
	</section>

  


      

<aside class="merklist-modal">
	<div class="merklist-modal__wrapper">
		<button class="merklist-modal__close js-merklist-modal__close" type="button" title="Close"></button>
    <!-- MODAL: login -->
    <div class="merklist-modal__content" data-modal="login">
      <p class="merklist-modal__title line-center h3">Saved events</p>
      <p class="merklist-modal__text">Login required. If you do not have an Elbphilharmonie customer account, registering is quick and easy.</p>
      <div class="merklist-modal__button">
        <a href="#" class="button link link-default merklist-modal__account">Log in or register</a>
      </div>
    </div>
    <!-- MODAL: alert check -->
    <div class="merklist-modal__content" data-modal="alert" style="display: none;">
      <p class="merklist-modal__title line-center h3">Your selection</p>
      <label  class="merklist-modal__label">
      <input type="radio" name="alert" class="merklist-modal__radio" value="1">
        <span>Add to saved events</span>
      </label>
      <label class="merklist-modal__label">
      <input type="radio" name="alert" class="merklist-modal__radio" value="2" checked>
        <span>Activate ticket alert</span>
        <span class="merklist-modal__text">You will receive an email alert one day before tickets go on sale.</span>
      </label>
      <div class="merklist-modal__button">
        <button type="button" class="button link link-default merklist-modal__save">Confirm</button>
      </div>
    </div>
    <!-- MODAL: alert uncheck -->
    <div class="merklist-modal__content" data-modal="uncheck" style="display: none;">
      <p class="merklist-modal__title line-center h3">Edit events saved</p>
      <label class="merklist-modal__label">
        <input type="radio" name="uncheck" class="merklist-modal__radio" value="1" checked>
        <span>Deactivate ticket alert</span>
      </label>
      <label  class="merklist-modal__label">
        <input type="radio" name="uncheck" class="merklist-modal__radio" value="DELETE">
        <span>Remove event from my saved events</span>
      </label>
      <div class="merklist-modal__button">
        <button type="button" class="button link link-default merklist-modal__save">Confirm</button>
      </div>
    </div>
	</div>
</aside>

      <aside class="blog__lightbox">
  <div class="blog__lightbox-container">
    <button class="blog__lightbox-close" title="Close modal"></button>
    <div class="blog__lightbox-wrapper">
      <iframe src="" frameborder="0" id="blog-iframe" class="blog__lightbox-iframe" allow="fullscreen"></iframe>
    </div>
  </div>
</aside>

		</main>

