
		<main class="content-container">
			
	

	<header class="grid-container event-detail-head">
		<div class="grid-x grid-x-margin">
			<div class="cell relative">
				<div class="grid-x">
					
					
						<div class="cell auto shrink place">
							
								<span class="caption uppercase">
									
								</span>
							
						</div>
					
				</div>
				<div class="grid-x grid-margin-x">
					<div class="cell large-8">
						<div id="search_content_start_1"></div>
						<h1 class="event-title no-line">
							Audience Orchestra
						</h1>
						
							<p class="event-subtitle subline" role="doc-subtitle">
								90 highly motivated amateurs rehearse together in the Audience Orchestra – and even perform regularly on the Grand Hall stage. 
							</p>
						
						<div id="search_content_end_1"></div>
					</div>
				</div>
        <div class="grid-x grid-margin-x event-head-bottom" data-event-id="">
					<div class="cell xlarge-shrink event-functions">
						<ul class="grid-x grid-margin-x">
							
                
							
							<li class="cell shrink event__function event__function--1 ">
								<button class="event__function-button event-share" aria-expanded="false">Share</button>
								<div class="event__function-content share" aria-hidden="true">
									
									<ul class="event__function-list link-list share-links  share-links-event">
										<li class="event__function-item">
											<a data-name="Facebook" class="share-link event__function-link link link-default share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank">
												<i class="icon icon-share-facebook"></i> Facebook
											</a>
										</li>
										<li class="event__function-item">
											<a data-name="Twitter" class="share-link event__function-link link link-default share-twitter" href="https://twitter.com/share?url=&text=%20Audience%20Orchestra" target="_blank">
												<i class="icon icon-share-twitter"></i> Twitter
											</a>
										</li>
										<li class="event__function-item only-desktop share-whatsapp">
											<a data-name="WhatsApp" class="share-link event__function-link link link-default" href="https://web.whatsapp.com/send?text=I%20found%20this%20on%20www.elbphilharmonie.com%3A%0A%0AAudience%20Orchestra%0A90%20highly%20motivated%20amateurs%20rehearse%20together%20in%20the%20Audience%20Orchestra%20%E2%80%93%20and%20even%20perform%20regularly%20on%20the%20Grand%20Hall%20stage.%20%0A%0AIt%20includes%20the%20following%20events%3A%0A%0A%0ASun%2C%2015%20Jan%202023%2020%3A00%0AB%C3%BCrgerhaus%20Wilhelmsburg%0AElbphilharmonie%20Publikumsorchester%0ABrahms%20/%20Debussy%20/%20Berlioz%0A%0AFri%2C%2020%20Jan%202023%2020%3A00%0AElbphilharmonie%20Gro%C3%9Fer%20Saal%0AElbphilharmonie%20Publikumsorchester%0ABrahms%20/%20Debussy%20/%20Berlioz%0A%0ASat%2C%201%20Jul%202023%2020%3A00%0AB%C3%BCrgerhaus%20Wilhelmsburg%0AElbphilharmonie%20Audience%20Orchestra%0ABrahms%20/%20P%C3%A4rt%20/%20Orff%0A%0ASat%2C%208%20Jul%202023%2020%3A00%0AElbphilharmonie%20Gro%C3%9Fer%20Saal%0AElbphilharmonie%20Audience%20Orchestra%0ABrahms%20/%20P%C3%A4rt%20/%20Orff%0A%0Ahttps%3A//www.elbphilharmonie.de/en/participate/audience-orchestra/909" target="_blank">
											<i class="icon icon-share-whatsapp"></i> WhatsApp
											</a>
										</li>
										<li class="event__function-item only-mobile share-whatsapp">
											<a data-name="WhatsApp" class="share-link event__function-link link link-default" href="whatsapp://send?text=I%20found%20this%20on%20www.elbphilharmonie.com%3A%0A%0AAudience%20Orchestra%0A90%20highly%20motivated%20amateurs%20rehearse%20together%20in%20the%20Audience%20Orchestra%20%E2%80%93%20and%20even%20perform%20regularly%20on%20the%20Grand%20Hall%20stage.%20%0A%0AIt%20includes%20the%20following%20events%3A%0A%0A%0ASun%2C%2015%20Jan%202023%2020%3A00%0AB%C3%BCrgerhaus%20Wilhelmsburg%0AElbphilharmonie%20Publikumsorchester%0ABrahms%20/%20Debussy%20/%20Berlioz%0A%0AFri%2C%2020%20Jan%202023%2020%3A00%0AElbphilharmonie%20Gro%C3%9Fer%20Saal%0AElbphilharmonie%20Publikumsorchester%0ABrahms%20/%20Debussy%20/%20Berlioz%0A%0ASat%2C%201%20Jul%202023%2020%3A00%0AB%C3%BCrgerhaus%20Wilhelmsburg%0AElbphilharmonie%20Audience%20Orchestra%0ABrahms%20/%20P%C3%A4rt%20/%20Orff%0A%0ASat%2C%208%20Jul%202023%2020%3A00%0AElbphilharmonie%20Gro%C3%9Fer%20Saal%0AElbphilharmonie%20Audience%20Orchestra%0ABrahms%20/%20P%C3%A4rt%20/%20Orff%0A%0Ahttps%3A//www.elbphilharmonie.de/en/participate/audience-orchestra/909">
												<i class="icon icon-share-whatsapp"></i> WhatsApp
											</a>
										</li>
										<li class="event__function-item share-mail">
											<a data-name="Email" class="share-link event__function-link link link-default" href="mailto:?subject=Recommendation%3A%20Audience%20Orchestra&body=I%20found%20this%20on%20www.elbphilharmonie.com%3A%0A%0AAudience%20Orchestra%0A90%20highly%20motivated%20amateurs%20rehearse%20together%20in%20the%20Audience%20Orchestra%20%E2%80%93%20and%20even%20perform%20regularly%20on%20the%20Grand%20Hall%20stage.%20%0A%0AIt%20includes%20the%20following%20events%3A%0A%0A%0ASun%2C%2015%20Jan%202023%2020%3A00%0AB%C3%BCrgerhaus%20Wilhelmsburg%0AElbphilharmonie%20Publikumsorchester%0ABrahms%20/%20Debussy%20/%20Berlioz%0A%0AFri%2C%2020%20Jan%202023%2020%3A00%0AElbphilharmonie%20Gro%C3%9Fer%20Saal%0AElbphilharmonie%20Publikumsorchester%0ABrahms%20/%20Debussy%20/%20Berlioz%0A%0ASat%2C%201%20Jul%202023%2020%3A00%0AB%C3%BCrgerhaus%20Wilhelmsburg%0AElbphilharmonie%20Audience%20Orchestra%0ABrahms%20/%20P%C3%A4rt%20/%20Orff%0A%0ASat%2C%208%20Jul%202023%2020%3A00%0AElbphilharmonie%20Gro%C3%9Fer%20Saal%0AElbphilharmonie%20Audience%20Orchestra%0ABrahms%20/%20P%C3%A4rt%20/%20Orff%0A%0Ahttps%3A//www.elbphilharmonie.de/en/participate/audience-orchestra/909">
											<i class="icon icon-share-mail"></i> Email
											</a>
										</li>
									</ul>
									
								</div>
							</li>

							
              
						</ul>
					</div>

					

					
						<div class="cell xlarge-auto event-status">
							<div class="status-box experience-status">
								


	<p class="status">
		Registration currently not possible
	</p>


							</div>
						</div>
					
				</div>
			</div>
		</div>
	</header>

	
	
	

	<aside class="grid-container slideshow-media-container">
		<div class="slideshow-media slideshow-event">
			
				<figure class="slide has-dark-gradient">
					<picture>
						<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/0c/72/0c724a7d-dcdd-4985-af5c-4c3f625a595a/20210929_publikumsorchester_c_daniel_dittus_3.jpg__686x387_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg">
						<source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/0c/72/0c724a7d-dcdd-4985-af5c-4c3f625a595a/20210929_publikumsorchester_c_daniel_dittus_3.jpg__948x533_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg">
						<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/0c/72/0c724a7d-dcdd-4985-af5c-4c3f625a595a/20210929_publikumsorchester_c_daniel_dittus_3.jpg__1420x695_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg" alt="Elbphilharmonie Publikumsorchester" title="Elbphilharmonie Publikumsorchester © Daniel Dittus">
					</picture>
					<figcaption class="image-caption">Elbphilharmonie Publikumsorchester © Daniel Dittus</figcaption>
				</figure>
			
		</div>
	</aside>
	<div class="spacer"></div>

	




	

<section class="event-detail-content grid-container">
	<div id="search_content_start_2"></div>
	<div class="grid-x grid-margin-x align-center">
		<div class="cell medium-10 large-8 xxlarge-7">
			
			
				<p>In the Audience Orchestra, some 90 dedicated non-professionals of all ages come together to share their love for music. The requirements for participation include an intermediate level of playing, confidence in reading music and some orchestral experience. The Audience Orchestra performs twice a year in the Elbphilharmonie Grand Hall and at Hamburg’s community centres – the programme includes pieces from Bach to Strawinsky, but also film music and unusual pieces. Michael Petermann, the Director of the Hamburger Konservatorium, conducts the orchestra. 
<p></p>
<p><strong>Rehearsal day &amp; time:</strong> Wednesdays, 19:15–21:45<br/><strong>Rehearsal venue:</strong> Elbphilharmonie Kaistudio<br/><strong>First autumn rehearsal: </strong>24 August 2022<br/><strong>First spring rehearsal:</strong> 1 February 2023</p>
<p>Monthly participation fee: €10</p></p>
			
			
		</div>
		<div class="cell xxlarge-1">
		</div>
	</div>
	
		<div class="spacer"></div>
	

	

	<div class="grid-x grid-margin-x align-center">
		<div class="cell medium-10 large-8">
			<div class="grid-x grid-margin-x">

				

				

				

				

				

				

				

				

				

				
					<div class="cell block-promoters">
						
						
							<p>Supported by Aurubis AG<br/>In cooperation with the Hamburger Konservatorium</p>
						
						<div class="spacer"></div>
					</div>
				

				

			</div>
		</div>
	</div>

	<div id="search_content_end_2"></div>
</section>


	




	<div id="search_content_start_3"></div>

  <div id="program-section">
	<!-- begin: #2554 -->
	
	<!-- end: #2554 -->

	
		<section class="grid-container booking-list-page distribution-js">

			

			<div class="grid-x grid-margin-x align-center">
				<div class="cell large-10 xlarge-12">
					<ul class="event-list">
						




		<li id="event_id_000000e900115d45" data-event-id="27169" class="event-item" data-categories="[]"><div class="grid-x grid-margin-x"><div class="cell xlarge-2"><div class="grid-x grid-margin-x date-and-place"><div class="cell small-6 medium-4 xlarge-12 date-cell"><div><span class="indicator-line" data-line></span></div><span class="caption"><time datetime="2023-01-15T20:00:00+01:00"><strong class="date nobreak">Sun, 15 Jan 2023</strong><span class="time">20:00</span></time></span></div><div class="cell small-6 medium-8 xlarge-12 place-cell"><span class="caption uppercase"><strong>Bürgerhaus Wilhelmsburg</strong></span></div></div></div><div class="cell medium-4 hide-for-small-only image-cell"><a href="/en/whats-on/elbphilharmonie-publikumsorchester/18516" tabindex="-1" class="event-image-link"><picture aria-hidden="true"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/3a/db/3adb5f8b-cd92-4592-9c4c-3b801c2578a3/191116_publikumsorchester_foto_claudia_hohne_015.jpg__219x164_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/3a/db/3adb5f8b-cd92-4592-9c4c-3b801c2578a3/191116_publikumsorchester_foto_claudia_hohne_015.jpg__392x294_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/3a/db/3adb5f8b-cd92-4592-9c4c-3b801c2578a3/191116_publikumsorchester_foto_claudia_hohne_015.jpg__442x328_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg" alt=""></picture><picture class="blurry show-for-medium"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/3a/db/3adb5f8b-cd92-4592-9c4c-3b801c2578a3/191116_publikumsorchester_foto_claudia_hohne_015.jpg__219x164_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/3a/db/3adb5f8b-cd92-4592-9c4c-3b801c2578a3/191116_publikumsorchester_foto_claudia_hohne_015.jpg__392x294_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/3a/db/3adb5f8b-cd92-4592-9c4c-3b801c2578a3/191116_publikumsorchester_foto_claudia_hohne_015.jpg__442x328_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg" alt="Publikumsorchester" title="Publikumsorchester © Claudia Höhne"></picture></a></div><div class="cell medium-8 xlarge-6 grid-y align-justify event-main"><div class="cell"><p class="event-title h2 no-line"><a href="/en/whats-on/elbphilharmonie-publikumsorchester/18516">
								Elbphilharmonie Publikumsorchester
							</a></p><p class="event-subtitle">Brahms / Debussy / Berlioz</p></div><div class="cell status-info grid-x align-justify align-bottom"><div class="cell small-12 large-shrink "><button class="event__bookmark" 
                       type="button" 
                       data-alert="false"
                       data-id="000000e9:00115d45" 
                       data-name="Sun, 15 Jan 2023 - Elbphilharmonie Publikumsorchester"><i class="event__bookmark-icon icon icon-merken-star" data-bookmark-icon-off="icon-merken-star" data-bookmark-icon-on="icon-merken-star-blue"></i><span class="event__bookmark-text " 
                        data-bookmark-text-off='Save for later' 
                        data-bookmark-text-on='<strong>Event saved</strong>' 
                        data-bookmark-alert-off='Save for later / Ticket alert'
                        data-bookmark-alert-one-on='<strong>Event saved /</strong> Ticket alert'
                        data-bookmark-alert-two-on='<strong>Event saved / Ticket alert activated</strong>'
                   >Save for later</span>&nbsp;
                </button></div><!-- <span></span> --><div class="cell small-1 large-auto"></div><div class="cell shrink text-right"><div class="sale-status status-box"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/elbphilharmonie-publikumsorchester/18516"
	   data-name="Elbphilharmonie Publikumsorchester - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">€</span></span><span class="price-from"><span>5</span></span></a></span></div><div class="presale sale-status status-box" style="display: none;"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/elbphilharmonie-publikumsorchester/18516"
	   data-name="Elbphilharmonie Publikumsorchester - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">€</span></span><span class="price-from"><span>5</span></span></a></span></div></div></div></div></div></li>


		<li id="event_id_000000e9000e55a2" data-event-id="27167" class="event-item" data-categories="[]"><div class="grid-x grid-margin-x"><div class="cell xlarge-2"><div class="grid-x grid-margin-x date-and-place"><div class="cell small-6 medium-4 xlarge-12 date-cell"><div><span class="indicator-line" data-line></span></div><span class="caption"><time datetime="2023-01-20T20:00:00+01:00"><strong class="date nobreak">Fri, 20 Jan 2023</strong><span class="time">20:00</span></time></span></div><div class="cell small-6 medium-8 xlarge-12 place-cell"><span class="caption uppercase"><strong>Elbphilharmonie</strong> Großer Saal
							</span></div></div></div><div class="cell medium-4 hide-for-small-only image-cell"><a href="/en/whats-on/elbphilharmonie-publikumsorchester/18511" tabindex="-1" class="event-image-link"><picture aria-hidden="true"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/65/28/65283dfb-b21e-4b64-b4c1-7d13210a35af/20180701_publikumsorchester_foto_claudia_hoehne_044.jpg__219x164_q85_crop_subject_location-990%2C924_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/65/28/65283dfb-b21e-4b64-b4c1-7d13210a35af/20180701_publikumsorchester_foto_claudia_hoehne_044.jpg__392x294_q85_crop_subject_location-990%2C924_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/65/28/65283dfb-b21e-4b64-b4c1-7d13210a35af/20180701_publikumsorchester_foto_claudia_hoehne_044.jpg__442x328_q85_crop_subject_location-990%2C924_subsampling-2_upscale.jpg" alt=""></picture><picture class="blurry show-for-medium"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/65/28/65283dfb-b21e-4b64-b4c1-7d13210a35af/20180701_publikumsorchester_foto_claudia_hoehne_044.jpg__219x164_q85_crop_subject_location-990%2C924_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/65/28/65283dfb-b21e-4b64-b4c1-7d13210a35af/20180701_publikumsorchester_foto_claudia_hoehne_044.jpg__392x294_q85_crop_subject_location-990%2C924_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/65/28/65283dfb-b21e-4b64-b4c1-7d13210a35af/20180701_publikumsorchester_foto_claudia_hoehne_044.jpg__442x328_q85_crop_subject_location-990%2C924_subsampling-2_upscale.jpg" alt="Elbphilharmonie Publikumsorchester" title="Elbphilharmonie Publikumsorchester © Claudia Höhne"></picture></a></div><div class="cell medium-8 xlarge-6 grid-y align-justify event-main"><div class="cell"><p class="event-title h2 no-line"><a href="/en/whats-on/elbphilharmonie-publikumsorchester/18511">
								Elbphilharmonie Publikumsorchester
							</a></p><p class="event-subtitle">Brahms / Debussy / Berlioz</p></div><div class="cell status-info grid-x align-justify align-bottom"><div class="cell small-12 large-shrink "><button class="event__bookmark" 
                       type="button" 
                       data-alert="false"
                       data-id="000000e9:000e55a2" 
                       data-name="Fri, 20 Jan 2023 - Elbphilharmonie Publikumsorchester"><i class="event__bookmark-icon icon icon-merken-star" data-bookmark-icon-off="icon-merken-star" data-bookmark-icon-on="icon-merken-star-blue"></i><span class="event__bookmark-text " 
                        data-bookmark-text-off='Save for later' 
                        data-bookmark-text-on='<strong>Event saved</strong>' 
                        data-bookmark-alert-off='Save for later / Ticket alert'
                        data-bookmark-alert-one-on='<strong>Event saved /</strong> Ticket alert'
                        data-bookmark-alert-two-on='<strong>Event saved / Ticket alert activated</strong>'
                   >Save for later</span>&nbsp;
                </button></div><!-- <span></span> --><div class="cell small-1 large-auto"></div><div class="cell shrink text-right"><div class="soldout-status status-box"><span class="ticket-and-prices"><span class="status link-sold-out">
						Sold out
					</span></span></div><div class="presale sale-status status-box" style="display: none;"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/elbphilharmonie-publikumsorchester/18511"
	   data-name="Elbphilharmonie Publikumsorchester - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">€</span></span><span class="price-from"><span>5</span></span></a></span></div></div></div></div></div></li>


		<li id="event_id_000000e900115d44" data-event-id="27168" class="event-item" data-categories="[]"><div class="grid-x grid-margin-x"><div class="cell xlarge-2"><div class="grid-x grid-margin-x date-and-place"><div class="cell small-6 medium-4 xlarge-12 date-cell"><div><span class="indicator-line" data-line></span></div><span class="caption"><time datetime="2023-07-01T20:00:00+02:00"><strong class="date nobreak">Sat, 1 Jul 2023</strong><span class="time">20:00</span></time></span></div><div class="cell small-6 medium-8 xlarge-12 place-cell"><span class="caption uppercase"><strong>Bürgerhaus Wilhelmsburg</strong></span></div></div></div><div class="cell medium-4 hide-for-small-only image-cell"><a href="/en/whats-on/elbphilharmonie-audience-orchestra/18515" tabindex="-1" class="event-image-link"><picture aria-hidden="true"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/0c/72/0c724a7d-dcdd-4985-af5c-4c3f625a595a/20210929_publikumsorchester_c_daniel_dittus_3.jpg__219x164_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/0c/72/0c724a7d-dcdd-4985-af5c-4c3f625a595a/20210929_publikumsorchester_c_daniel_dittus_3.jpg__392x294_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/0c/72/0c724a7d-dcdd-4985-af5c-4c3f625a595a/20210929_publikumsorchester_c_daniel_dittus_3.jpg__442x328_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg" alt=""></picture><picture class="blurry show-for-medium"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/0c/72/0c724a7d-dcdd-4985-af5c-4c3f625a595a/20210929_publikumsorchester_c_daniel_dittus_3.jpg__219x164_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/0c/72/0c724a7d-dcdd-4985-af5c-4c3f625a595a/20210929_publikumsorchester_c_daniel_dittus_3.jpg__392x294_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/0c/72/0c724a7d-dcdd-4985-af5c-4c3f625a595a/20210929_publikumsorchester_c_daniel_dittus_3.jpg__442x328_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg" alt="Elbphilharmonie Publikumsorchester" title="Elbphilharmonie Publikumsorchester © Daniel Dittus"></picture></a></div><div class="cell medium-8 xlarge-6 grid-y align-justify event-main"><div class="cell"><p class="event-title h2 no-line"><a href="/en/whats-on/elbphilharmonie-audience-orchestra/18515">
								Elbphilharmonie Audience Orchestra
							</a></p><p class="event-subtitle">Brahms / Pärt / Orff</p></div><div class="cell status-info grid-x align-justify align-bottom"><div class="cell small-12 large-shrink "><button class="event__bookmark" 
                       type="button" 
                       data-alert="false"
                       data-id="000000e9:00115d44" 
                       data-name="Sat, 1 Jul 2023 - Elbphilharmonie Audience Orchestra"><i class="event__bookmark-icon icon icon-merken-star" data-bookmark-icon-off="icon-merken-star" data-bookmark-icon-on="icon-merken-star-blue"></i><span class="event__bookmark-text " 
                        data-bookmark-text-off='Save for later' 
                        data-bookmark-text-on='<strong>Event saved</strong>' 
                        data-bookmark-alert-off='Save for later / Ticket alert'
                        data-bookmark-alert-one-on='<strong>Event saved /</strong> Ticket alert'
                        data-bookmark-alert-two-on='<strong>Event saved / Ticket alert activated</strong>'
                   >Save for later</span>&nbsp;
                </button></div><!-- <span></span> --><div class="cell small-1 large-auto"></div><div class="cell shrink text-right"><div class="future-status status-box"><span class="status">
				
					Ticket sale
				
			</span><span class="status status-sub">
				&nbsp;starts on
				7 Feb 2023
				
			</span><a class="link link-ticket hide"
	   href="/en/whats-on/ticket/elbphilharmonie-audience-orchestra/18515"
	   data-name="Elbphilharmonie Audience Orchestra - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">€</span></span><span class="price-from"><span>5</span></span></a></div><div class="presale sale-status status-box" style="display: none;"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/elbphilharmonie-audience-orchestra/18515"
	   data-name="Elbphilharmonie Audience Orchestra - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">€</span></span><span class="price-from"><span>5</span></span></a></span></div></div></div></div></div></li>


		<li id="event_id_000000e9000e5b07" data-event-id="27170" class="event-item" data-categories="[]"><div class="grid-x grid-margin-x"><div class="cell xlarge-2"><div class="grid-x grid-margin-x date-and-place"><div class="cell small-6 medium-4 xlarge-12 date-cell"><div><span class="indicator-line" data-line></span></div><span class="caption"><time datetime="2023-07-08T20:00:00+02:00"><strong class="date nobreak">Sat, 8 Jul 2023</strong><span class="time">20:00</span></time></span></div><div class="cell small-6 medium-8 xlarge-12 place-cell"><span class="caption uppercase"><strong>Elbphilharmonie</strong> Großer Saal
							</span></div></div></div><div class="cell medium-4 hide-for-small-only image-cell"><a href="/en/whats-on/elbphilharmonie-audience-orchestra/18512" tabindex="-1" class="event-image-link"><picture aria-hidden="true"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/65/28/65283dfb-b21e-4b64-b4c1-7d13210a35af/20180701_publikumsorchester_foto_claudia_hoehne_044.jpg__219x164_q85_crop_subject_location-990%2C924_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/65/28/65283dfb-b21e-4b64-b4c1-7d13210a35af/20180701_publikumsorchester_foto_claudia_hoehne_044.jpg__392x294_q85_crop_subject_location-990%2C924_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/65/28/65283dfb-b21e-4b64-b4c1-7d13210a35af/20180701_publikumsorchester_foto_claudia_hoehne_044.jpg__442x328_q85_crop_subject_location-990%2C924_subsampling-2_upscale.jpg" alt=""></picture><picture class="blurry show-for-medium"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/65/28/65283dfb-b21e-4b64-b4c1-7d13210a35af/20180701_publikumsorchester_foto_claudia_hoehne_044.jpg__219x164_q85_crop_subject_location-990%2C924_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/65/28/65283dfb-b21e-4b64-b4c1-7d13210a35af/20180701_publikumsorchester_foto_claudia_hoehne_044.jpg__392x294_q85_crop_subject_location-990%2C924_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/65/28/65283dfb-b21e-4b64-b4c1-7d13210a35af/20180701_publikumsorchester_foto_claudia_hoehne_044.jpg__442x328_q85_crop_subject_location-990%2C924_subsampling-2_upscale.jpg" alt="Elbphilharmonie Publikumsorchester" title="Elbphilharmonie Publikumsorchester © Claudia Höhne"></picture></a></div><div class="cell medium-8 xlarge-6 grid-y align-justify event-main"><div class="cell"><p class="event-title h2 no-line"><a href="/en/whats-on/elbphilharmonie-audience-orchestra/18512">
								Elbphilharmonie Audience Orchestra
							</a></p><p class="event-subtitle">Brahms / Pärt / Orff</p></div><div class="cell status-info grid-x align-justify align-bottom"><div class="cell small-12 large-shrink "><button class="event__bookmark" 
                       type="button" 
                       data-alert="false"
                       data-id="000000e9:000e5b07" 
                       data-name="Sat, 8 Jul 2023 - Elbphilharmonie Audience Orchestra"><i class="event__bookmark-icon icon icon-merken-star" data-bookmark-icon-off="icon-merken-star" data-bookmark-icon-on="icon-merken-star-blue"></i><span class="event__bookmark-text " 
                        data-bookmark-text-off='Save for later' 
                        data-bookmark-text-on='<strong>Event saved</strong>' 
                        data-bookmark-alert-off='Save for later / Ticket alert'
                        data-bookmark-alert-one-on='<strong>Event saved /</strong> Ticket alert'
                        data-bookmark-alert-two-on='<strong>Event saved / Ticket alert activated</strong>'
                   >Save for later</span>&nbsp;
                </button></div><!-- <span></span> --><div class="cell small-1 large-auto"></div><div class="cell shrink text-right"><div class="sale-status status-box"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/elbphilharmonie-audience-orchestra/18512"
	   data-name="Elbphilharmonie Audience Orchestra - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">€</span></span><span class="price-from"><span>5</span></span></a></span></div><div class="presale sale-status status-box" style="display: none;"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/elbphilharmonie-audience-orchestra/18512"
	   data-name="Elbphilharmonie Audience Orchestra - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">€</span></span><span class="price-from"><span>5</span></span></a></span></div></div></div></div></div></li>








					</ul>
				</div>
			</div>
		</section>
		<div class="spacer"></div>
	
	
  </div>

	




	<div id="search_content_end_3"></div>

	

	


<article class="grid-container" id="mediathek">
	<div class="grid-x grid-margin-x align-center">
		<div class="cell">
			<h2>
				<span class="preline light">
					From the Mediatheque
				</span>
				<span class="show-for-sr">:</span>
				Videos, Podcasts, Articles
			</h2>
			<div class="spacer small"></div>
		</div>
	</div>
	<div class="blog-teasers">
		
	<div class="teaser-grid-module three-cols">
		<div class="blog__list grid-x grid-margin-x">
			
				<div class="cell medium-10 xlarge-4">
					


<div class="blog__item blog__item--small blog__item--other tag-Podcast tag-Kids tag-kopfhoerer ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/elbphilharmonie-kopfhorer-12-the-join-in-orchestras/636" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/44/59/44596bef-f9f9-455a-acdb-539ec8129d02/podcast_ephh_kopfhorer_ep12_web.jpg__452x409_q85_crop_subject_location-2508%2C942_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/44/59/44596bef-f9f9-455a-acdb-539ec8129d02/podcast_ephh_kopfhorer_ep12_web.jpg__110x99_q85_crop_subject_location-2508%2C942_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/44/59/44596bef-f9f9-455a-acdb-539ec8129d02/podcast_ephh_kopfhorer_ep12_web.jpg__452x409_q85_crop_subject_location-2508%2C942_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/44/59/44596bef-f9f9-455a-acdb-539ec8129d02/podcast_ephh_kopfhorer_ep12_web.jpg__110x99_q85_crop_subject_location-2508%2C942_subsampling-2_upscale.jpg" alt="Elbphilharmonie Kopfhörer #12 – The join-in orchestras" title="Elbphilharmonie Kopfhörer, Folge 12: Die Mitmach-Orchester der Elbphilharmonie © breeder typo" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/elbphilharmonie-kopfhorer-12-the-join-in-orchestras/636" class="detail-link" data-name="Listen now (in German) - Elbphilharmonie Kopfhörer #12 – The join-in orchestras">
					<span class="inner-title">Elbphilharmonie Kopfhörer #12 – The join-in orchestras</span>
				</a>
			</h3>
			<p class="blog__description">
				The Elbphilharmonie podcast for young people aged 8 and upwards.
				
					<a href="/en/mediatheque/tag/Podcast" class="tag article-tag" data-name="#Podcast">#Podcast</a>
				
					<a href="/en/mediatheque/tag/Kids" class="tag article-tag" data-name="#Kids">#Kids</a>
				
					<a href="/en/mediatheque/tag/kopfhoerer" class="tag article-tag" data-name="#Kopfhörer">#Kopfhörer</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/elbphilharmonie-kopfhorer-12-the-join-in-orchestras/636" class="link link-default detail-link" data-name="Listen now (in German) - Elbphilharmonie Kopfhörer #12 – The join-in orchestras" aria-hidden="true" tabindex="-1">Listen now (in German)</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4">
					


<div class="blog__item blog__item--small blog__item--other tag-join-in ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/5-questions-for-a-musician-from-the-audience/165" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/c8/31/c831d85c-ded7-4c23-9038-47c68a0b17fc/20180701_michael_vitzthum_035.jpg__452x409_q85_crop_subject_location-1505%2C1763_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/c8/31/c831d85c-ded7-4c23-9038-47c68a0b17fc/20180701_michael_vitzthum_035.jpg__110x99_q85_crop_subject_location-1505%2C1763_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/c8/31/c831d85c-ded7-4c23-9038-47c68a0b17fc/20180701_michael_vitzthum_035.jpg__452x409_q85_crop_subject_location-1505%2C1763_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/c8/31/c831d85c-ded7-4c23-9038-47c68a0b17fc/20180701_michael_vitzthum_035.jpg__110x99_q85_crop_subject_location-1505%2C1763_subsampling-2_upscale.jpg" alt="5 questions for a Musician from the Audience" title="" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/5-questions-for-a-musician-from-the-audience/165" class="detail-link" data-name="Read the interview - 5 questions for a Musician from the Audience">
					<span class="inner-title">5 questions for a Musician from the Audience</span>
				</a>
			</h3>
			<p class="blog__description">
				The Elbphilharmonie&#39;s Audience Orchestra brings together keen amateur musicians. Contrabassoonist Michael Vitzthum has been a member from the outset.
				
					<a href="/en/mediatheque/tag/join-in" class="tag article-tag" data-name="#JoinIn">#JoinIn</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/5-questions-for-a-musician-from-the-audience/165" class="link link-default detail-link" data-name="Read the interview - 5 questions for a Musician from the Audience" aria-hidden="true" tabindex="-1">Read the interview</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
				<div class="cell medium-10 xlarge-4">
					


<div class="blog__item blog__item--small blog__item--other tag-Kids tag-join-in ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/the-elbphilharmonies-join-in-ensembles/127" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/56/e6/56e6ff02-6e57-408f-93a5-a1cd0836dfda/danieldittus-gamelanensemble-180128-19.jpg__452x409_q85_crop_subject_location-642%2C632_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/56/e6/56e6ff02-6e57-408f-93a5-a1cd0836dfda/danieldittus-gamelanensemble-180128-19.jpg__110x99_q85_crop_subject_location-642%2C632_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/56/e6/56e6ff02-6e57-408f-93a5-a1cd0836dfda/danieldittus-gamelanensemble-180128-19.jpg__452x409_q85_crop_subject_location-642%2C632_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/56/e6/56e6ff02-6e57-408f-93a5-a1cd0836dfda/danieldittus-gamelanensemble-180128-19.jpg__110x99_q85_crop_subject_location-642%2C632_subsampling-2_upscale.jpg" alt="The Elbphilharmonie’s join-in ensembles" title="Gamelan Ensemble © Daniel Dittus" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
				<a href="/en/mediatheque/the-elbphilharmonies-join-in-ensembles/127" class="detail-link" data-name="Read the article - The Elbphilharmonie’s join-in ensembles">
					<span class="inner-title">The Elbphilharmonie’s join-in ensembles</span>
				</a>
			</h3>
			<p class="blog__description">
				The Audience Orchestra, the Gamelan Ensemble and the Creative Orchestra introduce themselves.
				
					<a href="/en/mediatheque/tag/Kids" class="tag article-tag" data-name="#Kids">#Kids</a>
				
					<a href="/en/mediatheque/tag/join-in" class="tag article-tag" data-name="#JoinIn">#JoinIn</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/the-elbphilharmonies-join-in-ensembles/127" class="link link-default detail-link" data-name="Read the article - The Elbphilharmonie’s join-in ensembles" aria-hidden="true" tabindex="-1">Read the article</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
			
				<div class="cell medium-10 xlarge-4">
					





	<div class="blog__item blog__item--small">
		<figure class="blog__image">
			<a href="/en/mediatheque/tag/join-in" class="blog__link" aria-hidden="true" tabindex="-1">
				<div class="blog__image-wrapper">
					<picture class="blog__image-view" aria-hidden="true">
						<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/ba/01/ba014d85-b050-49b5-a45f-1472768bc3eb/still_familienorchester.jpg__452x409_q85_crop_subject_location-1000%2C562_subsampling-2_upscale.jpg">
						<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/ba/01/ba014d85-b050-49b5-a45f-1472768bc3eb/still_familienorchester.jpg__110x99_q85_crop_subject_location-1000%2C562_subsampling-2_upscale.jpg" alt="" data-image-loading>
					</picture>
					<picture class="blog__image-blurry">
						<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/ba/01/ba014d85-b050-49b5-a45f-1472768bc3eb/still_familienorchester.jpg__452x409_q85_crop_subject_location-1000%2C562_subsampling-2_upscale.jpg">
						<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/ba/01/ba014d85-b050-49b5-a45f-1472768bc3eb/still_familienorchester.jpg__110x99_q85_crop_subject_location-1000%2C562_subsampling-2_upscale.jpg" alt="Stories with the hashtag #JoinIn"
							 title="Familienorchester © Elbphilharmonie Hamburg" data-image-loading>
					</picture>
				</div>
				<div class="blog__image-line" data-line></div>
			</a>
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				<a href="/en/mediatheque/tag/join-in" class="detail-link" data-name="Stories with the hashtag #JoinIn">
					<span class="inner-title">Stories with the hashtag #JoinIn</span>
				</a>
			</h3>
			<p class="blog__description">
				Exciting activities, videos and information about the Elbphilharmonie&#39;s join-in ensembles.
				<a href="/en/mediatheque/tag/join-in" class="tag article-tag" data-name="#JoinIn">
					#JoinIn
				</a>
			</p>
			<div class="blog__button">
				<a href="/en/mediatheque/tag/join-in" class="link link-default detail-link" data-name="Stories with the hashtag #JoinIn"
				   aria-hidden="true" tabindex="-1">
					View articles
				</a>
			</div>
		</div>
	</div><!-- /.teaser-box -->


				</div>
			
		</div>
	</div>


	</div>
	<div class="spacer"></div>
</article>





      

<aside class="merklist-modal">
	<div class="merklist-modal__wrapper">
		<button class="merklist-modal__close js-merklist-modal__close" type="button" title="Close"></button>
    <!-- MODAL: login -->
    <div class="merklist-modal__content" data-modal="login">
      <p class="merklist-modal__title line-center h3">Saved events</p>
      <p class="merklist-modal__text">Login required. If you do not have an Elbphilharmonie customer account, registering is quick and easy.</p>
      <div class="merklist-modal__button">
        <a href="#" class="button link link-default merklist-modal__account">Log in or register</a>
      </div>
    </div>
    <!-- MODAL: alert check -->
    <div class="merklist-modal__content" data-modal="alert" style="display: none;">
      <p class="merklist-modal__title line-center h3">Your selection</p>
      <label  class="merklist-modal__label">
      <input type="radio" name="alert" class="merklist-modal__radio" value="1">
        <span>Add to saved events</span>
      </label>
      <label class="merklist-modal__label">
      <input type="radio" name="alert" class="merklist-modal__radio" value="2" checked>
        <span>Activate ticket alert</span>
        <span class="merklist-modal__text">You will receive an email alert one day before tickets go on sale.</span>
      </label>
      <div class="merklist-modal__button">
        <button type="button" class="button link link-default merklist-modal__save">Confirm</button>
      </div>
    </div>
    <!-- MODAL: alert uncheck -->
    <div class="merklist-modal__content" data-modal="uncheck" style="display: none;">
      <p class="merklist-modal__title line-center h3">Edit events saved</p>
      <label class="merklist-modal__label">
        <input type="radio" name="uncheck" class="merklist-modal__radio" value="1" checked>
        <span>Deactivate ticket alert</span>
      </label>
      <label  class="merklist-modal__label">
        <input type="radio" name="uncheck" class="merklist-modal__radio" value="DELETE">
        <span>Remove event from my saved events</span>
      </label>
      <div class="merklist-modal__button">
        <button type="button" class="button link link-default merklist-modal__save">Confirm</button>
      </div>
    </div>
	</div>
</aside>

      <aside class="blog__lightbox">
  <div class="blog__lightbox-container">
    <button class="blog__lightbox-close" title="Close modal"></button>
    <div class="blog__lightbox-wrapper">
      <iframe src="" frameborder="0" id="blog-iframe" class="blog__lightbox-iframe" allow="fullscreen"></iframe>
    </div>
  </div>
</aside>

		</main>

		
			

