
<main>

    <div style="max-width: 45em">
                    <p>Thank you for registering. You will receive a confirmation email shortly. If you do not receive an email, please check your spam folder and if necessary contact us via email at mitmachen@elbphilharmonie.de.</p>
                                    </div>

</main>

