
		<main class="content-container">
			
  <div class="grid-container">
    

<header class="grid-container page-header less-space">
	<div class="grid-x grid-margin-x align-center">
		<div class="cell medium-10">
			<h1>What’s On</h1>
		</div>
	</div>
</header>

<aside>
  <nav class="grid-container section-container anchor-nav event-tabs">
    <ul class="anchor-nav__list">
      <li class="anchor-nav__item">
        <a href="/en/whats-on/" class="anchor-nav__link" data-name="Events" >
          Events
        </a>
      </li>
      <li class="anchor-nav__item">
        <a href="/en/subscriptions" class="anchor-nav__link" data-name="Subscriptions" >
          Subscriptions
        </a>
      </li>
      <li class="anchor-nav__item">
        <a href="/en/season" class="anchor-nav__link active" data-name="Season" aria-current="page">
          Season
        </a>
      </li>
      <li class="anchor-nav__item">
        <a href="/en/participate" class="anchor-nav__link" data-name="Participate" >
          Participate
        </a>
      </li>
      <li class="anchor-nav__indicator"></li>
    </ul>
  </nav>
</aside>


    <div class="spacer"></div>

	
		






	<div class="grid-container section-container fluid">
		<div class="grid-x grid-margin-x align-center cms-row " id="container-100900">
		
			<div class="cell cms-col">
				
				
					
					





	
	<header id="page-header-101929" class="grid-container section-container fluid has-background page-header ">
		<div class="has-dark-gradient">
			<picture>
				<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/ae/30/ae303012-dafd-4aa0-99ed-708ef9924c21/220311_raetzke_elbphilharmonie_aerial_1304.jpg__686x968_q85_crop_subject_location-951%2C283_subsampling-2_upscale.jpg">
				<source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/ae/30/ae303012-dafd-4aa0-99ed-708ef9924c21/220311_raetzke_elbphilharmonie_aerial_1304.jpg__948x533_q85_crop_subject_location-951%2C283_subsampling-2_upscale.jpg">
				<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/ae/30/ae303012-dafd-4aa0-99ed-708ef9924c21/220311_raetzke_elbphilharmonie_aerial_1304.jpg__1794x897_q85_crop_subject_location-951%2C283_subsampling-2_upscale.jpg" title="© Thies Rätzke" alt="None">
			</picture>
			

			<span class="image-caption">© Thies Rätzke</span>
			<div class="grid-container section-container text-container">
				<div class="grid-x grid-margin-x">
					<div class="cell medium-10 large-8 xlarge-7 medium-offset-1 large-offset-1 xlarge-offset-1 xxlarge-offset-1">
						
							<h1>The 2022/23 Season</h1>
						
					</div>
					<div class="cell medium-8 large-6 xlarge-5 medium-offset-1 large-offset-1 xlarge-offset-1 xxlarge-offset-1">
						
							<p class="description-bold" role="doc-subtitle">The programme for the next season is ready – tickets and subscriptions can be booked now!</p>
						
						
							<a href="/en/whats-on/01-08-2022/" class="button link link-ticket">
								Book Tickets now
							</a>
						
						
					</div>
				</div>
				
			</div>
			
		</div>
	</header>

	


	

	
	<div class="spacer"></div>





					
				
					
					






	<div class="grid-container section-container">
		<div class="grid-x grid-margin-x align-center cms-row " id="container-101951">
		
			<div class="cell medium-10 large-8  cms-col">
				
				
					
					







	<h2 id="headline-100902" class="headline-module">
		2022/23 Season
		
	</h2>







					
				
				
			</div>
		
		</div>
	</div>
	






					
				
					
					






	<div class="grid-container section-container with-spacer">
		<div class="grid-x grid-margin-x align-center cms-row " id="container-100901">
		
			<div class="cell medium-8 large-6  cms-col">
				
				
					
					





<div id="text-100903" class="text-module">
	
		<p>Epic orchestral concerts and delicate chamber music, enthralling composers, exhilarating conductors and virtuosic soloists in various different portrait series, with several festivals thrown in too – the concert season in the Elbphilharmonie and Laeiszhalle is once again bursting at the seams and has something to appeal to every taste, right through to jazz and pop. With some special highlights to spice up proceedings, including Afrofuturism, the music of the Sufis, the versatility of the mandolin and the celebrated singer Angélique Kidjo.</p>
	
</div>





					
				
				
			</div>
		
			<div class="cell medium-4 large-3 large-offset-1 xlarge-offset-1 xxlarge-offset-1  cms-col">
				
				
					
					





<div id="anchor-list-100905" class="list-module">
	<ul class="link-list">
		
			
				<li class="list-item" id="anchor-item-101417">
					
						
							<a href="#spotlights" class="link link-default">
								Spotlights 
							</a>
						
					
				</li>
			
		
			
				<li class="list-item" id="anchor-item-101418">
					
						
							<a href="#focus-on-artists" class="link link-default">
								Focus on artists 
							</a>
						
					
				</li>
			
		
			
				<li class="list-item" id="anchor-item-101419">
					
						
							<a href="#festivals" class="link link-default">
								Festivals 
							</a>
						
					
				</li>
			
		
			
				<li class="list-item" id="anchor-item-102035">
					
						
							<a href="#orchestras-in-residence" class="link link-default">
								Orchestras in Residence 
							</a>
						
					
				</li>
			
		
			
				<li class="list-item" id="anchor-item-102036">
					
						
							<a href="#genres" class="link link-default">
								Genres 
							</a>
						
					
				</li>
			
		
	</ul>
</div>





					
				
					
					





<div id="anchor-100913" class="anchor-module">
	<a href="/en/season#archive" class=" link link-default"  data-name="Go to archive">Go to archive</a>
</div>





					
				
				
			</div>
		
		</div>
	</div>
        <div class="spacer"></div>
        <%@highlights.each do |title,highlights|%>
	






					
				
					
					






	<div class="grid-container section-container with-spacer">
		<div class="grid-x grid-margin-x align-center cms-row " id="container-100942">
		
			<div class="cell medium-10 large-8  cms-col">
				
				
					
					







	<h2 id="<%=title.parameterize%>" class="headline-module">
		<%=title%>
		
	</h2>







					
				
				
			</div>
		
		</div>
	</div>
	<div class="spacer"></div>






					
				
					
					





<div id="teaserlist-100945" class="grid-container section-container teaser-list-module three-cols">
	<div class="grid-x grid-margin-x teaser-list">
		
			
				
					
			
		
			
				<%=render collection: highlights, partial: "teaseritem", as: :highlight%>
					
				
			
		
	</div>
</div>
<div class="spacer"></div>



<%end%>

					
				
					
			<%if @genres.length > 0%>		



<div class="grid-container section-container with-spacer">
		<div class="grid-x grid-margin-x align-center cms-row " id="genres">
		
			<div class="cell medium-10 large-8 cms-col">
				
				
					
					







	<h2 id="genres" class="headline-module">
		Genres
		
	</h2>







					
				
				
			</div>
		
		</div>
	</div>

					
		<div class="spacer"></div>


<%=render collection: @genres, as: :genres, partial: "genres"%>

					
				
					
					

<%end%>








					
				
				
			</div>
		
		</div>
	</div>
	<div class="spacer"></div>






	
	
  </div>


      

<aside class="merklist-modal">
	<div class="merklist-modal__wrapper">
		<button class="merklist-modal__close js-merklist-modal__close" type="button" title="Close"></button>
    <!-- MODAL: login -->
    <div class="merklist-modal__content" data-modal="login">
      <p class="merklist-modal__title line-center h3">Saved events</p>
      <p class="merklist-modal__text">Login required. If you do not have an Elbphilharmonie customer account, registering is quick and easy.</p>
      <div class="merklist-modal__button">
        <a href="#" class="button link link-default merklist-modal__account">Log in or register</a>
      </div>
    </div>
    <!-- MODAL: alert check -->
    <div class="merklist-modal__content" data-modal="alert" style="display: none;">
      <p class="merklist-modal__title line-center h3">Your selection</p>
      <label  class="merklist-modal__label">
      <input type="radio" name="alert" class="merklist-modal__radio" value="1">
        <span>Add to saved events</span>
      </label>
      <label class="merklist-modal__label">
      <input type="radio" name="alert" class="merklist-modal__radio" value="2" checked>
        <span>Activate ticket alert</span>
        <span class="merklist-modal__text">You will receive an email alert one day before tickets go on sale.</span>
      </label>
      <div class="merklist-modal__button">
        <button type="button" class="button link link-default merklist-modal__save">Confirm</button>
      </div>
    </div>
    <!-- MODAL: alert uncheck -->
    <div class="merklist-modal__content" data-modal="uncheck" style="display: none;">
      <p class="merklist-modal__title line-center h3">Edit events saved</p>
      <label class="merklist-modal__label">
        <input type="radio" name="uncheck" class="merklist-modal__radio" value="1" checked>
        <span>Deactivate ticket alert</span>
      </label>
      <label  class="merklist-modal__label">
        <input type="radio" name="uncheck" class="merklist-modal__radio" value="DELETE">
        <span>Remove event from my saved events</span>
      </label>
      <div class="merklist-modal__button">
        <button type="button" class="button link link-default merklist-modal__save">Confirm</button>
      </div>
    </div>
	</div>
</aside>

      <aside class="blog__lightbox">
  <div class="blog__lightbox-container">
    <button class="blog__lightbox-close" title="Close modal"></button>
    <div class="blog__lightbox-wrapper">
      <iframe src="" frameborder="0" id="blog-iframe" class="blog__lightbox-iframe" allow="fullscreen"></iframe>
    </div>
  </div>
</aside>

		</main>

		