	<main class="content-container">
			
	


<div id="search_content_start_1"></div>

<!-- start:content-container -->
<section class="blog-detail">
	<!-- .worldwide-image -->
	<div class="blog-detail__banner  tag-innerview tag-interview tag-jazz tag-portrait ">
		<div class="blog-detail__image embedded-video-placeholder">
			<picture>
				<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/7c/e6/7ce63b0b-a650-4562-9f20-cbc92b992776/210921_innerviews_silvan_strauss_c_daniel_dittus_09.jpg__640x960_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg">
				
				<source media="(max-width: 840px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/7c/e6/7ce63b0b-a650-4562-9f20-cbc92b992776/210921_innerviews_silvan_strauss_c_daniel_dittus_09.jpg__840x546_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg">
				<source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/7c/e6/7ce63b0b-a650-4562-9f20-cbc92b992776/210921_innerviews_silvan_strauss_c_daniel_dittus_09.jpg__1024x576_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg">
				<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/7c/e6/7ce63b0b-a650-4562-9f20-cbc92b992776/210921_innerviews_silvan_strauss_c_daniel_dittus_09.jpg__1420x696_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg" alt="Silvan Strauß">
			</picture>
		</div>
		<!-- .content-box -->
		<div class="blog-detail__content grid-container embedded-video-placeholder">
			<div class="grid-x">
				<div class="cell medium-offset-1 medium-7 xxlarge-6">
					




					

<h1 class="blog-detail__title ">

  Elbphilharmonie Innerview: Silvan Strauß

</h1>

					


<p class="blog-detail__description bold h3 no-uppercase"  role="doc-subtitle">

  »Music has a lot to do with dreams« – Hamburg drummer Silvan Strauß talks about how he found his way on to the stage, and about the special power that music has.

</p>


    
    <ul class="blog-detail__tags bold">
      
      <li class="blog-detail__tag"><a href="/en/mediatheque/tag/innerview" class="blog-detail__tag-link h3 no-uppercase">#Innerview</a></li>
      
      <li class="blog-detail__tag"><a href="/en/mediatheque/tag/interview" class="blog-detail__tag-link h3 no-uppercase">#Interview</a></li>
      
      <li class="blog-detail__tag"><a href="/en/mediatheque/tag/jazz" class="blog-detail__tag-link h3 no-uppercase">#Jazz</a></li>
      
      <li class="blog-detail__tag"><a href="/en/mediatheque/tag/portrait" class="blog-detail__tag-link h3 no-uppercase">#Portrait</a></li>
      
    </ul>
    




          
				</div>
				<div class="cell medium-3 blog-detail__play-center">
					
				</div>
			</div>
		</div>

		

	</div>
	<!-- /.worldwide-image -->
	<div class="blog-detail__utils grid-container">
	<a href="/en/mediatheque" class="link">
	  <i class="icon-arrow-left"></i>
	  Mediatheque
	</a>

	<div class="blog-detail__share share-links share-links-blog">
	  
	  <a data-name="Facebook" class="share-link blog-detail__share-icon icon-facebook-circle-small share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.elbphilharmonie.de/en/mediatheque/elbphilharmonie-innerview-silvan-strau/739" target="_blank" title="Share on Facebook">Share on Facebook</a>
	  <a data-name="Twitter" class="share-link blog-detail__share-icon icon-twitter-circle-small share-twitter" href="https://twitter.com/share?url=https%3A//www.elbphilharmonie.de/en/mediatheque/elbphilharmonie-innerview-silvan-strau/739&text=Elbphilharmonie%20Innerview%3A%20Silvan%20Strau%C3%9F - %C2%BBMusic%20has%20a%20lot%20to%20do%20with%20dreams%C2%AB%20%E2%80%93%20Hamburg%20drummer%20Silvan%20Strau%C3%9F%20talks%20about%20how%20he%20found%20his%20way%20on%20to%20the%20stage%2C%20and%20about%20the%20special%20power%20that%20music%20has." target="_blank" title="Share on Twitter">Share on Twitter</a>
	  <a data-name="WhatsApp" class="share-link blog-detail__share-icon icon-whatsapp-circle-small only-desktop" href="https://web.whatsapp.com/send?text=This%20article%20on%20www.elbphilharmonie.com%20may%20be%20of%20interest%20to%20you%3A%0A%0AElbphilharmonie%20Innerview%3A%20Silvan%20Strau%C3%9F%0A%0A%C2%BBMusic%20has%20a%20lot%20to%20do%20with%20dreams%C2%AB%20%E2%80%93%20Hamburg%20drummer%20Silvan%20Strau%C3%9F%20talks%20about%20how%20he%20found%20his%20way%20on%20to%20the%20stage%2C%20and%20about%20the%20special%20power%20that%20music%20has.%0A%0A%23Innerview%20%23Interview%20%23Jazz%20%23Portrait%20%0A%0Ahttps%3A//www.elbphilharmonie.de/en/mediatheque/elbphilharmonie-innerview-silvan-strau/739" target="_blank" title="Send via WhatsApp">Send via WhatsApp</a>
	  <a data-name="WhatsApp" class="share-link blog-detail__share-icon icon-whatsapp-circle-small only-mobile" href="whatsapp://send?text=This%20article%20on%20www.elbphilharmonie.com%20may%20be%20of%20interest%20to%20you%3A%0A%0AElbphilharmonie%20Innerview%3A%20Silvan%20Strau%C3%9F%0A%0A%C2%BBMusic%20has%20a%20lot%20to%20do%20with%20dreams%C2%AB%20%E2%80%93%20Hamburg%20drummer%20Silvan%20Strau%C3%9F%20talks%20about%20how%20he%20found%20his%20way%20on%20to%20the%20stage%2C%20and%20about%20the%20special%20power%20that%20music%20has.%0A%0A%23Innerview%20%23Interview%20%23Jazz%20%23Portrait%20%0A%0Ahttps%3A//www.elbphilharmonie.de/en/mediatheque/elbphilharmonie-innerview-silvan-strau/739" title="Send via WhatsApp">Send via WhatsApp</a>
	  <a data-name="Email" class="share-link blog-detail__share-icon icon-email-circle-small" href="mailto:?subject=Recommendation%3A%20%20Elbphilharmonie%20Innerview%3A%20Silvan%20Strau%C3%9F&body=This%20article%20on%20www.elbphilharmonie.com%20may%20be%20of%20interest%20to%20you%3A%0A%0AElbphilharmonie%20Innerview%3A%20Silvan%20Strau%C3%9F%0A%0A%C2%BBMusic%20has%20a%20lot%20to%20do%20with%20dreams%C2%AB%20%E2%80%93%20Hamburg%20drummer%20Silvan%20Strau%C3%9F%20talks%20about%20how%20he%20found%20his%20way%20on%20to%20the%20stage%2C%20and%20about%20the%20special%20power%20that%20music%20has.%0A%0A%23Innerview%20%23Interview%20%23Jazz%20%23Portrait%20%0A%0Ahttps%3A//www.elbphilharmonie.de/en/mediatheque/elbphilharmonie-innerview-silvan-strau/739" title="Send by email">Send by email</a>
	  
	</div>
	</div>

</section>


  <div class="spacer"></div>

  <article class="blog-detail-content">
	






	<div class="grid-container section-container fluid">
		<div class="grid-x grid-margin-x align-center cms-row " id="container-102269">
		
			<div class="cell cms-col">
				
				
					
					




<%@mediatheque.contents.a.slice_when {|i, j| i >= j }.each do |contents|%>

	<div class="grid-container section-container">
		<div class="grid-x grid-margin-x align-center cms-row " id="container-102270">
		
			<div class="cell medium-10 large-3 small-order-2 large-order-1 cms-col">
				<%=(render "mycontent", content: contents.select{|x| x.myorder == 1}[0]) if contents.select{|x| x.myorder == 1}[0]%>
				
				
			</div>
		
			<div class="cell medium-10 large-6 small-order-1 large-order-2 cms-col">
				
				
			<%=(render "mycontent", content: contents.select{|x| x.myorder == 2}[0]) if contents.select{|x| x.myorder == 2}[0]%>		
					







	






					
				
				
			</div>
		
			<div class="cell medium-10 large-3 small-order-3 large-order-3 cms-col">
			<%=(render "mycontent",content: contents.select{|x| x.myorder == 3}[0]) if contents.select{|x| x.myorder == 3}[0]%>	
				
				
			</div>
		
		</div>
	</div>
                            <%end%>
	






					
				
					
					










					
				
				
			</div>
		
		</div>
	</div>
	<div class="spacer"></div>






  </article>
<!-- end:content-container -->


<div id="search_content_end_1"></div>


<section id="blog-teasers" class="blog-teasers grid-container">
	<h2>
		<span class="preline light">
			Mediatheque
		</span>
		<span class="show-for-sr">:</span>
		More stories
	</h2>
	
	<div class="teaser-grid-module three-cols">
		<div class="blog__list grid-x grid-margin-x">
<%=render collection: @blogitems, as: :blog, partial: "blogitem"%>			
				
			
				
			
				
			
			
		</div>
	</div>


</section>

<div class="spacer"></div>

	<style>
		.broken-fullscreen {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 60px;
			line-height: 50px;
			color: #fff;
			width: 100%;
			text-align: center;
		}
	</style>


      

<aside class="merklist-modal">
	<div class="merklist-modal__wrapper">
		<button class="merklist-modal__close js-merklist-modal__close" type="button" title="Close"></button>
    <!-- MODAL: login -->
    <div class="merklist-modal__content" data-modal="login">
      <p class="merklist-modal__title line-center h3">Saved events</p>
      <p class="merklist-modal__text">Login required. If you do not have an Elbphilharmonie customer account, registering is quick and easy.</p>
      <div class="merklist-modal__button">
        <a href="#" class="button link link-default merklist-modal__account">Log in or register</a>
      </div>
    </div>
    <!-- MODAL: alert check -->
    <div class="merklist-modal__content" data-modal="alert" style="display: none;">
      <p class="merklist-modal__title line-center h3">Your selection</p>
      <label  class="merklist-modal__label">
      <input type="radio" name="alert" class="merklist-modal__radio" value="1">
        <span>Add to saved events</span>
      </label>
      <label class="merklist-modal__label">
      <input type="radio" name="alert" class="merklist-modal__radio" value="2" checked>
        <span>Activate ticket alert</span>
        <span class="merklist-modal__text">You will receive an email alert one day before tickets go on sale.</span>
      </label>
      <div class="merklist-modal__button">
        <button type="button" class="button link link-default merklist-modal__save">Confirm</button>
      </div>
    </div>
    <!-- MODAL: alert uncheck -->
    <div class="merklist-modal__content" data-modal="uncheck" style="display: none;">
      <p class="merklist-modal__title line-center h3">Edit events saved</p>
      <label class="merklist-modal__label">
        <input type="radio" name="uncheck" class="merklist-modal__radio" value="1" checked>
        <span>Deactivate ticket alert</span>
      </label>
      <label  class="merklist-modal__label">
        <input type="radio" name="uncheck" class="merklist-modal__radio" value="DELETE">
        <span>Remove event from my saved events</span>
      </label>
      <div class="merklist-modal__button">
        <button type="button" class="button link link-default merklist-modal__save">Confirm</button>
      </div>
    </div>
	</div>
</aside>

      <aside class="blog__lightbox">
  <div class="blog__lightbox-container">
    <button class="blog__lightbox-close" title="Close modal"></button>
    <div class="blog__lightbox-wrapper">
      <iframe src="" frameborder="0" id="blog-iframe" class="blog__lightbox-iframe" allow="fullscreen"></iframe>
    </div>
  </div>
</aside>

		</main>

