<main class="content-container">
			
	

	<header class="grid-container event-detail-head">
		<div class="grid-x grid-x-margin">
			<div class="cell relative">
				<div class="grid-x">
					
						<div class="cell auto shrink date">
							<span class="caption">
								<time datetime="2022-09-28T00:00:00+02:00">
									<strong>Wed, 28 Sep 2022 – Sun, 23 Apr 2023</strong>
									
										
									
								</time>
							</span>
						</div>
					
					
						<div class="cell auto shrink place">
							
								<span class="caption uppercase">
									
								</span>
							
						</div>
					
				</div>
				<div class="grid-x grid-margin-x">
					<div class="cell large-8">
						<div id="search_content_start_1"></div>
						<h1 class="event-title no-line">
							Chamber Music at the Laeiszhalle
						</h1>
						
							<p class="event-subtitle subline" role="doc-subtitle">
								Individually they are all world-class soloists, together they make up all-star chamber music formations in a class of their own. »Chamber Music in the Laeiszhalle« brings together great names in an intimate setting and four very different line-ups.
							</p>
						
						<div id="search_content_end_1"></div>
					</div>
				</div>
        <div class="grid-x grid-margin-x event-head-bottom" data-event-id="4483">
					<div class="cell xlarge-shrink event-functions">
						<ul class="grid-x grid-margin-x">
							
                
							
							<li class="cell shrink event__function event__function--1 ">
								<button class="event__function-button event-share" aria-expanded="false">Share</button>
								<div class="event__function-content share" aria-hidden="true">
									
									<ul class="event__function-list link-list share-links  share-links-event">
										<li class="event__function-item">
											<a data-name="Facebook" class="share-link event__function-link link link-default share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank">
												<i class="icon icon-share-facebook"></i> Facebook
											</a>
										</li>
										<li class="event__function-item">
											<a data-name="Twitter" class="share-link event__function-link link link-default share-twitter" href="https://twitter.com/share?url=&text=Wed%2C%2028%20Sep%202022%200:00%20Chamber%20Music%20at%20the%20Laeiszhalle" target="_blank">
												<i class="icon icon-share-twitter"></i> Twitter
											</a>
										</li>
										<li class="event__function-item only-desktop share-whatsapp">
											<a data-name="WhatsApp" class="share-link event__function-link link link-default" href="https://web.whatsapp.com/send?text=I%20found%20this%20on%20www.elbphilharmonie.com%3A%0A%0AChamber%20Music%20at%20the%20Laeiszhalle%0AIndividually%20they%20are%20all%20world-class%20soloists%2C%20together%20they%20make%20up%20all-star%20chamber%20music%20formations%20in%20a%20class%20of%20their%20own.%20%C2%BBChamber%20Music%20in%20the%20Laeiszhalle%C2%AB%20brings%20together%20great%20names%20in%20an%20intimate%20setting%20and%20four%20very%20different%20line-ups.%0A%0AIt%20includes%20the%20following%20events%3A%0A%0A%0AWed%2C%2028%20Sep%202022%2020%3A00%0ALaeiszhalle%20Kleiner%20Saal%0AMidori%20/%20Antoine%20Lederlin%20/%20Jonathan%20Biss%0ABeethoven%3A%20Piano%20Trios%0A%0ASun%2C%2013%20Nov%202022%2020%3A00%0ALaeiszhalle%20Kleiner%20Saal%0AMartin%20Fr%C3%B6st%20/%20Antoine%20Tamestit%20/%20Shai%20Wosner%0AWorks%20by%20Wolfgang%20Amadeus%20Mozart%2C%20Gabriel%20Faur%C3%A9%20and%20Johannes%20Brahms%0A%0ASat%2C%2014%20Jan%202023%2020%3A00%0ALaeiszhalle%20Kleiner%20Saal%0AEmmanuel%20Pahud%20/%20Amihai%20Grosz%20/%20Anneleen%20Lenaerts%0AIbert%20/%20Smetana%20/%20Debussy%20/%20Britten%20/%20Ravel%0A%0ASun%2C%2023%20Apr%202023%2020%3A00%0ALaeiszhalle%20Kleiner%20Saal%0ASchumann%20Quartett%20/%20Anna%20Vinnitskaya%0ASchumann%20/%20Chopin%0A%0Ahttps%3A//www.elbphilharmonie.de/en/series/chamber-music-at-the-laeiszhalle/826" target="_blank">
											<i class="icon icon-share-whatsapp"></i> WhatsApp
											</a>
										</li>
										<li class="event__function-item only-mobile share-whatsapp">
											<a data-name="WhatsApp" class="share-link event__function-link link link-default" href="whatsapp://send?text=I%20found%20this%20on%20www.elbphilharmonie.com%3A%0A%0AChamber%20Music%20at%20the%20Laeiszhalle%0AIndividually%20they%20are%20all%20world-class%20soloists%2C%20together%20they%20make%20up%20all-star%20chamber%20music%20formations%20in%20a%20class%20of%20their%20own.%20%C2%BBChamber%20Music%20in%20the%20Laeiszhalle%C2%AB%20brings%20together%20great%20names%20in%20an%20intimate%20setting%20and%20four%20very%20different%20line-ups.%0A%0AIt%20includes%20the%20following%20events%3A%0A%0A%0AWed%2C%2028%20Sep%202022%2020%3A00%0ALaeiszhalle%20Kleiner%20Saal%0AMidori%20/%20Antoine%20Lederlin%20/%20Jonathan%20Biss%0ABeethoven%3A%20Piano%20Trios%0A%0ASun%2C%2013%20Nov%202022%2020%3A00%0ALaeiszhalle%20Kleiner%20Saal%0AMartin%20Fr%C3%B6st%20/%20Antoine%20Tamestit%20/%20Shai%20Wosner%0AWorks%20by%20Wolfgang%20Amadeus%20Mozart%2C%20Gabriel%20Faur%C3%A9%20and%20Johannes%20Brahms%0A%0ASat%2C%2014%20Jan%202023%2020%3A00%0ALaeiszhalle%20Kleiner%20Saal%0AEmmanuel%20Pahud%20/%20Amihai%20Grosz%20/%20Anneleen%20Lenaerts%0AIbert%20/%20Smetana%20/%20Debussy%20/%20Britten%20/%20Ravel%0A%0ASun%2C%2023%20Apr%202023%2020%3A00%0ALaeiszhalle%20Kleiner%20Saal%0ASchumann%20Quartett%20/%20Anna%20Vinnitskaya%0ASchumann%20/%20Chopin%0A%0Ahttps%3A//www.elbphilharmonie.de/en/series/chamber-music-at-the-laeiszhalle/826">
												<i class="icon icon-share-whatsapp"></i> WhatsApp
											</a>
										</li>
										<li class="event__function-item share-mail">
											<a data-name="Email" class="share-link event__function-link link link-default" href="mailto:?subject=Recommendation%3A%20Chamber%20Music%20at%20the%20Laeiszhalle&body=I%20found%20this%20on%20www.elbphilharmonie.com%3A%0A%0AChamber%20Music%20at%20the%20Laeiszhalle%0AIndividually%20they%20are%20all%20world-class%20soloists%2C%20together%20they%20make%20up%20all-star%20chamber%20music%20formations%20in%20a%20class%20of%20their%20own.%20%C2%BBChamber%20Music%20in%20the%20Laeiszhalle%C2%AB%20brings%20together%20great%20names%20in%20an%20intimate%20setting%20and%20four%20very%20different%20line-ups.%0A%0AIt%20includes%20the%20following%20events%3A%0A%0A%0AWed%2C%2028%20Sep%202022%2020%3A00%0ALaeiszhalle%20Kleiner%20Saal%0AMidori%20/%20Antoine%20Lederlin%20/%20Jonathan%20Biss%0ABeethoven%3A%20Piano%20Trios%0A%0ASun%2C%2013%20Nov%202022%2020%3A00%0ALaeiszhalle%20Kleiner%20Saal%0AMartin%20Fr%C3%B6st%20/%20Antoine%20Tamestit%20/%20Shai%20Wosner%0AWorks%20by%20Wolfgang%20Amadeus%20Mozart%2C%20Gabriel%20Faur%C3%A9%20and%20Johannes%20Brahms%0A%0ASat%2C%2014%20Jan%202023%2020%3A00%0ALaeiszhalle%20Kleiner%20Saal%0AEmmanuel%20Pahud%20/%20Amihai%20Grosz%20/%20Anneleen%20Lenaerts%0AIbert%20/%20Smetana%20/%20Debussy%20/%20Britten%20/%20Ravel%0A%0ASun%2C%2023%20Apr%202023%2020%3A00%0ALaeiszhalle%20Kleiner%20Saal%0ASchumann%20Quartett%20/%20Anna%20Vinnitskaya%0ASchumann%20/%20Chopin%0A%0Ahttps%3A//www.elbphilharmonie.de/en/series/chamber-music-at-the-laeiszhalle/826">
											<i class="icon icon-share-mail"></i> Email
											</a>
										</li>
									</ul>
									
								</div>
							</li>

							
              
						</ul>
					</div>

					

					
						<div class="cell xlarge-auto event-status">
							





	




<div class="sale-status status-box">
	
		<span class="ticket-and-prices">
			



	<a class="link link-ticket button large"
	   href="/en/series/ticket/chamber-music-at-the-laeiszhalle/826"
	   

	

	
		
	

	>

		<!--  --><span>Subscriptions from €</span><span class="price-from"><span>32</span></span>

	</a>

			
		</span>
	
	
</div>

<div class="presale sale-status status-box" style="display: none;">
  <span class="ticket-and-prices">
    



	<a class="link link-ticket button large"
	   href="/en/series/ticket/chamber-music-at-the-laeiszhalle/826"
	   

	

	
		
	

	>

		<!--  --><span>Subscriptions from €</span><span class="price-from"><span>32</span></span>

	</a>

    
  </span>
</div>

						</div>
					
				</div>
			</div>
		</div>
	</header>

	
		<div class="cell xlarge-auto event-sticky">
			





	




<div class="sale-status status-box">
	
		<span class="ticket-and-prices">
			



	<a class="link link-ticket button large"
	   href="/en/series/ticket/chamber-music-at-the-laeiszhalle/826"
	   

	

	
		
	

	>

		<!--  --><span>Subscriptions from €</span><span class="price-from"><span>32</span></span>

	</a>

			
		</span>
	
	
</div>

<div class="presale sale-status status-box" style="display: none;">
  <span class="ticket-and-prices">
    



	<a class="link link-ticket button large"
	   href="/en/series/ticket/chamber-music-at-the-laeiszhalle/826"
	   

	

	
		
	

	>

		<!--  --><span>Subscriptions from €</span><span class="price-from"><span>32</span></span>

	</a>

    
  </span>
</div>

		</div>
	

	<aside class="grid-container slideshow-media-container">
		<div class="slideshow-media slideshow-event">
			
				<figure class="slide has-dark-gradient">
					<picture>
						<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/c6/75/c675e6d4-ba46-47cb-a02d-e587a8509062/froest_martin_foto_mats_baecker3.jpg__686x387_q85_crop_subject_location-831%2C703_subsampling-2_upscale.jpg">
						<source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/c6/75/c675e6d4-ba46-47cb-a02d-e587a8509062/froest_martin_foto_mats_baecker3.jpg__948x533_q85_crop_subject_location-831%2C703_subsampling-2_upscale.jpg">
						<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/c6/75/c675e6d4-ba46-47cb-a02d-e587a8509062/froest_martin_foto_mats_baecker3.jpg__1420x695_q85_crop_subject_location-831%2C703_subsampling-2_upscale.jpg" alt="Martin Fröst" title="Martin Fröst © Mats Baecker">
					</picture>
					<figcaption class="image-caption">Martin Fröst © Mats Baecker</figcaption>
				</figure>
			
		</div>
	</aside>
	<div class="spacer"></div>

	




	

<section class="event-detail-content grid-container">
	<div id="search_content_start_2"></div>
	<div class="grid-x grid-margin-x align-center">
		<div class="cell medium-10 large-8 xxlarge-7">
			
			
				<p>Individually they are all world-class soloists, together they make up all-star chamber music formations in a class of their own: the »Chamber Music in the Laeiszhalle« series brings together great names such as Midori, Martin Fröst, Emmanuel Pahud and Anna Vinnitskaya in an intimate setting and in four very different line-ups.</p>
			
			
		</div>
		<div class="cell xxlarge-1">
		</div>
	</div>
	
		<div class="spacer"></div>
	

	

	<div class="grid-x grid-margin-x align-center">
		<div class="cell medium-10 large-8">
			<div class="grid-x grid-margin-x">

				

				

				

				

				

				

				

				

				

				
					<div class="cell block-promoters">
						
							<p>Promoter: HamburgMusik</p>
						
						
							<p>Supported by the Freundeskreis Elbphilharmonie + Laeiszhalle e.V. </p>
						
						<div class="spacer"></div>
					</div>
				

				

			</div>
		</div>
	</div>

	<div id="search_content_end_2"></div>
</section>


	


<%=render collection: @subscription.videos, partial: "video", as: :video%>
<%=render collection: @subscription.spotifies, partial: "iframespotify", as: :video%>
<div class="spacer"></div>



	<div id="search_content_start_3"></div>

  <div id="program-section">
	<!-- begin: #2554 -->
	
	<!-- end: #2554 -->

	
		<section class="grid-container booking-list-page distribution-js">

			

			<div class="grid-x grid-margin-x align-center">
				<div class="cell large-10 xlarge-12">
					<ul class="event-list">
						




		<li id="event_id_000000e900106902" data-event-id="26680" class="event-item" data-categories="[]"><div class="grid-x grid-margin-x"><div class="cell xlarge-2"><div class="grid-x grid-margin-x date-and-place"><div class="cell small-6 medium-4 xlarge-12 date-cell"><div><span class="indicator-line" data-line></span></div><span class="caption"><time datetime="2022-09-28T20:00:00+02:00"><strong class="date nobreak">Wed, 28 Sep 2022</strong><span class="time">20:00</span></time></span></div><div class="cell small-6 medium-8 xlarge-12 place-cell"><span class="caption uppercase"><strong>Laeiszhalle</strong> Kleiner Saal
							</span></div></div></div><div class="cell medium-4 hide-for-small-only image-cell"><a href="/en/whats-on/midori-antoine-lederlin-jonathan-biss/18296" tabindex="-1" class="event-image-link"><picture aria-hidden="true"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2e/65/2e65c79c-d81a-4c21-b3c1-629c95612cac/midori_01_c_timothy_greenfield-sanders.jpg__219x164_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2e/65/2e65c79c-d81a-4c21-b3c1-629c95612cac/midori_01_c_timothy_greenfield-sanders.jpg__392x294_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2e/65/2e65c79c-d81a-4c21-b3c1-629c95612cac/midori_01_c_timothy_greenfield-sanders.jpg__442x328_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg" alt=""></picture><picture class="blurry show-for-medium"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2e/65/2e65c79c-d81a-4c21-b3c1-629c95612cac/midori_01_c_timothy_greenfield-sanders.jpg__219x164_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2e/65/2e65c79c-d81a-4c21-b3c1-629c95612cac/midori_01_c_timothy_greenfield-sanders.jpg__392x294_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2e/65/2e65c79c-d81a-4c21-b3c1-629c95612cac/midori_01_c_timothy_greenfield-sanders.jpg__442x328_q85_crop_subject_location-960%2C640_subsampling-2_upscale.jpg" alt="Midori" title="Midori © Timothy Greenfield-Sanders"></picture></a></div><div class="cell medium-8 xlarge-6 grid-y align-justify event-main"><div class="cell"><p class="event-title h2 no-line"><a href="/en/whats-on/midori-antoine-lederlin-jonathan-biss/18296">
								Midori / Antoine Lederlin / Jonathan Biss
							</a></p><p class="event-subtitle">Beethoven: Piano Trios</p></div><div class="cell status-info grid-x align-justify align-bottom"><div class="cell small-12 large-shrink "><button class="event__bookmark" 
                       type="button" 
                       data-alert="false"
                       data-id="000000e9:00106902" 
                       data-name="Wed, 28 Sep 2022 - Midori / Antoine Lederlin / Jonathan Biss"><i class="event__bookmark-icon icon icon-merken-star" data-bookmark-icon-off="icon-merken-star" data-bookmark-icon-on="icon-merken-star-blue"></i><span class="event__bookmark-text " 
                        data-bookmark-text-off='Save for later' 
                        data-bookmark-text-on='<strong>Event saved</strong>' 
                        data-bookmark-alert-off='Save for later / Ticket alert'
                        data-bookmark-alert-one-on='<strong>Event saved /</strong> Ticket alert'
                        data-bookmark-alert-two-on='<strong>Event saved / Ticket alert activated</strong>'
                   >Save for later</span>&nbsp;
                </button></div><!-- <span></span> --><div class="cell small-1 large-auto"></div><div class="cell shrink text-right"><div class="sale-status status-box"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/midori-antoine-lederlin-jonathan-biss/18296"
	   data-name="Midori / Antoine Lederlin / Jonathan Biss - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>22</span></span></a></span></div><div class="presale sale-status status-box" style="display: none;"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/midori-antoine-lederlin-jonathan-biss/18296"
	   data-name="Midori / Antoine Lederlin / Jonathan Biss - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>22</span></span></a></span></div></div></div></div></div></li>


		<li id="event_id_000000e9000f1e35" data-event-id="26678" class="event-item" data-categories="[]"><div class="grid-x grid-margin-x"><div class="cell xlarge-2"><div class="grid-x grid-margin-x date-and-place"><div class="cell small-6 medium-4 xlarge-12 date-cell"><div><span class="indicator-line" data-line></span></div><span class="caption"><time datetime="2022-11-13T20:00:00+01:00"><strong class="date nobreak">Sun, 13 Nov 2022</strong><span class="time">20:00</span></time></span></div><div class="cell small-6 medium-8 xlarge-12 place-cell"><span class="caption uppercase"><strong>Laeiszhalle</strong> Kleiner Saal
							</span></div></div></div><div class="cell medium-4 hide-for-small-only image-cell"><a href="/en/whats-on/martin-frost-antoine-tamestit-shai-wosner/18240" tabindex="-1" class="event-image-link"><picture aria-hidden="true"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/14/05/1405e793-9560-4659-9d33-75a5fd28f6ae/martin_froest_c_mats_baecker_sony_music_entertainment_1.jpg__219x164_q85_crop_subject_location-512%2C1079_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/14/05/1405e793-9560-4659-9d33-75a5fd28f6ae/martin_froest_c_mats_baecker_sony_music_entertainment_1.jpg__392x294_q85_crop_subject_location-512%2C1079_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/14/05/1405e793-9560-4659-9d33-75a5fd28f6ae/martin_froest_c_mats_baecker_sony_music_entertainment_1.jpg__442x328_q85_crop_subject_location-512%2C1079_subsampling-2_upscale.jpg" alt=""></picture><picture class="blurry show-for-medium"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/14/05/1405e793-9560-4659-9d33-75a5fd28f6ae/martin_froest_c_mats_baecker_sony_music_entertainment_1.jpg__219x164_q85_crop_subject_location-512%2C1079_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/14/05/1405e793-9560-4659-9d33-75a5fd28f6ae/martin_froest_c_mats_baecker_sony_music_entertainment_1.jpg__392x294_q85_crop_subject_location-512%2C1079_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/14/05/1405e793-9560-4659-9d33-75a5fd28f6ae/martin_froest_c_mats_baecker_sony_music_entertainment_1.jpg__442x328_q85_crop_subject_location-512%2C1079_subsampling-2_upscale.jpg" alt="Martin Fröst" title="Martin Fröst © Mats Baecker"></picture></a></div><div class="cell medium-8 xlarge-6 grid-y align-justify event-main"><div class="cell"><p class="event-title h2 no-line"><a href="/en/whats-on/martin-frost-antoine-tamestit-shai-wosner/18240">
								Martin Fröst / Antoine Tamestit / Shai Wosner
							</a></p><p class="event-subtitle">Works by Wolfgang Amadeus Mozart, Gabriel Fauré and Johannes Brahms</p></div><div class="cell status-info grid-x align-justify align-bottom"><div class="cell small-12 large-shrink "><button class="event__bookmark" 
                       type="button" 
                       data-alert="false"
                       data-id="000000e9:000f1e35" 
                       data-name="Sun, 13 Nov 2022 - Martin Fröst / Antoine Tamestit / Shai Wosner"><i class="event__bookmark-icon icon icon-merken-star" data-bookmark-icon-off="icon-merken-star" data-bookmark-icon-on="icon-merken-star-blue"></i><span class="event__bookmark-text " 
                        data-bookmark-text-off='Save for later' 
                        data-bookmark-text-on='<strong>Event saved</strong>' 
                        data-bookmark-alert-off='Save for later / Ticket alert'
                        data-bookmark-alert-one-on='<strong>Event saved /</strong> Ticket alert'
                        data-bookmark-alert-two-on='<strong>Event saved / Ticket alert activated</strong>'
                   >Save for later</span>&nbsp;
                </button></div><!-- <span></span> --><div class="cell small-1 large-auto"></div><div class="cell shrink text-right"><div class="sale-status status-box"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/martin-frost-antoine-tamestit-shai-wosner/18240"
	   data-name="Martin Fröst / Antoine Tamestit / Shai Wosner - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>22</span></span></a></span></div><div class="presale sale-status status-box" style="display: none;"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/martin-frost-antoine-tamestit-shai-wosner/18240"
	   data-name="Martin Fröst / Antoine Tamestit / Shai Wosner - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>22</span></span></a></span></div></div></div></div></div></li>


		<li id="event_id_000000e900101e92" data-event-id="26679" class="event-item" data-categories="[]"><div class="grid-x grid-margin-x"><div class="cell xlarge-2"><div class="grid-x grid-margin-x date-and-place"><div class="cell small-6 medium-4 xlarge-12 date-cell"><div><span class="indicator-line" data-line></span></div><span class="caption"><time datetime="2023-01-14T20:00:00+01:00"><strong class="date nobreak">Sat, 14 Jan 2023</strong><span class="time">20:00</span></time></span></div><div class="cell small-6 medium-8 xlarge-12 place-cell"><span class="caption uppercase"><strong>Laeiszhalle</strong> Kleiner Saal
							</span></div></div></div><div class="cell medium-4 hide-for-small-only image-cell"><a href="/en/whats-on/emmanuel-pahud-amihai-grosz-anneleen-lenaerts/18292" tabindex="-1" class="event-image-link"><picture aria-hidden="true"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/78/7d/787d8974-02e6-4ab3-bb5b-50db68435ffa/emmanuel_pahud_c_josef_fischnaller_2.jpg__219x164_q85_crop_subject_location-1070%2C631_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/78/7d/787d8974-02e6-4ab3-bb5b-50db68435ffa/emmanuel_pahud_c_josef_fischnaller_2.jpg__392x294_q85_crop_subject_location-1070%2C631_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/78/7d/787d8974-02e6-4ab3-bb5b-50db68435ffa/emmanuel_pahud_c_josef_fischnaller_2.jpg__442x328_q85_crop_subject_location-1070%2C631_subsampling-2_upscale.jpg" alt=""></picture><picture class="blurry show-for-medium"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/78/7d/787d8974-02e6-4ab3-bb5b-50db68435ffa/emmanuel_pahud_c_josef_fischnaller_2.jpg__219x164_q85_crop_subject_location-1070%2C631_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/78/7d/787d8974-02e6-4ab3-bb5b-50db68435ffa/emmanuel_pahud_c_josef_fischnaller_2.jpg__392x294_q85_crop_subject_location-1070%2C631_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/78/7d/787d8974-02e6-4ab3-bb5b-50db68435ffa/emmanuel_pahud_c_josef_fischnaller_2.jpg__442x328_q85_crop_subject_location-1070%2C631_subsampling-2_upscale.jpg" alt="Emmanuel Pahud" title="Emmanuel Pahud © Josef Fischnaller"></picture></a></div><div class="cell medium-8 xlarge-6 grid-y align-justify event-main"><div class="cell"><p class="event-title h2 no-line"><a href="/en/whats-on/emmanuel-pahud-amihai-grosz-anneleen-lenaerts/18292">
								Emmanuel Pahud / Amihai Grosz / Anneleen Lenaerts
							</a></p><p class="event-subtitle">Ibert / Smetana / Debussy / Britten / Ravel</p></div><div class="cell status-info grid-x align-justify align-bottom"><div class="cell small-12 large-shrink "><button class="event__bookmark" 
                       type="button" 
                       data-alert="false"
                       data-id="000000e9:00101e92" 
                       data-name="Sat, 14 Jan 2023 - Emmanuel Pahud / Amihai Grosz / Anneleen Lenaerts"><i class="event__bookmark-icon icon icon-merken-star" data-bookmark-icon-off="icon-merken-star" data-bookmark-icon-on="icon-merken-star-blue"></i><span class="event__bookmark-text " 
                        data-bookmark-text-off='Save for later' 
                        data-bookmark-text-on='<strong>Event saved</strong>' 
                        data-bookmark-alert-off='Save for later / Ticket alert'
                        data-bookmark-alert-one-on='<strong>Event saved /</strong> Ticket alert'
                        data-bookmark-alert-two-on='<strong>Event saved / Ticket alert activated</strong>'
                   >Save for later</span>&nbsp;
                </button></div><!-- <span></span> --><div class="cell small-1 large-auto"></div><div class="cell shrink text-right"><div class="sale-status status-box"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/emmanuel-pahud-amihai-grosz-anneleen-lenaerts/18292"
	   data-name="Emmanuel Pahud / Amihai Grosz / Anneleen Lenaerts - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>22</span></span></a></span></div><div class="presale sale-status status-box" style="display: none;"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/emmanuel-pahud-amihai-grosz-anneleen-lenaerts/18292"
	   data-name="Emmanuel Pahud / Amihai Grosz / Anneleen Lenaerts - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>22</span></span></a></span></div></div></div></div></div></li>


		<li id="event_id_000000e90010f202" data-event-id="26681" class="event-item" data-categories="[]"><div class="grid-x grid-margin-x"><div class="cell xlarge-2"><div class="grid-x grid-margin-x date-and-place"><div class="cell small-6 medium-4 xlarge-12 date-cell"><div><span class="indicator-line" data-line></span></div><span class="caption"><time datetime="2023-04-23T20:00:00+02:00"><strong class="date nobreak">Sun, 23 Apr 2023</strong><span class="time">20:00</span></time></span></div><div class="cell small-6 medium-8 xlarge-12 place-cell"><span class="caption uppercase"><strong>Laeiszhalle</strong> Kleiner Saal
							</span></div></div></div><div class="cell medium-4 hide-for-small-only image-cell"><a href="/en/whats-on/schumann-quartett-anna-vinnitskaya/18315" tabindex="-1" class="event-image-link"><picture aria-hidden="true"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/47/98/4798fdb0-8a9c-40d8-8606-aa23221f576a/vinnitskaya_anna_foto_marco_borggreve_4.jpg__219x164_q85_crop_subject_location-1667%2C2096_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/47/98/4798fdb0-8a9c-40d8-8606-aa23221f576a/vinnitskaya_anna_foto_marco_borggreve_4.jpg__392x294_q85_crop_subject_location-1667%2C2096_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/47/98/4798fdb0-8a9c-40d8-8606-aa23221f576a/vinnitskaya_anna_foto_marco_borggreve_4.jpg__442x328_q85_crop_subject_location-1667%2C2096_subsampling-2_upscale.jpg" alt=""></picture><picture class="blurry show-for-medium"><source media="(max-width: 640px)" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg=="><source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/47/98/4798fdb0-8a9c-40d8-8606-aa23221f576a/vinnitskaya_anna_foto_marco_borggreve_4.jpg__219x164_q85_crop_subject_location-1667%2C2096_subsampling-2_upscale.jpg"><source media="(max-width: 1440px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/47/98/4798fdb0-8a9c-40d8-8606-aa23221f576a/vinnitskaya_anna_foto_marco_borggreve_4.jpg__392x294_q85_crop_subject_location-1667%2C2096_subsampling-2_upscale.jpg"><img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/47/98/4798fdb0-8a9c-40d8-8606-aa23221f576a/vinnitskaya_anna_foto_marco_borggreve_4.jpg__442x328_q85_crop_subject_location-1667%2C2096_subsampling-2_upscale.jpg" alt="Anna Vinnitskaya" title="Anna Vinnitskaya © Marco Borggreve"></picture></a></div><div class="cell medium-8 xlarge-6 grid-y align-justify event-main"><div class="cell"><p class="event-title h2 no-line"><a href="/en/whats-on/schumann-quartett-anna-vinnitskaya/18315">
								Schumann Quartett / Anna Vinnitskaya
							</a></p><p class="event-subtitle">Schumann / Chopin</p></div><div class="cell status-info grid-x align-justify align-bottom"><div class="cell small-12 large-shrink "><button class="event__bookmark" 
                       type="button" 
                       data-alert="false"
                       data-id="000000e9:0010f202" 
                       data-name="Sun, 23 Apr 2023 - Schumann Quartett / Anna Vinnitskaya"><i class="event__bookmark-icon icon icon-merken-star" data-bookmark-icon-off="icon-merken-star" data-bookmark-icon-on="icon-merken-star-blue"></i><span class="event__bookmark-text " 
                        data-bookmark-text-off='Save for later' 
                        data-bookmark-text-on='<strong>Event saved</strong>' 
                        data-bookmark-alert-off='Save for later / Ticket alert'
                        data-bookmark-alert-one-on='<strong>Event saved /</strong> Ticket alert'
                        data-bookmark-alert-two-on='<strong>Event saved / Ticket alert activated</strong>'
                   >Save for later</span>&nbsp;
                </button></div><!-- <span></span> --><div class="cell small-1 large-auto"></div><div class="cell shrink text-right"><div class="sale-status status-box"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/schumann-quartett-anna-vinnitskaya/18315"
	   data-name="Schumann Quartett / Anna Vinnitskaya - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>10</span></span></a></span></div><div class="presale sale-status status-box" style="display: none;"><span class="ticket-and-prices"><a class="link link-ticket"
	   href="/en/whats-on/ticket/schumann-quartett-anna-vinnitskaya/18315"
	   data-name="Schumann Quartett / Anna Vinnitskaya - Order tickets regardless"

	

	
		
	

	><!--  --><span>Tickets <span class="price-from">from €</span></span><span class="price-from"><span>10</span></span></a></span></div></div></div></div></div></li>








					</ul>
				</div>
			</div>
		</section>
		<div class="spacer"></div>
	
	
  </div>

	




	<div id="search_content_end_3"></div>

	
		
			<section class="grid-container">
        
          <div class="grid-x grid-margin-x align-center">
            <div class="cell medium-10 large-8">
              <h2>Booking a Subscription</h2>
              <ul class="accordion" data-accordion>
                
	<li class="accordion-item" role="tab" data-accordion-item>
		<a href="#online-by-phone-or-in-person-16" class="accordion-title">
			Online, by phone or in person
		</a>
		<div class="accordion-content" data-tab-content id="online-by-phone-or-in-person-16">
			<p>Receive information about Elbphilharmonie and Laeiszhalle (promoter: HamburgMusik), NDR, Symphoniker Hamburg, Ensemble Resonanz, Kammermusikfreunde (Friends of Chamber Music) and the International Mendelssohn Festival subscriptions online at <a href="https://www.elbphilharmonie.de/en/subscriptions" target="_self">www.elbphilharmonie.de/en/subscriptions</a>, by phone under +49 40 357 666 66 or at the <a href="https://www.elbphilharmonie.de/en/ticketing-information#ticket-shops" target="_self">Ticket Shops</a>.</p>
		</div>
	</li>

	<li class="accordion-item" role="tab" data-accordion-item>
		<a href="#discounts-4" class="accordion-title">
			Discounts
		</a>
		<div class="accordion-content" data-tab-content id="discounts-4">
			<p>All aged 30 and under have the added benefit of an economically priced youth subscription – for most series, only €10 per concert.</p>

<p>People who are severely disabled: if the letter B is noted on your disabled pass, the person accompanying you receives a free subscription seat (bookable by phone under +49 40 357 666 66, by email to <a href="mailto:barrierefrei@elbphilharmonie.de" target="_self">barrierefrei@elbphilharmonie.de</a> or in person at the Elbphilharmonie’s ticket shops).</p>

<p>As a subscriber, you receive a discount of 10% off a maximum of two individually booked tickets for many more concerts in the current season. As soon as you have paid for your subscription you can make use of your 10% discount.</p>
		</div>
	</li>

	<li class="accordion-item" role="tab" data-accordion-item>
		<a href="#renewal-no-problem-2" class="accordion-title">
			Renewal: no problem
		</a>
		<div class="accordion-content" data-tab-content id="renewal-no-problem-2">
			<p>A subscription is valid for the selected series in season and will be renewed for a further season automatically, unless written notice&nbsp;to terminate the renewal is given by 30 June of the current season (exception: the Symphoniker Hamburg's Hasi Concerts).</p>
		</div>
	</li>

	<li class="accordion-item" role="tab" data-accordion-item>
		<a href="#clash-of-appointments-swop-or-transfer-3" class="accordion-title">
			Clash of appointments? Swop or transfer!
		</a>
		<div class="accordion-content" data-tab-content id="clash-of-appointments-swop-or-transfer-3">
			<p>If you are unable to attend a concert in your subscription series, a voucher will be issued, which you may then redeem for your chosen concert of the same promoter (exceptions:&nbsp;NDR Bigband, NDR Jazz, NDR Choir and NDR Chamber Music Recitals series as well as the Symphoniker Hamburg’s »Hasi Concerts«).</p>

<p>Only one swop is accepted per subscription and season. Swops can only be executed within season. You must give notice of a swop request in person or by phone one week before the concert at the latest.</p>

<p>The right to attend the subscribed concerts can also be transferred to third parties.</p>
		</div>
	</li>

	<li class="accordion-item" role="tab" data-accordion-item>
		<a href="#choosing-your-seat-11" class="accordion-title">
			Choosing your seat
		</a>
		<div class="accordion-content" data-tab-content id="choosing-your-seat-11">
			<p>Are you curious to find out what kind of view of the stage different seats have? To help select your favourite seat, use your mouse to activate the <a href="/ticketinformationen#ihr-sitzplatz" target="_self">representative seat views</a>.</p>
		</div>
	</li>

	<li class="accordion-item" role="tab" data-accordion-item>
		<a href="#free-travel-to-concerts-with-hvv-6" class="accordion-title">
			Free travel to concerts with HVV
		</a>
		<div class="accordion-content" data-tab-content id="free-travel-to-concerts-with-hvv-6">
			<p>On the respective date of the event, the subscription card is valid for one journey to the venue and the corresponding return journey within the A–F zones of the Hamburger Verkehrsverbund (HVV).</p>
		</div>
	</li>

	<li class="accordion-item" role="tab" data-accordion-item>
		<a href="#terms-conditions-of-sale-14" class="accordion-title">
			Terms &amp; Conditions of Sale
		</a>
		<div class="accordion-content" data-tab-content id="terms-conditions-of-sale-14">
			<p>View the Terms &amp; Conditions for subscriptions <a href="https://wtn6.elbphilharmonie.de/static/Terms-Conditions.pdf" target="_self">here</a>.</p>
		</div>
	</li>


              </ul>
            </div>
          </div>
        
			</section>
			<div class="spacer"></div>
		

		
			<%if @subscription.as_?(Subscription)%>
<%=render "adsubscription"%>
                        
<%end%>
		

	

	


<article class="grid-container" id="mediathek">
	<div class="grid-x grid-margin-x align-center">
		<div class="cell">
			<h2>
				<span class="preline light">
					From the Mediatheque
				</span>
				<span class="show-for-sr">:</span>
				Videos, Podcasts, Articles
			</h2>
			<div class="spacer small"></div>
		</div>
	</div>
	<div class="blog-teasers">
		
	<div class="teaser-grid-module three-cols">
		<div class="blog__list grid-x grid-margin-x">
			
				<div class="cell medium-10 xlarge-4">
					


<div class="blog__item blog__item--small blog__item--video tag-sessions tag-contemporary-music tag-laeiszhalle ">
	

	
		<figure class="blog__image">
			
				<a href="/en/mediatheque/elbphilharmonie-sessions-szymanowski-quartet-lifits/322" class="blog__link" aria-hidden="true" tabindex="-1">
			
				
					<div class="blog__image-wrapper">
						<picture class="blog__image-view" aria-hidden="true">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/ce/1f/ce1ff352-0f3f-49da-9ff1-f864eaea3ce5/191020_szymanovski_quartett_michail_liftis_c_daniel_dittus_51_web.jpg__452x409_q85_crop_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/ce/1f/ce1ff352-0f3f-49da-9ff1-f864eaea3ce5/191020_szymanovski_quartett_michail_liftis_c_daniel_dittus_51_web.jpg__110x99_q85_crop_subsampling-2_upscale.jpg" alt="" data-image-loading>
						</picture>
						<picture class="blog__image-blurry">
							<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/ce/1f/ce1ff352-0f3f-49da-9ff1-f864eaea3ce5/191020_szymanovski_quartett_michail_liftis_c_daniel_dittus_51_web.jpg__452x409_q85_crop_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/ce/1f/ce1ff352-0f3f-49da-9ff1-f864eaea3ce5/191020_szymanovski_quartett_michail_liftis_c_daniel_dittus_51_web.jpg__110x99_q85_crop_subsampling-2_upscale.jpg" alt="Elbphilharmonie Sessions: Szymanowski Quartet / Lifits" title="Szymanowski Quartet &amp; Michail Lifits © Daniel Dittus" data-image-loading>
						</picture>
					</div>
					<div class="blog__image-line" data-line></div>
				
			
				</a>
			
	

		
			<a href="https://www.youtube.com/embed/pyg65e40X9E?autoplay=true" title="Szymanowski Quartet &amp; Michail Lifits © Daniel Dittus" class="blog__image-overlay blog__iframe play-btn fancybox-various fancybox-blog-stream " data-lightbox>
				<span class="show-for-sr">Play Video</span>
				<span class="blog__play" aria-hidden="true">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124 124">
						<circle fill="#FF7800" fill-opacity=".25" stroke="#FF7800" stroke-width="4" cx="62" cy="62" r="60"/>
						<path fill="#FF7800" d="M53 45.6l24 15-24 15v-30z"/>
					</svg>
				</span>
			</a>
		

	
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				
					<span class="preline">
						
						<span class="show-for-sr">:</span>
					</span>
					
				
				<a href="/en/mediatheque/elbphilharmonie-sessions-szymanowski-quartet-lifits/322" class="detail-link" data-name="Watch now - Elbphilharmonie Sessions: Szymanowski Quartet / Lifits">
					<span class="inner-title">Elbphilharmonie Sessions: Szymanowski Quartet / Lifits</span>
				</a>
			</h3>
			<p class="blog__description">
				Mieczysław Weinberg’s Piano Quintet Op. 18 from the Laeiszhalle Recital Hall
				
					<a href="/en/mediatheque/tag/sessions" class="tag article-tag" data-name="#Sessions">#Sessions</a>
				
					<a href="/en/mediatheque/tag/contemporary-music" class="tag article-tag" data-name="#ContemporaryMusic">#ContemporaryMusic</a>
				
					<a href="/en/mediatheque/tag/laeiszhalle" class="tag article-tag" data-name="#Laeiszhalle">#Laeiszhalle</a>
				
			</p>
			
				<div class="blog__button">
					<a href="/en/mediatheque/elbphilharmonie-sessions-szymanowski-quartet-lifits/322" class="link link-default detail-link" data-name="Watch now - Elbphilharmonie Sessions: Szymanowski Quartet / Lifits" aria-hidden="true" tabindex="-1">Watch now</a>
				</div>
			
		</div>

	
</div><!-- /.teaser-box -->

				</div>
			
			
				<div class="cell medium-10 xlarge-4">
					





	<div class="blog__item blog__item--small">
		<figure class="blog__image">
			<a href="/en/mediatheque/tag/laeiszhalle" class="blog__link" aria-hidden="true" tabindex="-1">
				<div class="blog__image-wrapper">
					<picture class="blog__image-view" aria-hidden="true">
						<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/02/2f/022f8d54-831d-4e05-8a85-e7d5c4afcef3/laeiszhalle_c_maxim_schulz_2.jpg__452x409_q85_crop_subject_location-951%2C741_subsampling-2_upscale.jpg">
						<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/02/2f/022f8d54-831d-4e05-8a85-e7d5c4afcef3/laeiszhalle_c_maxim_schulz_2.jpg__110x99_q85_crop_subject_location-951%2C741_subsampling-2_upscale.jpg" alt="" data-image-loading>
					</picture>
					<picture class="blog__image-blurry">
						<source media="(min-width: 48em)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/02/2f/022f8d54-831d-4e05-8a85-e7d5c4afcef3/laeiszhalle_c_maxim_schulz_2.jpg__452x409_q85_crop_subject_location-951%2C741_subsampling-2_upscale.jpg">
						<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/02/2f/022f8d54-831d-4e05-8a85-e7d5c4afcef3/laeiszhalle_c_maxim_schulz_2.jpg__110x99_q85_crop_subject_location-951%2C741_subsampling-2_upscale.jpg" alt="Stories with the hashtag #Laeiszhalle"
							 title="Laeiszhalle © Maxim Schulz" data-image-loading>
					</picture>
				</div>
				<div class="blog__image-line" data-line></div>
			</a>
		</figure><!-- /.image-container -->

		<div class="blog__text">
			<h3 class="blog__text-title no-line">
				<a href="/en/mediatheque/tag/laeiszhalle" class="detail-link" data-name="Stories with the hashtag #Laeiszhalle">
					<span class="inner-title">Stories with the hashtag #Laeiszhalle</span>
				</a>
			</h3>
			<p class="blog__description">
				Exciting content from the historic Laeiszhalle in the mediatheque.
				<a href="/en/mediatheque/tag/laeiszhalle" class="tag article-tag" data-name="#Laeiszhalle">
					#Laeiszhalle
				</a>
			</p>
			<div class="blog__button">
				<a href="/en/mediatheque/tag/laeiszhalle" class="link link-default detail-link" data-name="Stories with the hashtag #Laeiszhalle"
				   aria-hidden="true" tabindex="-1">
					View articles
				</a>
			</div>
		</div>
	</div><!-- /.teaser-box -->


				</div>
			
		</div>
	</div>


	</div>
	<div class="spacer"></div>
</article>



      

<aside class="merklist-modal">
	<div class="merklist-modal__wrapper">
		<button class="merklist-modal__close js-merklist-modal__close" type="button" title="Close"></button>
    <!-- MODAL: login -->
    <div class="merklist-modal__content" data-modal="login">
      <p class="merklist-modal__title line-center h3">Saved events</p>
      <p class="merklist-modal__text">Login required. If you do not have an Elbphilharmonie customer account, registering is quick and easy.</p>
      <div class="merklist-modal__button">
        <a href="#" class="button link link-default merklist-modal__account">Log in or register</a>
      </div>
    </div>
    <!-- MODAL: alert check -->
    <div class="merklist-modal__content" data-modal="alert" style="display: none;">
      <p class="merklist-modal__title line-center h3">Your selection</p>
      <label  class="merklist-modal__label">
      <input type="radio" name="alert" class="merklist-modal__radio" value="1">
        <span>Add to saved events</span>
      </label>
      <label class="merklist-modal__label">
      <input type="radio" name="alert" class="merklist-modal__radio" value="2" checked>
        <span>Activate ticket alert</span>
        <span class="merklist-modal__text">You will receive an email alert one day before tickets go on sale.</span>
      </label>
      <div class="merklist-modal__button">
        <button type="button" class="button link link-default merklist-modal__save">Confirm</button>
      </div>
    </div>
    <!-- MODAL: alert uncheck -->
    <div class="merklist-modal__content" data-modal="uncheck" style="display: none;">
      <p class="merklist-modal__title line-center h3">Edit events saved</p>
      <label class="merklist-modal__label">
        <input type="radio" name="uncheck" class="merklist-modal__radio" value="1" checked>
        <span>Deactivate ticket alert</span>
      </label>
      <label  class="merklist-modal__label">
        <input type="radio" name="uncheck" class="merklist-modal__radio" value="DELETE">
        <span>Remove event from my saved events</span>
      </label>
      <div class="merklist-modal__button">
        <button type="button" class="button link link-default merklist-modal__save">Confirm</button>
      </div>
    </div>
	</div>
</aside>

      <aside class="blog__lightbox">
  <div class="blog__lightbox-container">
    <button class="blog__lightbox-close" title="Close modal"></button>
    <div class="blog__lightbox-wrapper">
      <iframe src="" frameborder="0" id="blog-iframe" class="blog__lightbox-iframe" allow="fullscreen"></iframe>
    </div>
  </div>
</aside>

		</main>

		
