<div class="grid-container section-container">
		<div class="grid-x grid-margin-x align-center cms-row " id="container-99742">
		
			<div class="cell medium-10 large-3 small-order-2 large-order-1  cms-col">
				
				
				
			</div>
		
			<div class="cell medium-10 large-6 small-order-1 large-order-2  cms-col">
				
				
					
					







	<h2 id="headline-99746" class="headline-module">
		Programme
		
	</h2>







					
				
					
					





<div id="text-99747" class="text-module">
	
		<p><strong>Hans Abrahamsen</strong><br>
Vers le silence</p>

<p>- Interval -</p>

<p><strong>Clara Schumann</strong><br>
Piano Concerto in A minor, Op. 7</p>

<p>&nbsp;</p>

<p><strong>Johannes Brahms</strong><br>
Symphony No. 3 in F major, Op. 90</p>
	
</div>





					
				
				
			</div>
		
			<div class="cell medium-10 large-3 small-order-3 large-order-3  cms-col">
				
				
				
			</div>
		
		</div>
	</div>
