<div class="grid-container section-container with-spacer">
		<div class="grid-x grid-margin-x align-center cms-row " id="container-99736">
		
			<div class="cell medium-10 large-3 small-order-2 large-order-1  cms-col">
				
				
				
			</div>
		
			<div class="cell medium-10 large-6 small-order-1 large-order-2  cms-col">
				
				
					
					







	<h2 id="headline-99740" class="headline-module">
		Performers
		
	</h2>







					
				
					
					





<div id="text-99741" class="text-module">
	
		<p><strong>Symphonieorchester des Bayerischen Rundfunks</strong></p>

<p><strong>Beatrice Rana</strong>&ensp;piano</p>

<p>conductor&ensp;<strong>Yannick Nézet-Séguin</strong></p>
	
</div>





					
				
				
			</div>
		
			<div class="cell medium-10 large-3 small-order-3 large-order-3  cms-col">
				
				
				
			</div>
		
		</div>
	</div>
<div class="spacer"></div>
