<div class="grid-container section-container">
		<div class="grid-x grid-margin-x align-center cms-row " id="container-99753">
		
			<div class="cell medium-10 large-8  cms-col">
				
				
					
					





	<div class="grid-container section-container fluid slideshow-media-container media-slider-module">
		<div class="slideshow-media has-background slick-initialized slick-slider slick-dotted"><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 5285px; transform: translate3d(-1057px, 0px, 0px);"><div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1" style="width: 931px;"><div><div class="slide " style="width: 100%; display: inline-block;">
						<div class="grid-container section-container text-container">
							
								
							
						</div>
						<picture class="media">
							<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2b/b5/2bb5f8d9-2962-4e44-b639-d18f74cc0bb6/yannick_nezet-seguin_c_hans_van_der_woerd_sw.jpg__686x387_q85_crop_subject_location-786%2C347_subsampling-2_upscale.jpg">
							<source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2b/b5/2bb5f8d9-2962-4e44-b639-d18f74cc0bb6/yannick_nezet-seguin_c_hans_van_der_woerd_sw.jpg__948x533_q85_crop_subject_location-786%2C347_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2b/b5/2bb5f8d9-2962-4e44-b639-d18f74cc0bb6/yannick_nezet-seguin_c_hans_van_der_woerd_sw.jpg__1794x897_q85_crop_subject_location-786%2C347_subsampling-2_upscale.jpg" title="Yannick Nézet-Séguin © Hans van der Woerd" alt="Yannick Nézet-Séguin">
						</picture>
						
							<span class="image-caption">Yannick Nézet-Séguin © Hans van der Woerd</span>
						
					</div></div></div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 931px;"><div><div class="slide " style="width: 100%; display: inline-block;">
						<div class="grid-container section-container text-container">
							
								
							
						</div>
						<picture class="media">
							<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/6d/44/6d440f51-c6a1-4ef0-9e1c-0bd36178951b/beatrice_rana_c_simon_fowler_6_1.jpg__686x387_q85_crop_subject_location-832%2C594_subsampling-2_upscale.jpg">
							<source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/6d/44/6d440f51-c6a1-4ef0-9e1c-0bd36178951b/beatrice_rana_c_simon_fowler_6_1.jpg__948x533_q85_crop_subject_location-832%2C594_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/6d/44/6d440f51-c6a1-4ef0-9e1c-0bd36178951b/beatrice_rana_c_simon_fowler_6_1.jpg__1794x897_q85_crop_subject_location-832%2C594_subsampling-2_upscale.jpg" title="Beatrice Rana © Simon Fowler" alt="Beatrice Rana">
						</picture>
						
							<span class="image-caption">Beatrice Rana © Simon Fowler</span>
						
					</div></div></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 931px;" tabindex="-1"><div><div class="slide " style="width: 100%; display: inline-block;">
						<div class="grid-container section-container text-container">
							
								
							
						</div>
						<picture class="media">
							<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2b/b5/2bb5f8d9-2962-4e44-b639-d18f74cc0bb6/yannick_nezet-seguin_c_hans_van_der_woerd_sw.jpg__686x387_q85_crop_subject_location-786%2C347_subsampling-2_upscale.jpg">
							<source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2b/b5/2bb5f8d9-2962-4e44-b639-d18f74cc0bb6/yannick_nezet-seguin_c_hans_van_der_woerd_sw.jpg__948x533_q85_crop_subject_location-786%2C347_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2b/b5/2bb5f8d9-2962-4e44-b639-d18f74cc0bb6/yannick_nezet-seguin_c_hans_van_der_woerd_sw.jpg__1794x897_q85_crop_subject_location-786%2C347_subsampling-2_upscale.jpg" title="Yannick Nézet-Séguin © Hans van der Woerd" alt="Yannick Nézet-Séguin">
						</picture>
						
							<span class="image-caption">Yannick Nézet-Séguin © Hans van der Woerd</span>
						
					</div></div></div><div class="slick-slide slick-cloned" data-slick-index="2" id="" aria-hidden="true" tabindex="-1" style="width: 931px;"><div><div class="slide " style="width: 100%; display: inline-block;">
						<div class="grid-container section-container text-container">
							
								
							
						</div>
						<picture class="media">
							<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/6d/44/6d440f51-c6a1-4ef0-9e1c-0bd36178951b/beatrice_rana_c_simon_fowler_6_1.jpg__686x387_q85_crop_subject_location-832%2C594_subsampling-2_upscale.jpg">
							<source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/6d/44/6d440f51-c6a1-4ef0-9e1c-0bd36178951b/beatrice_rana_c_simon_fowler_6_1.jpg__948x533_q85_crop_subject_location-832%2C594_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/6d/44/6d440f51-c6a1-4ef0-9e1c-0bd36178951b/beatrice_rana_c_simon_fowler_6_1.jpg__1794x897_q85_crop_subject_location-832%2C594_subsampling-2_upscale.jpg" title="Beatrice Rana © Simon Fowler" alt="Beatrice Rana">
						</picture>
						
							<span class="image-caption">Beatrice Rana © Simon Fowler</span>
						
					</div></div></div><div class="slick-slide slick-cloned" data-slick-index="3" id="" aria-hidden="true" tabindex="-1" style="width: 931px;"><div><div class="slide " style="width: 100%; display: inline-block;">
						<div class="grid-container section-container text-container">
							
								
							
						</div>
						<picture class="media">
							<source media="(max-width: 640px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2b/b5/2bb5f8d9-2962-4e44-b639-d18f74cc0bb6/yannick_nezet-seguin_c_hans_van_der_woerd_sw.jpg__686x387_q85_crop_subject_location-786%2C347_subsampling-2_upscale.jpg">
							<source media="(max-width: 1024px)" srcset="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2b/b5/2bb5f8d9-2962-4e44-b639-d18f74cc0bb6/yannick_nezet-seguin_c_hans_van_der_woerd_sw.jpg__948x533_q85_crop_subject_location-786%2C347_subsampling-2_upscale.jpg">
							<img src="https://d3c80vss50ue25.cloudfront.net/media/filer_public_thumbnails/filer_public/2b/b5/2bb5f8d9-2962-4e44-b639-d18f74cc0bb6/yannick_nezet-seguin_c_hans_van_der_woerd_sw.jpg__1794x897_q85_crop_subject_location-786%2C347_subsampling-2_upscale.jpg" title="Yannick Nézet-Séguin © Hans van der Woerd" alt="Yannick Nézet-Séguin">
						</picture>
						
							<span class="image-caption">Yannick Nézet-Séguin © Hans van der Woerd</span>
						
					</div></div></div></div></div><ul class="slick-dots" style="" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 2" tabindex="0" aria-selected="true">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 2" tabindex="-1">2</button></li></ul></div>
	</div>
	<div class="spacer"></div>






					
				
				
			</div>
		
		</div>
	</div>
