
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<title>Registration successful</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#212121">
<meta name="msapplication-TileColor" content="#212121">
<meta name="theme-color" content="#ffffff">
<style>
@import url("//hello.myfonts.net/count/30a561");
</style>
<link rel="stylesheet" href="/assets-prod/styles-public.58764847.css"><script src="/assets-prod/app-public.2c42d386.js" defer></script></head>
<body>


    

<header class="form">
    <div class="title" style="background-image: url(<%=@project.image%>)">
        <h1>Registration successful</h1>
                <span class="copyright">© Claudia Höhne</span>
    </div>
</header>

<%=yield%>

<footer>
    <a href="https://www.elbphilharmonie.de/en/legal" target="_blank">Legal</a>
    <a href="https://www.elbphilharmonie.com/" target="_blank">elbphilharmonie.com</a>
</footer>

</body>
</html>

